.row {
  max-width: 64rem;
}

.min-height-inherit {
  min-height: inherit;
}

.site-title {
  @extend .font-secondary;
  @extend .text-secondary3;
  @extend .link-hover-secondary3;

  display: block;
  font-size: rem-calc(57);
  margin: 1rem 0;

  letter-spacing: 1px;
  line-height:rem-calc(57);
  width: initial !important;
  word-break: break-all;
}

.fa-bars {
  font-size: rem-calc(57);
  margin: 1rem;
}

.full-bleed {
  &.short {
    overflow: hidden;
    max-height: 20rem;
  }
  
  &.medium {
    overflow: hidden;
    max-height: 40rem;
  }

  &.tall {
    overflow: hidden;
    max-height: 60rem;
  }
  
  &.underlay {
    position: fixed;
    left: 0;
    right: 0;
  }

  //&.fade-white {
  //  &:after {
  //    @include absolute();
  //    @include background-image(linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)));
  //
  //    content: "";
  //    display: block;
  //
  //  }
  //}

  img {
    width: 100%;
  }
}

.posts {
  background-color: rgba(255, 255, 255, .5);
  position: relative;

}