.row {
  max-width: 64rem;
}

.min-height-inherit {
  min-height: inherit;
}

.site-title {
  @extend .font-secondary;
  @extend .text-secondary0;
  @extend .link-hover-secondary0;

  display: block;
  font-size: 5rem;
  margin: 1rem 0;

  font-weight: 700;
  letter-spacing: -6px;
  line-height:rem-calc(57);
  width: initial !important;
  word-break: break-all;
}

.fa-bars {
  font-size: rem-calc(57);
  margin: 1rem;
}

.full-bleed {
  &.short {
    overflow: hidden;
    max-height: 10rem;
  }
  
  &.medium {
    overflow: hidden;
    max-height: 20rem;
  }

  &.tall {
    overflow: hidden;
    max-height: 40rem;
  }
  
  &.underlay {
    position: absolute;
    left: 0;
    right: 0;
  }

  img {
    width: 100%;
  }

  hr {
    @include absolute(inherit, -5000px, inherit, -5000px);
  }
}

.blurred {
  position: relative;
  
  &:after {
    @include absolute();
    
    display: block;
    background: gold;
    z-index: 1;
    
  }
}

