#notifications-wrapper {
  position: fixed;
  width: 20rem;
  left: 50%;
  margin-left: -10rem;
  z-index: 99;
}

.notifications {
  @mixin notification($background) {
    color: getColor(white0);
    background-color: getColor($background);

    h3 {
      color: getColor(white0);
    }
  }
  .notify {
    @include notification(notify);
  }

  .error {
    @include notification(error);
  }

  .success {
    @include notification(success);
  }

  .warning {
    @include notification(warning);
  }

  .dr-notification-wrapper {
    opacity: .95;
  }

  .dr-notification-image {
    display: none;
  }

  .dr-notification-content {
    padding: 0.5rem;

    h3 {
      @extend .text-small;
    }

    p {
      @extend .text-x-small;

      margin: 0;
    }
  }
}