#posts {
  padding: 1rem;

  hr {
    border-style: dotted;
    border-color: rgba(0, 0, 0, .1);
    margin: .5rem 0;
  }

  .post {


    .post-title {
      @extend .text-medium;
      @extend .font-flair;

      line-height: 2rem;
    }

    .excerpt {
      margin-bottom: -1rem;
    }
  }

  .post-block-tertiary {
    @extend .margin-zero;

    >li {
      border-color: getColor(secondary5);
      border-style: dotted;
      border-width: 0 0 1px 0;
      clear: both;
      overflow: hidden;

    }

  }

  .post-left, .post-right {
    @extend .column;
    @extend .small-12;
    @extend .medium-6;
    @extend .margin-vertical-large;
  }

  .post-details {
    overflow: hidden;

    .author-name {
      @extend .text-secondary0;

      font-weight: bold;
      margin-right: 1rem;
      text-transform: uppercase;

    }

    .publish-date {
      @extend .text-secondary5;

    }
    
    .social {
      float: right;
      margin-bottom: 0;

      li {
        margin-left: .5rem;
      }
    }
  }




}

@media #{$screen} and (max-width: #{upper-bound($small-range)}) {
  .post-block-secondary {
    margin: 0;

    > li {
      border-color: getColor(secondary5);
      border-style: dotted;
      border-width: 0 0 1px 0;
      clear: both;
      padding: 0;

    }
  }
}

@media #{$screen} and (min-width:#{lower-bound($medium-range)}) {
  #posts {
    .post-block-secondary {

      .post-left, .post-right {
        width: initial;
      }
      .post-title {
        font-size: .75rem;
        min-height: 2rem;
        line-height: 1rem;

      }
      .publish-date {
        float: right;
      }
    }
  }
}

