#posts {
  padding: 1rem;

  hr {
    border-style: dotted;
    border-color: rgba(0, 0, 0, .1);
    margin: .5rem 0;
  }

  .post {
    &.post-block-primary {
      .post-title {
        @extend .text-x-large;
        line-height: 2rem;

      }

    }

    &.post-block-secondary {
      @extend .medium-block-grid-4;
      @extend .small-block-grid-1;

      .post-title {
        @extend .text-small;
      }
    }

    &.post-block-tertiary {
      .post-title {
        @extend .text-medium;
      }
    }

    .post-title {
      @extend .text-medium;
      @extend .font-flair;

      line-height: 2rem;
    }
  }

  .post-details {
    margin-bottom: 1rem;

    .author-name {
      @extend .text-secondary0;

      font-weight: bold;
      margin-right: 1rem;
      text-transform: uppercase;

    }

    .publish-date {
      @extend .text-secondary5;

    }
    
    .social {
      float: right;

      li {
        margin-left: .5rem;
      }
    }
  }




}

