node_modules
dist
.tmp
.sass-cache
.idea
.DS_STORE
app/lib

assets
newrelic.js
newrelic_agent.log

config/*
bin/*
certs/*
nginx/*
logs/*
uploads/*
resize/*

themes/*
!themes/quiver
themes/quiver/static/lib/*
themes/quiver/views/*.alt.handlebars

!themes/fit
themes/fit/static/lib/*
themes/fit/views/*.alt.handlebars

!bin/*.dist
!certs/snakeoil*
!nginx/default
!config/default.json

