node_modules
dist
.tmp
.sass-cache
.idea
.DS_STORE
app/lib
assets/ssl
newrelic.js
newrelic_agent.log
bin/*
certs/*
nginx/*
logs/*
uploads/*
resize/*
themes/Quiver/static/env.js
themes/Quiver/static/lib/*
config/*
themes/Quiver/views/*.alt.handlebars

!bin/*.dist
!certs/snakeoil*
!nginx/default
!config/default.json

