.dark-form {

  .dark-wrapper {
    @extend .clearfix;
    @extend .background-highlight3;
  }

  .title {
    @extend .text-white;
    @extend .padding-medium;
    @extend .background-highlight1;
    @extend .margin-zero;
  }

  fieldset {
    @extend .margin-horizontal-medium;
    @extend .padding-zero;

    border: none;    
    margin-left: 2rem;
    margin-right: 2rem;

  }

  a, a:hover {
    @extend .text-white;
  }
}
