.dark-form {

  .dark-wrapper {
    @extend .clearfix;
    @extend .background-highlight4;
  }

  .title {
    @extend .text-white0;
    @extend .padding-vertical-medium;
    @extend .padding-horizontal-medium;
    @extend .background-black0;
    @extend .margin-zero;
  }

  fieldset {
    @extend .margin-horizontal-medium;
    @extend .padding-zero;

    border: none;    
    margin-left: 2rem;
    margin-right: 2rem;

  }

  a, a:hover {
    @extend .text-white0;
  }
}
