fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

md-input-container {
    &.next-to-select {
        margin-bottom: 26px;
    }
}

md-checkbox {
    .md-label {
        margin-left: 1rem;
    }
}