button,
select,
html,
textarea,
input {
    @extend .font-primary;
}

a {
    color: inherit;
}

.clearfix {
    @include clearfix;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
    &:hover {
        cursor: default;
    }
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.disabled,
[disabled] {
    cursor: default;
    pointer-events: none;
    a {
        cursor: default;
        pointer-events: none;
    }
}

.disabled {
    opacity: .5;
    a {
        opacity: .5;
    }
}

a {
    &.disabled, &[disabled] {
        cursor: default;
        pointer-events: none;
    }
}

.relative {
    position: relative;
}

.circle {
    border-radius: 50%;
}

.delete-button {
    @extend .circle;
    @include absolute(-.5rem, -.5rem, initial, initial);
    display: block;
    padding: 0rem .5rem;
    .left {
        left: -.5rem;
        right: initial;
    }
}

video,
img {
    max-width: 100%;
}

.social-button {
    @extend .circle;
    padding: .25rem .6rem;
    i {
        min-width: 1rem;
        text-align: center;
    }
}

.avatar {
    $avatar-width: 3rem;
    @extend .circle;
    display: block;
    max-width: $avatar-width;
    max-height: $avatar-width;
    img {
        @extend .circle;
        max-width: $avatar-width;
        max-height: $avatar-width;
    }
}

md-whiteframe > * {
    max-width: 100%;
}