.inline-list {
  &> li {
    &> button {
      margin-top: 4px;
    }

  }

  &.no-margin {
    &>li:first-child {
      margin-left: 0;
    }
  }

  &.slashes {
    li {
      &:last-of-type:after {
        content: "";
      }
      &:after {
        content: "/";
        margin-left: 1rem;
      }

    }
  }

  &.dots {
    li {
      &:last-of-type:after {
        content: "";
      }
      &:after {
        content: "•";
        margin-left: 1rem;
      }

    }
  }

  &.commas {
    li {
      &:last-of-type:after {
        content: "";
      }
      &:after {
        content: ",";
      }

    }
  }

}
