.row {
  max-width: 64rem;
}

.top-bar {
	.row {
		max-width: 64rem;	
	}
}

.min-height-inherit {
  min-height: inherit;
}

.overlay {

  &.bottom {
    @include absolute(inherit, 0, -1px, 0);
  }
}

.centered-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
