.qv-lightbox {
  &.open {
    @extend .background-highlight5;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    .marquee {
      @extend .column;
      @extend .small-12;
      // @extend .medium-9;

      @extend .padding-large;

      display: flex;
      justify-content: center;
      align-items: center;
      
      height: 66%;
      position: relative;

      img {
        @extend .background-white0;

        display: block;
        margin: auto;
        max-height: 100%;
      }

      .floating-button {
        

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        font-size: 10rem;
        position: relative;
        height: 100%;
        
        &:hover {
          @extend .background-secondary4;
          @extend .text-primary0;
        }
        

      }

      .prev, .next {
        cursor: pointer;
      }
    }

    .drawer {
      @extend .show-for-medium-up;
      @extend .column;
      @extend .small-12;
      // @extend .medium-4;

      @extend .padding-medium;

      height: 33%;
      overflow: auto;
      position: relative;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;

      & > ul, & > ol {
        & > li {
          clear: none !important;
          float: left;
          max-width: 150px; 
          padding: .5rem;
        }
      }

      .selected {
        @extend .background-highlight0;
      }
      
    }

  }

  li {
    cursor: pointer;

    img {
      @extend .background-white0;
    }
  }
  
}