.qv-modal {
  display: none;

  &.open {
    @extend .background-highlight5;

    display: block;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .modal-content {
    @extend .background-white0;
    @extend .padding-large;
    height: 90%;
    width: 80%;
    overflow: auto;
    position: relative;
  }
  
}