.qv-progress {
  position: relative;

  @extend .text-white;

  .meter {
    @extend .background-secondary0;
    
    @include absolute(0, initial, 0, 0);

    z-index: 1;
  }

  .meter-text {
    position: relative;
    z-index: 2;
  }

}

.backdrop {
  @include absolute();
}