.qv-progress {
  @extend .progress;

  height: initial;
}

.side-nav {
  .qv-progress {
    height: initial;
    position: relative;

    @extend .text-white;

    .meter {
      @include absolute(0, initial, initial, 0);

      z-index: 1;
    }

    .meter-text {
      position: relative;
      z-index: 2;
    }

  }

}