.table-list {
  margin-left: 0;

  &.striped {
    > li {
      overflow: hidden;

      &.no-stripe {
        background-color: inherit !important;
      }

      &:nth-of-type(odd) {
        @extend .background-secondary4;
      }

    }
  }

  &.hover {
    > li {
      @extend .text-hover-white0;
      @extend .link-hover-white0;
      @extend .link-primary0;
      @extend .background-hover-secondary5-important;

      & > a {
        @extend .background-hover-primary2-important;
      }

      &.table-list-header {
        @extend .text-hover-primary0;

        &:hover {
          @extend .background-secondary4-important;
        }
      }

      &.no-hover:hover {
        background-color: inherit !important;
      }

      > a, > a:visited {
        @extend .text-hover-white0;
      }
    }
  }

  &.padded {
    > li {
      @extend .padding-small;

      &.no-pad {
        padding: inherit !important;
      }
    }
  }

  &.link-padded {
   > li > a {
      @extend .padding-small;
      @extend .clearfix;

      display: block;

      &.no-pad {
        padding: inherit !important;
      }
    }

    > li {
      &.no-pad {
        padding: inherit !important;
      }
    }
  }

  &.label-padded {
    > li  {
      @extend .padding-small;
      @extend .clearfix;

      position: relative;

      > label {
        @extend .padding-small;
        @include absolute();
      }
    }
  }

  li.table-list-header {
    @extend .background-secondary4-important;
    
    font-weight: bold;
    border-bottom: 1px solid getColor(primary0);
  }
}
