table {
  &.no-stripe {
    tr {
      &:nth-of-type(even) {
        background: initial;
      }
    }
  }

  &.padding-vertical-zero {
    tr {
      td {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .row-hover {
    tr:hover {
      @extend .background-primary2;
      @extend .text-white0;
    }
  }
}
