// Weights
.headline {
    @extend .font-secondary;
    @extend .clearfix;

    font-weight: 900;
    &.tight {
        letter-spacing: -3px;
        word-spacing: 5px;
    }
}

.lightest {
    font-weight: 100;
}

.light {
    font-weight: 300;
}

.book {
    font-weight: 500;
}

.bold,
strong {
    font-weight: 900;
}

// Letter spacing
.letter-spacing-small {
    letter-spacing: 1px;
}

.letter-spacing-medium {
    letter-spacing: 2px;   
}

.letter-spacing-large {
    letter-spacing: 3px;   
}

// Transforms
.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.undecorated {
    text-decoration: none;
    color: inherit;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ellipsis {
    text-overflow: ellipsis;
}

// Alignments
.text-left {
    text-align: left;
}

.text-left-important {
    text-align: left !important;
}

.text-right {
    text-align: right;
}

.text-right-important {
    text-align: right !important;
}

.text-center {
    text-align: center;
}

.text-center-important {
    text-align: center !important;
}

// Wraps
.break-word {
    word-wrap: break-word;
}

.break-all {
    word-break: break-all;
}

// Line height
.line-height-1 {
    line-height: 1rem !important;
}

.line-height-2 {
    line-height: 2rem !important;
}

// Sidenav
md-sidenav {
    .md-toolbar-tools {
        font-weight: 900;
    }
    .md-button * {
        font-weight: 900;
        letter-spacing: 1px;
        font-size: .875rem;
    }
}