<md-button ng-click="toggleSidenav('left')" hide-gt-md tabindex="0" aria-label="Toggle left side nav">
    <i class="mdi-action-subject"></i>
</md-button>
<div class="md-toolbar-tools">
    <div layout="row" flex class="fill-height">
        {{#if settings.logo }}
            <a class="logo relative block" href="/" style="{{ settings.logoStyle }}">
                <img src="{{ settings.logo }}">
            </a>
        {{ else }}
            <h2 class="headline tight">
                <a class="undecorated" href="/">{{ settings.siteTitle }}</a>
            </h2>
        {{/if }}
        <span flex></span>
        <div class="md-toolbar-item" ng-show="$storage.cart.productCount">
            <md-button class="md-fab md-mini md-primary md-raised" href="/app/cart" aria-label="View cart">
                <span class="headline relative" ng-bind="$storage.cart.productCount" style="top: -1px; left: 1px;"></span>
                <i class="mdi-action-shopping-cart" style="position: relative; top: 1px;"></i>
            </md-button>
        </div>
        <div class="md-toolbar-item" ng-show="!currentUser">
            <md-button class="margin-horizontal-small" href="/app/login" aria-label="Log in">
                <i class="mdi-action-input"></i> &nbsp;Login
            </md-button>
            <md-button href="/app/register" aria-label="Register">
                Free Registration
            </md-button>
        </div>
        {{!--
        <div layout-align="right" class="md-toolbar-item" ng-show="currentUser">
            <button class="md-button" ng-click="toggleSidenav('right')">
                <i class="mdi-action-settings"></i>
            </button>
        </div> --}}
    </div>
</div>