envVars = {
  "environment": "development",
  "firebase": "https://my-firebase-url.firebaseio.com/quiver-cms",
  "api": "http://127.0.0.1:9800",
  "root": "http://127.0.0.1:9000",
  "email": {
    "from": 'chris@quiver.is',
    "name": 'Chris Esplin'
  },
  "imageSizes": {
    "small": 640,
    "medium": 1024,
    "large": 1440,
    "xlarge": 1920
  },
  "supportedImageTypes": ['jpg', 'jpeg', 'png', 'gif', 'tiff'],
  "supportedVideoTypes": ['mp4', 'webm', 'mpeg', 'ogg']
}

if (typeof module !== 'undefined') {
  module.exports = envVars;
}