.markdown {
    &:focus {
        outline: none;
    }
    p:first-of-type {
        margin-top: 0;
    }
    &.text-small {
        p, li {
            @extend .text-small;
        }
    }
    &.text-x-small {
        p, li {
            @extend .text-x-small;
        }
    }
    ul {
        list-style-type: initial;
    }
    a,
    a:visited {
        color: inherit;
    }
    img {
        display: block;
        margin: 1rem auto;
    }
    p {
        margin: 1rem 0;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 900;
        margin-bottom: 1rem;
    }
    h1 {
        @extend .text-x-large;
    }
    h2 {
        @extend .text-large;
    }
    h3 {
        @extend .text-x-medium;
    }
    h4 {
        @extend .text-medium;
    }
    h5 {
        @extend .text-small;
    }
    h6 {
        @extend .text-x-small;
    }
}