.markdown {
    &:focus {
        outline: none;
    }
    p:first-of-type {
        margin-top: 0;
    }
    &.text-small {
        p, li {
            @extend .text-small;
        }
    }
    &.text-x-small {
        p, li {
            @extend .text-x-small;
        }
    }
    ul {
        list-style-type: initial;
    }
    a,
    a:visited {
        color: inherit;
    }
    img {
        display: block;
        margin: 1rem auto;
    }
}