// Weights

.headline {
  @extend .font-secondary;

  font-weight: 700;

  &.tight {
    letter-spacing: -3px;
  }
}

.lightest {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.book {
  font-weight: 500;
}

.bold, strong {
  font-weight: 700;
}

// Transforms

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.undecorated {
  text-decoration: none;
  color: inherit;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// Alignments

.text-left {
  text-align: left;
}

.text-left-important {
  text-align: left !important;
}

.text-right {
  text-align: right;
}

.text-right-important {
  text-align: right !important;
}

.text-center {
  text-align: center;
}

.text-center-important {
  text-align: center !important;
}