<div id="404" class="row">
  <div class="post column small-12">
      <h3 class="post-title font-flair margin-vertical-large">
          404: Not Found
      </h3>
      <div class="">
        {{ error }}
      </div>

  </div>

</div>