.font-flair {
  @extend .font-secondary;

  font-weight: 700;
}

// Text Transforms
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.bold-important {
  font-weight: 700 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;

  &:hover {
    cursor: default;
  }
}

.disabled {
  cursor: default;

  a {
    cursor: default;
  }
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.disabled {
  opacity: .3;
}

.relative {
  position: relative;
}

.circle {
  border-radius: 50%;
}

.delete-button {
  @extend .circle;

  @include absolute(-.5rem, -.5rem, initial, initial);

  display: block;
  padding: 0rem .5rem;

  .left {
    left: -.5rem;
    right: initial;
  }

}

video, img {
  max-width: 100%;
}

.overflow-hidden {
  overflow: hidden !important;
}

.border-zero {
  border-width: 0;
}

.strong {
  @extend strong;
}

a[disabled] {
    pointer-events: none;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.transition-color {
  transition: color 300ms ease;
}