<div id="404" class="post viewport-minus-header" layout="row" layout-align="center center">
    <div flex="100">
        <h3 class="md-display-3 bold text-center margin-vertical-large">404: Page Not Found</h3>
        <div class="text-center">
            <h4 class="margin-vertical-medium">Sorry you're lost. Maybe try the <a href="/">main page</a>?</h4>
            <iframe src="//giphy.com/embed/uNIE3IMmBMtmE" width="480" height="264" frameBorder="0" style="max-width: 100%" class="giphy-embed" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
    </div>
</div>