{{#if settings.frontPageImage }}
  <div class="full-bleed tall underlay fade-white">
      <img src="{{ settings.frontPageImage }}"/>
  </div>
{{/if }}

<div id="posts" class="posts constrained">
  <section class="posts-primary" layout="column">
    {{#each postBlocks.primary }}
      <div class="post column post-{{ @index }}" flex>
          {{> inline-post }}
      </div>
    {{/each }}
  </section>

  <section class="posts-secondary" layout="column" layout-gt-md="row" layout-wrap>
    {{#each postBlocks.secondary }}
      <div class="post column min-22 post-{{ @index }}" flex>
          {{> inline-post }}
      </div>
    {{/each }}
  </section>

  <section class="posts-tertiary" layout="column">
    {{#each postBlocks.tertiary }}
      <div class="post column post-{{ @index }}" flex>
          {{> inline-post }}
      </div>
    {{/each }}
  </section>
</div>