<div id="page" class="">
  <div class="post column small-12">
      <h3 class="post-title font-flair">
          <a class="link-primary0" href="/{{ post.slug }}">{{ post.title }}</a>
      </h3>
      <div class="post-body">
        {{#markdown}}{{ post.published.markdown }}{{/markdown}}
      </div>

  </div>

</div>