{{!--<div class="full-bleed tall underlay fade-white">--}}
    {{!--<img src="{{ settings.frontPageImage }}"/>--}}
{{!--</div>--}}

<div id="posts" class="posts row">
  <ul class="post-block-tertiary column small-12">
    {{#each posts }}
        <li class="post post-{{ @index }}">
          {{> inline-post }}
        </li>
    {{/each }}
  </ul>

  {{> prev-next }}

</div>