<div layout="row" layout-wrap>
{{#if title }}
  <section class="constrained" layout="row" layout-fill style="margin-bottom: 1rem;">
    {{#if breadcrumbs}}
      {{#each breadcrumbs}}
        <md-button ng-href="{{ href }}">{{ text }}</md-button>
      {{/each }}
    {{/if }}
  </section>
{{/if }}

{{#if products }}
  {{> products-item-list}}
  <section id="products" class="constrained cards-spaced">
    {{#each products }}
        {{#if active }}
          <div class="product product-{{ @index }}" itemscope itemtype="http://schema.org/Product">
            <md-whiteframe class="md-whiteframe-z1" layout-sm="column" layout-gt-sm="row">
              {{> inline-product }}              
            </md-whiteframe>
            
          </div>
        {{/if }}
      {{/each }}

  </section>

{{ else }}

  <div id="products" class="posts row">
    <div class="column small-12 padding-vertical-large">
      <h5 class="font-flair">
        No products found! 
        <br>
        Head back to the <a href="/products">products page</a>.
      </h5>
    </div>
    
  </div>

{{/if }}
</div>