<div class="padding-medium" style="clear: both;">
  {{#if prevPage }}
      <a class="left" href="/posts/{{ prevPage }}">Previous Page</a>
  {{/if }}

  {{#if nextPage }}
      <a class="right" href="/posts/{{ nextPage }}">Next Page</a>
  {{/if }}
</div>
