<div class="column small-12">
    <h3 class="font-flair">Words</h3>
    <form name="newWordForm">
        <input id="new-word-title" type="text" ng-model="newWordTitle" placeholder="New Title..." required/>
        <button ng-click="createWord(newWordTitle)" ng-disabled="newWordForm.$invalid" qv-focus="#new-word-title">Create</button>
    </form>

    <hr ng-show="words.length">

    <input type="text" ng-show="words.length" ng-model="authorFilter" ng-focus="authorFilter = ''" placeholder="Search..."/>
    <table ng-show="words.length">
        <thead>
            <tr>
                <th>Author</th><th>Title</th><th>Slug</th><th>Type</th><th>Order</th><th>Hashtags</th><th></th><th>Created</th><th>Published</th><th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="word in words | filter:authorFilter | orderBy:'order':'desc'">
                <td>
                    <span ng-show="word.author.id == user.$id">{{ word.author.name }}</span>
                    <span class="cursor-pointer" ng-hide="word.author.id == user.$id" qv-confirm="makeAuthor(word, user)" confirmations="['Claim Authorship']">{{ word.author.name }}</span>
                </td>
                <td>
                    <a ui-sref="authenticated.master.admin.word({key: word.$id})">{{ word.title }}</a>
                </td>
                <td>
                    <span class="cursor-pointer" contenteditable="true" ng-model="word.slug" ng-change="word.edited = true;">{{ word.slug }}</span>
                </td>
                <td>
                    <select class="margin-zero" style="min-width: 5rem;" ng-model="word.type" ng-change="word.edited = true">
                        <option value="">Select Type</option>
                        <option value="post">Post</option>
                        <option value="page">Page</option>
                    </select>
                </td>
                <td>
                    <input class="margin-zero-important" ng-show="word.type == 'post'" type="number" ng-model="word.order" ng-change="word.edited = true;"/>
                </td>
                <td>
                    <input class="margin-zero-important" type="text" placeholder="Hashtag..." ng-model="newHashtag" qv-enter="addHashtag(word, newHashtag); newHashtag = null;" qv-type-ahead include="hashtags" exclude="word.hashtags" prepopulate="true" top-offset="-1"/>
                </td>
                <td>
                    <ul class="inline-list margin-zero-important text-x-small">
                        <li class="cursor-pointer" ng-repeat="hashtag in word.hashtags" ng-click="removeHashtag(word, hashtag.key)">#{{ hashtag.value }}</li>
                    </ul>
                </td>
                <td>
                    <span class="text-x-small">{{ word.created | moment:"MM/DD/YY" }}</span>
                </td>
                <td>
                    <span class="text-x-small" ng-show="word.published">
                        {{ word.published.published | moment:"MM/DD/YY" }}
                        <a class="link-highlight0 link-hover-secondary0 margin-horizontal-xx-small" ng-click="unpublishWord(word)">X</a>
                    </span>
                    <span ng-hide="word.published">
                        <a ui-sref="authenticated.master.admin.word({key: word.$id})">Publish</a>
                    </span>

                </td>
                <td>
                    <button class="tiny margin-zero" ng-show="word.edited" ng-click="saveWord(word)">Save</button>
                    <button class="tiny alert margin-zero" ng-hide="word.edited" qv-confirm="removeWord(word)" confirmations="['Really???', 'Last chance!']" qv-confirm>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
