<div class="column small-12">
    <h3 class="font-flair">Hashtags</h3>
    <form name="newHashtagForm">
        <input id="new-hashtag" type="text" ng-model="newHashtag" placeholder="New Hashtag..." required/>
        <button ng-click="createHashtag(newHashtag)" ng-disabled="newHashtagForm.$invalid" qv-focus="#new-hashtag">Create</button>
    </form>

    <hr>

    <input type="text" ng-model="hashtagFilter" ng-focus="hashtagFilter = ''" placeholder="Search..."/>
    <table class="small-12">
        <thead>
        <tr>
            <th>Tag</th><th>Slug</th><th>Creator</th><th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="hashtag in hashtags | filter:hashtagFilter">
            <td>
                #{{ hashtag.value }}
            </td>
            <td>
                {{ hashtag.key }}
            </td>
            <td>
                {{ hashtag.creator }}
            </td>
            <td>
                <button class="tiny alert margin-zero" qv-confirm="removeHashtag(hashtag)" confirmations="['Really???', 'Last chance!']" qv-confirm>Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
