<md-whiteframe class="md-whiteframe-z1 relative" layout="column" layout-fill flex>
    <div layout="row" layout-sm="column" layout-align="start center" layout-padding>
        <md-input-container flex>
            <label for="email-search">Search by Email</label>
            <input id="email-search" type="text" ng-model="searchTerm" qv-enter="items = items.$orderByChild('email').$startAt(searchTerm).$get();" auto-enter="searchTerm">
        </md-input-container>
        <md-input-container flex>
            <label for="name-search">Search by Name</label>
            <input id="name-search" type="text" ng-model="name" qv-enter="items = items.$orderByChild('name').$startAt(name).$get();">
        </md-input-container>
        <span flex></span>
        <md-button class="md-icon-button" flex ng-click="items = items.$prev()" ng-disabled="items.$prevDisabled" aria-label="list back">
            <i class="mdi-navigation-arrow-back"></i>
        </md-button>
        <md-button class="md-icon-button" flex ng-click="items = items.$next()" ng-disabled="items.$nextDisabled" aria-label="list forward">
            <i class="mdi-navigation-arrow-forward"></i>
        </md-button>
        <md-button class="md-icon-button" flex ng-click="items = items.$more()" ng-disabled="items.$moreDisabled" aria-label="list load more">
            <i class="mdi-navigation-expand-more"></i>
        </md-button>
        <md-button class="md-icon-button" flex ng-click="items = items.$reset()" ng-disabled="items.$resetDisabled" aria-label="list reload">
            <i class="mdi-navigation-refresh"></i>
        </md-button>
    </div>
    <md-content>
        <md-list layout="column" ng-if="!items">
            <md-item>
                <md-item-content class="text-center" layout="row" layout-align="center center" layout-padding layout-wrap>
                    <h3 class="Headline">There are no users to display.</h3>
                </md-item-content>
            </md-item>
        </md-list>
        <section>
            <md-list layout="column">
                <md-item ng-repeat="user in items | filter:authorFilter | orderBy:'-$priority'">
                    <md-item-content layout="row" layout-align="space-between center" layout-padding layout-wrap style="padding-top: 23px;">
                        <a flex="25" flex-sm="100" ui-sref="authenticated.master.admin.user({key: user.$id})">{{ user.preferredEmail || user.email }}</a>
                        <!-- <span flex="25" flex-sm="100">{{ user.created | moment:"MM/DD/YYYY" }}</span> -->
                        <span flex="25" flex-sm="100">Login: {{ user.lastLogin | moment:"MM/DD/YYYY hh:mm" }}</span>
                        <md-checkbox ng-model="user.isAdmin" ng-change="saveUserRoles(user)" ng-disabled="isModeratorView">
                            Admin
                        </md-checkbox>
                        <md-checkbox ng-model="user.isModerator" ng-change="saveUserRoles(user)">
                            Moderator
                        </md-checkbox>
                        <md-checkbox ng-model="user.messageable" ng-change="saveUserMessageable(user)">
                            Messageable
                        </md-checkbox>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </section>
    </md-content>
</md-whiteframe>