<input type="text" ng-model="searchTerm" qv-enter="search({orderByChild: 'userEmail', startAt: searchTerm, limitToLast: 100})" placeholder="Click ENTER to search by email...">

<ul class="table-list padded hover striped">
  <li ng-repeat="upload in items | orderBy:'$priority':'desc'">
    <div ng-if="!upload.userEmail">
      &nbsp;
    </div>
    <div ng-if="upload.userEmail">
      <div class="column small-3">
        <span class="cursor-pointer" ng-click="setSearch(upload.userEmail); search(searchTerm);">{{ upload.userEmail }}</span>
      </div>
      <div class="column small-3">
        <a class="clearfix block" ui-sref="authenticated.master.admin.feedback({userId: upload.recipientId || upload.userId, assignmentKey: upload.assignmentKey })">
          <img ng-src="{{ upload.upload.url }}" alt="{{ upload.upload.Name }}" title="{{ upload.upload.Name }}">
        </a>
      </div>
      <div class="column small-3">
        <textarea ng-model="upload.comment" ng-model-options="{updateOn: 'blur'}" ng-change="save(upload)" placeholder="Comments..."></textarea>
      </div>
      <div class="column small-3 medium-text-right">
        <div class="text-secondary3 cursor-pointer" ng-click="flag(upload)">
          <i class="fa fa-flag" ng-class="{'text-secondary0': upload.flag == 1, 'text-warning': upload.flag == 2, 'text-success': upload.flag == 3}"></i>
        </div>
        <span>{{ upload.created | moment:"MMM DD, hh:mm" }}</span>
        <div>
          <a class="alert tiny small-12" qv-confirm="remove(upload)" confirmations="['Are you sure?']">Delete</a>
        </div>
        
      </div>
    </div>
    
  </li>
  <li class="no-stripe no-hover">
    <div ng-hide="searching">
      <div class="column small-3">
        <button class="secondary small-12" ng-click="loadNext()" ng-disabled="disablePrev">Previous {{ limit }}</button>
      </div>
      <div class="column small-3">
        <button class="secondary small-12" ng-click="loadMore()" ng-disabled="disableMore">Load More +</button>
      </div>
      <div class="column small-3">
        <button class="secondary small-12" ng-click="reset()" ng-disabled="disableReset">Reset</button>
      </div>
      <div class="column small-3">
        <button class="secondary small-12" ng-click="loadPrev()" ng-disabled="disableNext">Next {{ limit }}</button>&nbsp;
      </div>
    </div>
  </li>
</ul>