<div layout="row" layout-wrap>
    <section class="padded-card" flex="100">
        <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="start start" layout-padding layout-wrap>
            <h3 class="headline" flex="100">Admin Settings</h3>
            <md-input-container flex="100">
                <label for="braintree-root">Braintree Root Url</label>
                <input id="braintree-root" type="text" ng-model="adminSettings.braintreeRoot" placeholder="https://braintreegateway.com/merchants/YOURMERCHANTID">
            </md-input-container>
        </md-whiteframe>
    </section>
    <section class="padded-card" flex="100">
        <form name="themeForm">
            <fieldset>
                <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
                    <h3 class="headline" flex="100">Site Settings</h3>
                    <div class="md-select-wrapper" flex="33" flex-sm="100">
                        <md-select ng-model="theme.active" placeholder="Theme">
                            <md-option ng-value="key" ng-repeat="(key, value) in theme.options">{{ value }}</md-option>
                        </md-select>
                    </div>
                    <div class="md-select-wrapper" flex="33" flex-sm="100">
                        <md-select ng-model="theme.frontPage" placeholder="Front Page Template">
                            <md-option value="">Default Template</md-option>
                            <md-option ng-value="alternate.filename" ng-repeat="(key, alternate) in theme.alternates">{{ alternate.name }}</md-option>
                            <md-option ng-value="page.slug" ng-repeat="page in landingPages">{{ page.title }}</md-option>
                        </md-select>
                    </div>
                    <span class="padding-zero-important" flex="100"></span>
                    <md-input-container flex="33" flex-sm="100">
                        <label for="site-title">Site Title</label>
                        <input id="site-title" type="text" ng-model="settings.siteTitle" ng-model-options="{debounce: {'default': 500, 'blur': 0}}" placeholder="Site title..." />
                    </md-input-container>
                    <md-input-container flex="33" flex-sm="100">
                        <label for="logo">Logo</label>
                        <input id="logo" type="text" ng-model="settings.logo" ng-model-options="{debounce: {'default': 500, 'blur': 0}}" />
                    </md-input-container>
                    <md-input-container flex="33" flex-sm="100">
                        <label for="logo">Logo Inline Styles</label>
                        <input id="logo" type="text" ng-model="settings.logoStyle" ng-model-options="{debounce: {'default': 500, 'blur': 0}}">
                    </md-input-container>
                    <md-input-container flex="33" flex-sm="100">
                        <label for="front-page-image">Front Page Image</label>
                        <input id="front-page-image" type="text" ng-model="settings.frontPageImage" ng-model-options="{debounce: {'default': 500, 'blur': 0}}" />
                    </md-input-container>
                    <md-input-container flex="33" flex-sm="100">
                        <label for="primary-post-count">Primary Post Count</label>
                        <input id="primary-post-count" type="number" ng-model="settings.primaryPostCount" />
                    </md-input-container>
                    <md-input-container flex="33" flex-sm="100">
                        <label for="secondary-post-count">Secondary Post Count</label>
                        <input id="secondary-post-count" type="number" ng-model="settings.secondaryPostCount" />
                    </md-input-container>
                    <md-input-container flex="33" flex-sm="100">
                        <label for="tertiary-post-count">Tertiary Post Count</label>
                        <input id="tertiary-post-count" type="number" ng-model="settings.tertiaryPostCount" />
                    </md-input-container>
                </md-whiteframe>
            </fieldset>
        </form>
    </section>
    <section class="padded-card" flex="100">
        <form name="seoForm">
            <fieldset>
                <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
                    <h3 class="headline" flex="100">Search Engine Optimization</h3>
                    <md-input-container flex="100">
                        <label for="landing-page-title">Main Page Title</label>
                        <input id="landing-page-title" type="text" ng-model="settings.seo.title" ng-model-options="{debounce: {'default': 500, 'blur': 0}}" />
                    </md-input-container>
                    <md-input-container flex="100">
                        <label for="landing-page-description">Main Page Description</label>
                        <textarea id="landing-page-description" ng-model="settings.seo.description" ng-model-options="{debounce: {'default': 500, 'blur': 0}}"></textarea>
                    </md-input-container>
                    <div class="text-small text-right" flex="100" ng-if="settings.seo.description">
                        <span>Description length: </span>
                        <span ng-class="{'text-success': settings.seo.description.length >= 150 && settings.seo.description.length <= 160, 'text-error': settings.seo.description.length < 150 || settings.seo.description.length > 160 }">{{ settings.seo.description.length }}</span>
                    </div>
                </md-whiteframe>
            </fieldset>
        </form>
    </section>
    <section class="padded-card" flex="100">
        <form name="themeColorsForm">
            <fieldset>
                <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
                    <h3 class="headline" flex="100">Theme Colors</h3>
                    <div flex="100">
                        <md-button class="md-primary md-raised max-10" ng-click="loadTheme()">
                            Load Theme
                        </md-button>
                    </div>
                    <span flex="100"></span>
                    <div class="md-select-wrapper" flex="25" flex-sm="100">
                        <md-select ng-model="theme.palette.primary" placeholder="Primary Palette">
                            <md-option ng-value="palette" ng-repeat="palette in palettes">{{ palette }}</md-option>
                        </md-select>
                    </div>
                    <div class="md-select-wrapper" flex="25" flex-sm="100">
                        <md-select ng-model="theme.palette.accent" placeholder="Accent Palette">
                            <md-option ng-value="palette" ng-repeat="palette in palettes">{{ palette }}</md-option>
                        </md-select>
                    </div>
                    <div flex="25" flex-sm="100">
                        <md-checkbox ng-model="theme.palette.dark">
                            Dark Palette
                        </md-checkbox>
                    </div>
                    <span flex="100"></span>
                    <div flex="50" flex-sm="100" ng-repeat="paletteName in ['primary', 'accent']">
                        <h4 class="headline capitalize">{{ paletteName }}</h4>
                        <ul>
                            <li ng-repeat="color in getPalette(paletteName)">
                                <div class="padding-small" style="background-color: {{ getRgb(color.value) }}; color: {{ getRgb(color.contrast) }};" ng-if="!theme.palette.overrides[paletteName][color.index]">
                                    <strong>{{ color.index }}: {{ getHex(color.value) }}</strong>
                                </div>
                                <div class="padding-small" style="{{ getOverrideStyle(paletteName, color.index) }}" ng-if="theme.palette.overrides[paletteName][color.index]">
                                    <strong>{{ color.index }}: #{{ theme.palette.overrides[paletteName][color.index] }}</strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                </md-whiteframe>
            </fieldset>
        </form>
    </section>
    <section class="padded-card" flex="100">
        <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="center" layout-padding layout-wrap>
            <md-content>
                <h3 class="md-title">Button Examples</h3>
                <section layout="row" layout-sm="column" layout-align="space-between center" layout-wrap>
                    <h4 class="md-subhead" flex="100">Flat</h4>
                    <md-button>No Classes</md-button>
                    <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
                    <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
                    <md-button class="md-warn">Warn</md-button>
                </section>
                <section layout="row" layout-sm="column" layout-align="space-between center" layout-wrap>
                    <h4 class="md-subhead" flex="100">Raised</h4>
                    <md-button class="md-raised">Button</md-button>
                    <md-button class="md-raised md-primary">Primary</md-button>
                    <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
                    <md-button class="md-raised md-warn">Warn</md-button>
                </section>
                <section layout="row" layout-sm="column" layout-align="space-between center" layout-wrap>
                    <h4 class="md-subhead" flex="100">FAB</h4>
                    <md-button class="md-fab" aria-label="Eat cake">
                        <i class="mdi-action-favorite"></i>
                    </md-button>
                    <md-button class="md-fab md-primary" aria-label="Use Android">
                        <i class="mdi-action-favorite"></i>
                    </md-button>
                    <md-button class="md-fab" ng-disabled="true" aria-label="Comment">
                        <i class="mdi-action-favorite"></i>
                    </md-button>
                    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
                        <i class="mdi-action-favorite"></i>
                    </md-button>
                    <md-button class="md-fab md-mini" aria-label="Eat cake">
                        <i class="mdi-action-favorite"></i>
                    </md-button>
                    <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
                        <i class="mdi-action-favorite"></i>
                    </md-button>
                </section>
                <section layout="row" layout-sm="column" layout-align="space-between center" layout-wrap>
                    <h4 class="md-subhead" flex="100">Link vs. Button</h4>
                    <md-button ng-href="{{googleUrl}}" target="_blank">Default Link</md-button>
                    <md-button class="md-primary" ng-href="{{googleUrl}}" target="_blank">Primary Link</md-button>
                    <md-button>Default Button</md-button>
                </section>
                <section layout="row" layout-sm="column" layout-align="space-between center" layout-wrap>
                    <h4 class="md-subhead" flex="100">Themed</h4>
                    <md-button class="md-primary md-hue-1">Primary Hue 1</md-button>
                    <md-button class="md-warn md-raised md-hue-2">Warn Hue 2</md-button>
                    <md-button class="md-accent">Accent</md-button>
                    <md-button class="md-accent md-raised md-hue-1">Accent Hue 1</md-button>
                </section>
                <section layout="row" layout-sm="column" layout-align="space-between center" layout-wrap>
                    <h4 class="md-subhead" flex="100">Icon Buttons</h4>
                    <md-button class="md-icon-button md-primary" aria-label="Settings">
                        <i class="mdi-action-favorite"></i>
                    </md-button>
                    <md-button class="md-icon-button md-accent" aria-label="Favorite">
                        <i class="mdi-action-favorite"></i>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="More">
                        <i class="mdi-action-favorite"></i>
                    </md-button>
                    <md-button href="http://google.com" title="Launch Google.com in new window" target="_blank" ng-disabled="true" aria-label="Google.com" class="md-icon-button launch">
                        <i class="mdi-action-favorite"></i>
                    </md-button>
                </section>
            </md-content>
        </md-whiteframe>
    </section>
    <section class="padded-card" flex="100">
        <form name="themePrimaryOverridesForm">
            <fieldset>
                <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
                    <h3 class="headline" flex="100">Primary Palette Overrides</h3>
                    <div flex="100">
                        <md-button class="md-primary md-raised" ng-click="useCustomPalette('primary');" ng-disabled="!theme.palette.primary || !validForCustomPalette('primary')">
                            Use Custom Primary Palette
                        </md-button>
                        <strong ng-if="!theme.palette.primary && validForCustomPalette('primary')">Using custom primary palette</strong>
                    </div>
                    <div class="md-select-wrapper" flex flex-sm="100" ng-repeat="hue in paletteHues">
                        <md-select ng-model="theme.palette.intentions.primary[hue]" placeholder="{{ hue }}">
                            <md-option ng-value="key" ng-repeat="key in paletteKeys">{{ key }}</md-option>
                        </md-select>
                        <md-button class="md-warn md-icon-button" ng-click="deleteIntention('primary', hue)" ng-disabled="!theme.palette.intentions.primary[hue]" aria-label="Delete intention">
                            <i class="mdi-action-delete"></i>
                        </md-button>
                    </div>
                    <span flex="100"></span>
                    <div flex="25" flex-sm="100">
                        <h4 class="headline">Hex Values</h4>
                        <md-input-container flex="100" ng-repeat="key in paletteKeys">
                            <label for="primary-override-{{ key }}">{{ key }}</label>
                            <input id="primary-override-{{ key }}" ng-model="theme.palette.overrides.primary[key]" type="text" hex>
                        </md-input-container>
                    </div>
                    <div flex="25" flex-sm="100">
                        <h4 class="headline">Contrast Dark Colors</h4>
                        <md-checkbox ng-model="theme.palette.overrides.primary.contrastDarkColors[key]" ng-repeat="key in paletteKeys">
                            {{ key }} Contrast Dark
                        </md-checkbox>
                    </div>
                    <div flex="25" flex-sm="100">
                        <h4 class="headline">Contrast Light Colors</h4>
                        <md-checkbox ng-model="theme.palette.overrides.primary.contrastLightColors[key]" ng-repeat="key in paletteKeys">
                            {{ key }} Contrast Light
                        </md-checkbox>
                    </div>
                    <div flex="25" flex-sm="100">
                        <div class="clearfix">
                            <h4 class="headline left">Contrast Default Color</h4>
                            <md-button class="md-warn md-icon-button right" ng-click="deleteOverride('primary', 'contrastDefaultColor')" style="margin-top: .75rem" aria-label="Delete contrast default color">
                                <i class="mdi-action-delete"></i>
                            </md-button>
                        </div>
                        <div>
                            <md-radio-group ng-model="theme.palette.overrides.primary.contrastDefaultColor">
                                <md-radio-button value="light">Light</md-radio-button>
                                <md-radio-button value="dark">Dark</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                </md-whiteframe>
            </fieldset>
        </form>
    </section>
    <section class="padded-card" flex="100">
        <form name="themeSecondaryOverridesForm">
            <fieldset>
                <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
                    <h3 class="headline" flex="100">Accent Palette Overrides</h3>
                    <div flex="100">
                        <md-button class="md-primary md-raised" ng-click="useCustomPalette('accent');" ng-disabled="!theme.palette.accent || !validForCustomPalette('accent')">
                            Use Custom Palette
                        </md-button>
                        <strong ng-if="!theme.palette.accent && validForCustomPalette('accent')">Using Custom Palette</strong>
                    </div>
                    <div class="md-select-wrapper" flex flex-sm="100" ng-repeat="hue in paletteHues">
                        <md-select ng-model="theme.palette.intentions.accent[hue]" placeholder="{{ hue }}">
                            <md-option ng-value="key" ng-repeat="key in paletteKeys">{{ key }}</md-option>
                        </md-select>
                        <md-button class="md-warn md-icon-button" ng-click="deleteIntention('accent', hue)" ng-disabled="!theme.palette.intentions.accent[hue]" aria-label="Delete intention">
                            <i class="mdi-action-delete"></i>
                        </md-button>
                    </div>
                    <span flex="100"></span>
                    <div flex="25" flex-sm="100">
                        <h4 class="headline">Hex Values</h4>
                        <md-input-container flex="100" ng-repeat="key in paletteKeys">
                            <label for="secondary-override-{{ key }}">{{ key }}</label>
                            <input id="secondary-override-{{ key }}" ng-model="theme.palette.overrides.accent[key]" type="text">
                        </md-input-container>
                    </div>
                    <div flex="25" flex-sm="100">
                        <h4 class="headline">Contrast Dark Colors</h4>
                        <md-checkbox ng-model="theme.palette.overrides.accent.contrastDarkColors[key]" ng-repeat="key in paletteKeys">
                            {{ key }} Contrast Dark
                        </md-checkbox>
                    </div>
                    <div flex="25" flex-sm="100">
                        <h4 class="headline">Contrast Light Colors</h4>
                        <md-checkbox ng-model="theme.palette.overrides.accent.contrastLightColors[key]" ng-repeat="key in paletteKeys">
                            {{ key }} Contrast Light
                        </md-checkbox>
                    </div>
                    <div flex="25" flex-sm="100">
                        <div class="clearfix">
                            <h4 class="headline left">Contrast Default Color</h4>
                            <md-button class="md-warn md-icon-button right" ng-click="deleteOverride('accent', 'contrastDefaultColor')" style="margin-top: .75rem" aria-label="Delete contrast default color">
                                <i class="mdi-action-delete"></i>
                            </md-button>
                        </div>
                        <div>
                            <md-radio-group ng-model="theme.palette.overrides.accent.contrastDefaultColor">
                                <md-radio-button value="light">Light</md-radio-button>
                                <md-radio-button value="dark">Dark</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                </md-whiteframe>
            </fieldset>
        </form>
    </section>
    <section class="padded-card" flex="100" flex-sm="100" ng-repeat="nav in navList">
        <form name="settingsForm">
            <fieldset>
                <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="space-between center" layout-padding layout-wrap>
                    <h3 class="headline" flex="100">{{ nav.name }} Links</h3>
                    <md-input-container flex="100">
                        <label for="{{ nav.slug }}-link-text">Header Text</label>
                        <input id="{{ nav.slug }}-title" type="text" ng-model="settings[nav.slug + 'Title']" />
                        <!-- <input id="{{ nav.slug }}-title" type="text" ng-model="navTitle" ng-blur="setNavTitle(nav.slug, navTitle); navTitle = null;" /> -->
                    </md-input-container>
                    <!-- <span class="title-contenteditable" flex ng-show="settings[nav.slug + 'Title']" ng-model="settings[nav.slug + 'Title']" contenteditable="true">{{ settings[nav.slug + 'Title'] }}</span> -->
                    <md-input-container flex>
                        <label for="link-text-{{ $index }}">Link Text</label>
                        <input id="link-text-{{ $index }}" type="text" ng-model="navNew.text" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label for="link-href-{{ $index }}">Link Href</label>
                        <input id="link-href-{{ $index }}" type="text" ng-model="navNew.href" required>
                    </md-input-container>
                    <md-button class="md-primary md-raised md-icon-button" flex ng-click="addNavLink(nav.slug, navNew); navNew = {};" qv-focus="#{{ nav.slug }}-link-text" ng-disabled="!navNew.text || !navNew.href" aria-label="Add link">
                        <i class="mdi-content-add-box"></i>
                    </md-button>
                    <div flex="100" ng-if="settings[nav.slug].length">
                        <md-chips flex ng-model="settings[nav.slug]" md-on-append="cleanNavArray(settings[nav.slug])">
                            <md-chip-template>
                                <strong>{{ $chip.text }}: {{ $chip.href }}</strong>
                            </md-chip-template>
                        </md-chips>
                    </div>
                </md-whiteframe>
            </fieldset>
        </form>
    </section>
    <section class="padded-card" flex="50" flex-sm="100">
        <form name="emailCronForm">
            <fieldset>
                <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
                    <h3 class="headline" flex="100">Email Settings</h3>
                    <p flex>
                        <a href="https://github.com/ncb000gt/node-cron" target="_blank">See docs</a>: (seconds minutes hours days months weekdays)
                        <br> 0-59 0-59 0-23 1-31 0-11 0-6
                    </p>
                    <md-input-container flex="100">
                        <label for="cron">Cron Pattern: S M H D M Weekday / 0-59 0-59 0-23 1-31 0-11 0-6</label>
                        <input id="cron" type="text" ng-model="settings.crons.feedbackEmail" ng-model-options="{'updateOn': 'blur'}">
                    </md-input-container>
                </md-whiteframe>
            </fieldset>
        </form>
    </section>
    <section class="padded-card" flex="50" flex-sm="100">
        <form name="surveyForm">
            <fieldset>
                <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
                    <h3 class="headline" flex="100">Survey Settings</h3>
                    <md-input-container flex="100">
                        <label for="survey-interval">Survey Interval in Days</label>
                        <input id="survey-interval" type="number" ng-model="settings.surveyInterval" ng-model-options="{'updateOn': 'blur'}">
                    </md-input-container>
                </md-whiteframe>
            </fieldset>
        </form>
    </section>
</div>