<section>
  <h3 class="headline">{{ user.public.name || user.public.email }}</h3>

  <md-whiteframe class="md-whiteframe-z1" layout="row" layout-wrap layout-padding>
    <div flex flex-sm="100" layout="row" layout-align="start center" layout-wrap>
      <h4 class="margin-zero" flex="100">Public</h4>

      <span flex="25">ID</span>
      <span class="text-right" flex="75">
        <a ng-href="{{ env.firebase.endpoint }}/users/{{ user.public.id }}" target="_blank">{{ user.public.id }}</a>
      </span>

      <span flex="25">Email</span>
      <span class="text-right" flex="75">
        <a ng-href="mailto:{{ user.public.email }}">{{ user.public.email }}</a>
      </span>

      <span flex="25">Birthday</span>
      <span class="text-right" flex="75">{{ user.public.birthdate | moment:"MM/DD/YYYY" }}</span>

      <span flex="25">Gender</span>
      <span class="text-right" flex="75">{{ user.public.gender || 'Not specified' }}</span>

      <span flex="25">Twitter</span>
      <span class="text-right" flex="75">
        <a href="https://twitter.com/{{ user.public.twitter }}" ng-if="user.public.twitter">{{ user.public.twitter }}</a>
      </span>

      <span flex="25">Instagram</span>
      <span class="text-right" flex="75">
        <a href="https://instagram.com/{{ user.public.instagram }}" ng-if="user.public.instagram">{{ user.public.instagram }}</a>
      </span>

      <span flex="25">Web</span>
      <span class="text-right" flex="75">
        <a ng-href="{{ user.public.website }}" ng-if="user.public.website">{{ user.public.website }}</a>
      </span>

      <span flex="25">Marketing</span>
      <span class="text-right" flex="75">
        <md-checkbox ng-model="user.public.preferences.marketing" disabled="true">
          Marketing
        </md-checkbox>
      </span>

      <span flex="25">Tracking</span>
      <span class="text-right" flex="75">
        <md-checkbox ng-model="user.public.preferences.tracking" disabled="true">
          Tracking
        </md-checkbox>
      </span>

    </div>

    <div flex flex-sm="100" layout="row" layout-align="start center" layout-wrap>
      <h4 class="margin-zero" flex="100">Private</h4>

      <span flex="25">Last Login</span>
      <span class="text-right" flex="75">{{ user.lastLogin | moment:"MM/DD/YYYY hh:mm" }}</span>

      <span flex="25">Created</span>
      <span class="text-right" flex="75">{{ user.created | moment:"MM/DD/YYYY hh:mm" }}</span>

      <span flex="25">Password</span>
      <span class="text-right" flex="75">{{ user.password || 'n/a' }}</span>

      <span flex="10">
        <i class="qv qv-google-plus"></i>
      </span>
      <span class="text-right" flex="90">{{ user.google || 'n/a' }}</span>

      <span flex="10">
        <i class="qv qv-facebook"></i>
      </span>
      <span class="text-right" flex="90">{{ user.facebook || 'n/a' }}</span>

      <span class="text-right" flex="100">
        <md-checkbox ng-model="user.isAdmin">
          Admin
        </md-checkbox>
      </span>

      <span class="text-right" flex="100">
        <md-checkbox ng-model="user.isModerator">
          Moderator
        </md-checkbox>
      </span>

      <span class="text-right" flex="100">
        <md-checkbox ng-model="user.messageable">
          Messageable
        </md-checkbox>
      </span>

    </div>

    <div flex flex-sm="100" layout="row" layout-align="start center" layout-wrap ng-if="user.private.customer">
      <h4 class="margin-zero" flex="100">Customer</h4>

      <span flex="25">ID</span>
      <span class="text-right" flex="75">{{ user.private.customer.id }}</span>

      <span flex="25">Email</span>
      <span class="text-right" flex="75">{{ user.private.customer.email }}</span>

      <span flex="25">Name</span>
      <span class="text-right" flex="75">{{ user.private.customer.firstName }} {{ user.private.customer.lastName }}</span>

      <span flex="25">Merchant ID</span>
      <span class="text-right" flex="75">{{ user.private.customer.merchantId }}</span>

      <span flex="25">Created</span>
      <span class="text-right" flex="75">{{ user.private.customer.createdAt | moment:"MM/DD/YYYY hh:mm" }}</span>

      <span flex="25">Updated</span>
      <span class="text-right" flex="75">{{ user.private.customer.updatedAt | moment:"MM/DD/YYYY hh:mm" }}</span>

      <span flex="25"></span>
      <span class="text-right" flex="75"></span>

    </div>
  </md-whiteframe>

</section>

<section ng-if="user.private.customer.creditCards.length || user.private.customer.paypalAccounts.length">
  <h3 class="headline">Payment Methods</h3>

  <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="start start" layout-wrap layout-padding>
    <div flex="50" flex-sm="100" layout="row" layout-align="start start" layout-wrap ng-if="user.private.customer.creditCards">
      <h4 class="margin-zero" flex="100">Credit Cards</h4>

      <div class="padding-x-small" flex="100" layout="row" layout-align="space-between center" layout-wrap ng-repeat="card in user.private.customer.creditCards">
        <img style="max-width: 2rem;" ng-src="{{ card.imageUrl }}" alt="{{ card.cardType }}" /> 
        <span>****{{ card.last4 }}</span>
        <md-button class="md-warn" ng-click="card.disabled = true; removePaymentMethod(card.token);" aria-label="Remove credit card">
          <i class="mdi-action-delete"></i>
        </md-button>

      </div>

    </div>

    <div flex="50" flex-sm="100" layout="row" layout-align="start start" layout-wrap ng-if="user.private.customer.paypalAccounts">
      <h4 class="margin-zero" flex="100">PayPal</h4>

      <div class="padding-x-small" flex="100" layout="row" layout-align="space-between center" layout-wrap ng-repeat="account in user.private.customer.paypalAccounts">
        <img style="max-width: 2rem;" ng-src="{{ account.imageUrl }}" alt="PayPal" /> 
        <span>{{ account.email }}</span>
        <md-button class="md-warn" ng-click="account.disabled = true; removePaymentMethod(account.token)" aria-label="Remove PayPal account">
          <i class="mdi-action-delete"></i>
        </md-button>

      </div>
      
    </div>

  </md-whiteframe>

</section>


<div class="column small-12" ng-show="user.private.customer">
  <h5 class="font-flair">Customer</h5>
  <ul class="table-list striped hover padded">
    <
    <li>
      <div class="column small-12 medium-3">Credit Cards</div>
      <div class="column small-12 medium-9">
        <ul class="inline-list">
          <li ng-repeat="card in user.private.customer.creditCards">
            <img class="left" style="display: inline-block; width: 37px; margin-right: 1rem;" ng-src="{{ card.imageUrl }}">
            {{ card.last4 }}: {{ card.expirationDate }}
          </li>
        </ul>
      </div>
    </li>
    
  </ul>
  
</div>

<div class="column small-12" ng-show="user.private.commerce.transactions">
  <h5 class="font-flair">Transactions</h5>
  <ul class="table-list striped text-medium link-padded">
         <li class="text-hover-white0 background-hover-primary2-important link-hover-white0" ng-repeat="transaction in user.private.commerce.transactions">
            <a class="clearfix text-primary0 text-hover-white0-important block" ui-sref="authenticated.master.admin.transaction({key: transaction.keys.log, userId: transaction.userId})">
              <div class="column small-12 medium-3">
                {{ ::transaction.date | moment:"MM/DD/YY" }}
              </div>
              <div class="column small-12 medium-3">
                {{ ::transaction.productCount }} Items
              </div>
              <div class="column small-12 medium-3">
                {{ ::transaction.total | currency }}
              </div>
              <div class="column small-12 medium-3 text-right">
                {{ ::transaction.date | moment:"MM/DD/YYYY" }}
              </div>
            </a>
        </li>
    </ul>
  
</div>

<div class="column small-12" ng-show="user.private.commerce.subscriptions">
  <h5 class="font-flair">Subscriptions</h5>
  <ul class="table-list striped link-padded">
    <li class="text-hover-white0 background-hover-primary2-important" ng-repeat="subscription in user.private.commerce.subscriptions">
      <a class="clearfix padding-small text-primary0 text-hover-white0-important block" ui-sref="authenticated.master.admin.subscription({key: subscription.keys.log})">
        <div class="column small-12 medium-3">
          {{ ::subscription.title }}
        </div>
        <div class="column small-12 medium-3">
          {{ ::subscription.subscriptionDays }} Days
        </div>
        <div class="column small-12 medium-3">
          Expires: {{ ::subscription.expiration | moment:"MM/DD/YYYY" }}
        </div>
        <div class="column small-12 medium-3 text-right">
          {{ ::subscription.date | moment:"MM/DD/YYYY"}}
        </div>
      </a>
    </li>
  </ul>

</div>

<div class="column small-12" ng-show="user.private.commerce.gifts">
  <h5 class="font-flair">Gifts</h5>
  <ul class="table-list striped link-padded">
    <li class="text-hover-white0 background-hover-primary2-important" ng-repeat="gift in user.private.commerce.gifts">
      <a class="clearfix padding-small text-primary0 text-hover-white0-important block" ui-sref="authenticated.master.admin.discounts({search: gift.code})">
        <div class="column small-12 medium-3">
          {{ ::gift.code }}
        </div>
        <div class="column small-12 medium-3">
          {{ ::gift.price || gift.priceAdjusted | currency }}
        </div>
        <div class="column small-12 medium-3">
          Expires: {{ ::gift.expiration | moment:"MM/DD/YYYY" }}
        </div>
        <div class="column small-12 medium-3 text-right">
          {{ ::subscription.created | moment:"MM/DD/YYYY"}}
        </div>
      </a>
    </li>
  </ul>

</div>

<div class="column small-12" ng-show="user.private.commerce.shipments">
  <h5 class="font-flair">Shipments</h5>
  <ul class="table-list striped">
    <li class="text-hover-white0 background-hover-primary2-important" ng-repeat="shipment in user.private.commerce.shipments">
      <a class="clearfix padding-small text-primary0 text-hover-white0-important block" ui-sref="authenticated.master.admin.shipments({search: user.email})">
        <div class="column small-12 medium-3">
          <span class="text-success"><i class="fa fa-paper-plane" ng-class="{'text-error': !shipment.shipped}"></i></span>
        </div>
        <div class="column small-12 medium-3">
          {{ ::shipment.item.title }} - {{ shipmentitem.priceAdjusted || shipment.item.price | currency }}
        </div>
        <div class="column small-12 medium-3">
          {{ ::shipment.item.optionsMatrixSelected.name }}
        </div>
        <div class="column small-12 medium-3 text-right">
          {{ ::shipment.created | moment:"MM/DD/YYYY"}}
        </div>

      </a>
    </li>
  </ul>

</div>

<div class="column small-12" ng-show="user.private.commerce.downloads">
  <h5 class="font-flair">Downloads</h5>
  <ul class="table-list striped">
    <li class="text-hover-white0 background-hover-primary2-important" ng-repeat="download in user.private.commerce.downloads">
      <a class="clearfix padding-small text-primary0 text-hover-white0-important block" href="/resource/{{ download.resource.keys.resource }}" target="_target">
        <div class="column small-12 medium-3">
          {{ download.title }}
        </div>
        <div class="column small-12 medium-3">
          {{ download.price | currency }}
        </div>
        <div class="column small-12 medium-6 text-right text-x-small">
          {{ download.downloadUri }}
        </div>

      </a>
    </li>
  </ul>

</div>