<md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
    <div flex="100" layout="row" layout-align="start center" layout-padding>
        <md-input-container flex>
            <label for="list-search">Search by Email</label>
            <input id="list-search" type="text" ng-model="searchTerm" qv-enter="items = items.$orderByChild('email').$startAt(searchTerm).$get(); orderBy = 'email'" ng-focus="searchTerm = undefined;" auto-enter="searchTerm">
        </md-input-container>
        <span flex></span>
        <md-button class="md-icon-button" flex ng-click="items = items.$prev(); orderBy = '-$id'; searchTerm = undefined;" ng-disabled="items.$prevDisabled" aria-label="list back">
            <i class="mdi-navigation-arrow-back"></i>
        </md-button>
        <md-button class="md-icon-button" flex ng-click="items = items.$next(); orderBy = '-$id'; searchTerm = undefined;" ng-disabled="items.$nextDisabled" aria-label="list forward">
            <i class="mdi-navigation-arrow-forward"></i>
        </md-button>
        <md-button class="md-icon-button" flex ng-click="items = items.$more(); orderBy = '-$id'; searchTerm = undefined;" ng-disabled="items.$moreDisabled" aria-label="list load more">
            <i class="mdi-navigation-expand-more"></i>
        </md-button>
        <md-button class="md-icon-button" flex ng-click="items = items.$reset(); orderBy = '-$id'; searchTerm = undefined;" ng-disabled="items.$resetDisabled" aria-label="list reload">
            <i class="mdi-navigation-refresh"></i>
        </md-button>
    </div>
    <md-content flex="100">
        <md-list layout="column" ng-if="!items">
            <md-item>
                <md-item-content class="text-center" layout="row" layout-align="center center" layout-padding layout-wrap>
                    <h3 class="Headline">There are no shipments to display.</h3>
                </md-item-content>
            </md-item>
        </md-list>
        <section>
            <md-list layout="column">
                <md-item ng-repeat="shipment in items | orderBy:orderBy">
                    <md-item-content class="extra-padding" layout="column" layout-align="start center" layout-gt-md="row" layout-align-gt-md="space-between end" layout-padding layout-wrap style="padding-top: 2rem;">
                        <div class="max-5" flex>
                            <md-button class="md-primary md-raised md-icon-button" ng-click="selectShipment($event, shipment)" aria-label="Select shipment {{ $index }}">
                                <i class="mdi-maps-local-shipping"></i>
                            </md-button>
                        </div>
                        <div class="max-5" flex>
                            <md-button class="md-primary md-raised md-icon-button" ng-click="addCustomsItem(shipment)" aria-label="Add customs item {{ $index }}">
                                <i class="mdi-content-add-box"></i>
                            </md-button>
                        </div>
                        <div class="max-5" flex>
                            <md-button class="md-primary md-raised md-icon-button" ng-href="{{ env.firebase.endpoint }}/logs/shipments/{{ shipment.$id }}" target="_blank" aria-label="View firebase data for {{ shipment.$id }}">
                                <i class="mdi-navigation-arrow-forward"></i>
                            </md-button>
                        </div>
                        <div flex>
                            <strong>{{ ::shipment.item.title }} - {{ shipmentitem.priceAdjusted || shipment.item.price | currency }}</strong>
                            <br>
                            <span ng-show="shipment.item.optionsMatrixSelected.name">{{ ::shipment.item.optionsMatrixSelected.name }}</span>
                        </div>
                        <div flex>
                            <a flex ng-href="mailto:{{ shipment.transaction.user.preferredEmail || shipment.transaction.user.email }}">{{ shipment.transaction.user.preferredEmail || shipment.transaction.user.email }}</a>
                            <br>
                            <span>{{ shipment.created | moment:"MM/DD/YYYY" }}</span>
                        </div>
                        <span flex="100"></span>
                        <div flex>
                            <md-checkbox ng-model="shipment.shipped" ng-change="save(shipment)">
                                Shipped
                            </md-checkbox>
                        </div>
                        <div flex>
                            <md-button class="md-icon-button" ng-show="shipment.tracking.carrier && shipment.tracking.number" ng-href="{{ shipment.tracking | tracking }}" target="_blank" aria-label="View tracking for {{ $index }}">
                                <i class="mdi-content-send"></i>
                            </md-button>
                        </div>
                        <div class="md-select-wrapper" flex>
                            <md-select ng-model="shipment.tracking.carrier" qv-enter="save(shipment)" placeholder="Carrier">
                                <md-option ng-value="carrier.code" ng-repeat="carrier in shipping.carriers">{{ carrier.name }}</md-option>
                            </md-select>
                        </div>
                        <md-input-container flex>
                            <label for="tracking-number-{{ $index }}">Tracking Number</label>
                            <input id="tracking-number-{{ $index }}" type="text" ng-model="shipment.tracking.number" ng-blur="save(shipment)" qv-enter="save(shipment)">
                        </md-input-container>
                        <md-input-container flex="25" flex-sm="100">
                            <label for="comments-{{ $index }}">Comments</label>
                            <textarea id="comments-{{ $index }}" class="text-x-small line-height-1 margin-zero-important" ng-model="shipment.comments" ng-blur="save(shipment)" qv-enter="save(shipment)"></textarea>
                        </md-input-container>
                        <md-input-container flex="25" flex-sm="100">
                            <label for="shipment-address-{{ $index }}"></label>
                            <textarea id="shipment-address-{{ $index }}" class="text-x-small line-height-1 margin-zero-important" ng-bind="getAddress(shipment)" qv-select-text></textarea>
                        </md-input-container>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </section>
    </md-content>
</md-whiteframe>