<md-whiteframe class="md-whiteframe-z1 relative" layout="column" layout-fill flex>
    <div layout="row" layout-align="start center" layout-align-sm="center center" layout-padding layout-wrap>
        <md-input-container flex flex-sm="100">
            <label for="list-search">Search by File Name</label>
            <input id="list-search" type="text" ng-model="searchTerm" qv-enter="items = items.$orderByChild('Name').$startAt(searchTerm).$get();" auto-enter="searchTerm">
        </md-input-container>
        <span flex hide-sm></span>
        <md-button class="md-icon-button" flex ng-click="items = items.$prev()" ng-disabled="items.$prevDisabled" aria-label="list back">
            <i class="mdi-navigation-arrow-back"></i>
        </md-button>
        <md-button class="md-icon-button" flex ng-click="items = items.$next()" ng-disabled="items.$nextDisabled" aria-label="list forward">
            <i class="mdi-navigation-arrow-forward"></i>
        </md-button>
        <md-button class="md-icon-button" flex ng-click="items = items.$more()" ng-disabled="items.$moreDisabled" aria-label="list load more">
            <i class="mdi-navigation-expand-more"></i>
        </md-button>
        <md-button class="md-icon-button" flex ng-click="items = items.$reset()" ng-disabled="items.$resetDisabled" aria-label="list reload">
            <i class="mdi-navigation-refresh"></i>
        </md-button>
    </div>
    <md-content>
        <md-list layout="column" ng-if="!items">
            <md-item>
                <md-item-content class="text-center" layout="row" layout-align="center center" layout-padding layout-wrap>
                    <h3 class="Headline">There are no files to display.</h3>
                </md-item-content>
            </md-item>
        </md-list>
        <section>
            <md-list layout="column">
                <md-item ng-repeat="file in items | orderBy:'-$priority'" ng-class="{'disabled': file.disabled}">
                    <md-item-content layout="row" layout-align="space-between center" layout-padding layout-wrap ng-if="file.Size">
                        <div class="max-10 min-10 text-center" flex flex-sm="100" style="margin-left: .5rem;">
                            <a flex ng-if='!fileVersion' ng-href="{{ file.Key | s3Link:bucket }}" target="_blank" qv-media="{{ file.Key | s3Link:bucket }}" alt="{{ file.Key | filename }}" attributes="{embed: {width: '100px', height: '100px'}, img: {'style': 'width: 200px; max-width: 100%;'}, video: {width: '200px'}}"></a>
                            <a flex ng-if="fileVersion" ng-href="{{ file.Versions[fileVersion].Key | s3Link:bucket }}" target="_blank" qv-media="{{ file.Key | s3Link:bucket }}" alt="{{ file.Key | filename }}" attributes="{embed: {width: '100px', height: '100px'}, img: {'style': 'width: 200px; max-width: 100%;'}, video: {width: '200px'}}"></a>
                        </div>
                        <div flex layout="row" layout-sm="column" layout-align="space-between center" layout-padding layout-wrap>
                            <div class="max-16" flex>
                                <md-input-container>
                                    <md-select ng-model="fileVersion" aria-label="file version">
                                    <md-option value="" selected>Original: ({{ file.Size / 1000 | number:0 }}kb)</md-option>
                                    <md-option ng-repeat="(key, version) in file.Versions" ng-value="key">{{ key }}: ({{ version.Size / 1000 | number:0 }}kb)</md-option>
                                </md-select>
                                </md-input-container>
                            </div>
                            <span flex>{{ file.Index }}: {{ file.Name }}</span>
                            <md-button class="md-fab md-mini md-primary" ng-click="addToClipboard(file)" ng-hide="inClipboard(file) || file.disabled" aria-label="Add file to clipboard {{ file.Key }}">
                                <i class="mdi-content-add-box"></i>
                            </md-button>
                            <md-button class="md-fab md-mini md-warn margin-horizontal-x-small" ng-click="confirmRemoveFile($event, file); file.disabled = true;" ng-disabled="file.disabled" aria-label="Remove file {{ file.Key }}">
                                <i class="mdi-action-delete"></i>
                            </md-button>
                            <span class="padding-zero-important" flex="100"></span>
                            <span id="file-link-{{ $index }}" class="cursor-pointer break-word text-x-small" flex="75" ng-if="fileVersion" qv-select-text>{{ file.Versions[fileVersion].Key | s3Link:bucket }}</span>
                            <span id="file-link-{{ $index }}" class="cursor-pointer break-word text-x-small" flex="75" ng-if="!fileVersion" qv-select-text>{{ file.Key | s3Link:bucket }}</span>
                            <div class="text-right" flex style="max-width: 5rem;">
                                <md-button class="md-primary md-fab md-mini margin-zero" qv-select-text="file-link-{{ $index }}" events="click mouseenter" aria-label="Control + C to copy href.">
                                    <md-tooltip>
                                        Ctrl + C
                                    </md-tooltip>
                                    <i class="mdi-content-content-copy"></i>
                                </md-button>
                            </div>
                            <span id="md-link-{{ $index }}" class="cursor-pointer break-word text-x-small" flex="75" ng-if="!fileVersion" qv-select-text>![{{ file.Key | filename }}]({{ file.Key | s3Link:bucket }})</span>
                            <span id="md-link-{{ $index }}" class="cursor-pointer break-word text-x-small" flex="75" ng-if="fileVersion" qv-select-text>![{{ file.Versions[fileVersion].Key | filename }}]({{ file.Versions[fileVersion].Key | s3Link:bucket }})</span>
                            <div class="text-right" flex style="max-width: 5rem;">
                                <md-button class="md-primary md-fab md-mini margin-zero" qv-select-text="md-link-{{ $index }}" events="click mouseenter" aria-label="Control + C to copy CommonMark link.">
                                    <md-tooltip>
                                        Ctrl + C to copy
                                    </md-tooltip>
                                    <i class="mdi-content-content-copy"></i>
                                </md-button>
                            </div>
                        </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </section>
    </md-content>
</md-whiteframe>