<div class="column small-12">
  <h3 class="font-flair">Products</h3>

  <form name="productForm">
      <fieldset>
        <div class="column small-12">
          <input id="new-product-title" type="text" name="product-title" ng-model="newProduct.title" placeholder="Product title..." required>
          <button name="button" ng-disabled="productForm.$invalid" ng-click="addProduct(newProduct)" qv-focus="#new-product-title">Create</button>
        </div>
      </fieldset>
  </form>

  <ul class="column small-12 table-list striped">
    <li ng-repeat="product in products">
      <div class="overflow-hidden background-secondary3 text-white link-white link-hover-secondary4">
        <a class="left padding-small" ui-sref="authenticated.master.admin.product({key: product.$id})">{{ product.title }}</a>
        <div class="right padding-small background-error cursor-pointer text-center" qv-confirm="removeProduct(product)" confirmations="['Are you sure?', 'Last Chance!']" style="min-width: 10rem;">Delete</div>
        <div class="right padding-small background-success" ng-show="product.active && product.isValid">Active</div>
        <div class="right padding-small background-warning" ng-show="!product.active || !product.isValid">Inactive</div>

      </div>

      <div>
        <div class="column small-12 medium-3 padding-zero-important">
          <a ui-sref="authenticated.master.admin.product({key: product.$id})">
            <img ng-if="product.featuredImage.Versions.small.Key" ng-src="{{ product.featuredImage.Versions.small.Key | s3Link:files.Name }}" />
          </a>
        </div>
        <div class="column small-12 medium-9 padding-zero-important">
          <div class="column small-12 medium-4">
            <ul class="margin-vertical-small">
              <li><h5>Details</h5></li>
              <li>Price: <strong class="right">{{ product.price | currency }}</strong></li>
              <li>Type: <strong class="right">{{ product.type }}</strong></li>
              <li>Slug: <strong class="right">{{ product.slug }}</strong></li>
            </ul>
          </div>
          <div class="column small-12 medium-4" ng-show="product.shipped">
            <ul class="margin-vertical-small">
              <li><h5>Shipping</h5></li>
              <li style="text-align: justify;">Domestic: <strong class="right">{{ product.shipping.domesticPrice | currency}}</strong></li>
              <li>International: <strong class="right">{{ product.shipping.internationalPrice | currency }}</strong></li>
              <li>Int. Enabled: <strong class="right">{{ product.shipping.internationalAllowed }}</strong></li>
            </ul>
          </div>
          <div class='column small-12 medium-4'>
            <ul class="margin-vertical-small">
              <li><h5>Excerpt</h5></li>
              <li>{{ product.description.excerpt }}</li>
            </ul>
          </div>
          <hr>
          <div class="column small-12 medium-3">
            <ul class="margin-vertical-zero-important">
              <!-- <li><h5>Hashtags</h5></li> -->
              <li>
                <ul class="inline-list clearfix text-small">
                  <li ng-repeat="hashtag in product.hashtags">#{{ hashtag.key }}</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="column small-12 medium-9">
            <ul class="inline-list margin-vertical-zero-important">
              <!-- <li><h5 class="margin-zero">Options</h5></li> -->
              <li ng-repeat="group in product.optionGroups">
                <ul class="inline-list clearfix margin-vertical-zero-important">
                  <li><strong>{{ group.name }}:</strong></li>
                  <li class="text-small" ng-repeat="option in group.options">
                    <span>{{ option.name }}</span>
                    <span class="text-xx-small" ng-hide="option.inventory === 0">{{ ::option.inventory || '∞' }}</span>
                    <span class="text-xx-small" ng-show="option.inventory === 0">0</span>
                    <span class="text-xx-small"> ± {{ ::option.priceDifference || 0 | currency }}</span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>



      </div>
    </li>
  </ul>

</div>
