<div class="column small-12">
  <h3 class="font-flair">Shipments</h3>
</div>

<hr>

<div class="column small-12" ui-view></div>

<div qv-modal=".show-shipment">
  <div class="modal-content" ng-if="selectedShipment">
    <div class="column small-12" ng-show="selectedShipment.labels">
      <h5 class="font-flair">Labels</h5>

      <ul class="table-list padded hover striped">
        <li class="table-list-header">
          <div class="column small-12 medium-2">
            ID
          </div>
          <div class="column small-12 medium-3">
            Parcel
          </div>
          <div class="column small-12 medium-3">
            Shipment
          </div>
          <div class="column small-12 medium-4">
            Action
          </div>
        </li>
        <li ng-repeat="(id, label) in selectedShipment.labels" ng-class="{disabled: label.refund_status}">
          <div class="column small-12 medium-2">
            <div>
              {{ label.id }}
            </div>
            <div>
              <a href="mailto:{{ label.to_address.email }}">{{ label.to_address.email }}</a>
            </div>
          </div>
          <div class="column small-12 medium-3">
            <div>
              <span ng-show="label.parcel.predefined_package">{{ label.parcel.predefined_package }}</span>
              <span ng-hide="label.parcel.predefined_package">{{label.parcel.length }}x{{label.parcel.width }}x{{label.parcel.height }}</span>
            </div>
            <div>
              {{ label.parcel.weight }} oz
            </div>

          </div>
          <div class="column small-12 medium-3">
            <div>
              <a href="{{label.postage_label.label_url }}" target="_blank">Label</a>
            </div>
            <div>
              <a href="https://www.google.com/search?q={{ label.tracker.tracking_code }}" target="_blank">{{ label.tracker.tracking_code }}</a>
            </div>
            
            
          </div>
          <div class="column small-12 medium-4">
            <a class="button tiny left text-white0-important" href="{{ label.postage_label.label_url }}" download>Download</a>
            <button class="alert tiny left" qv-confirm="updateTracking(selectedShipment.$id, label.id, label.tracker.tracking_code, label.to_address.email)" confirmations="['Confirm']">Aftership</button>
            <button class="secondary tiny left" qv-confirm="refundShipment(selectedShipment.$id, label.id)" confirmations="['Confirm']">Refund</button>
          </div>
        </li>
      </ul>
    </div>

    <div class="column small-12">
      <h5 class="font-flair">Shipment</h5>

      <fieldset>
        <div class="column small-12 medium-3">
          <button ng-click="createShipment($storage.shipment)" ng-disabled="!validateShipment($storage.shipment)">Get Quote</button>
        </div>


        <div class="column small-12 medium-9">
          <ul class="table-list padded striped hover" ng-show="selectedShipment.quote.rates">
            <li class="table-list-header">
              <div class="column small-12 medium-3">
                Carrier
              </div>
              <div class="column small-12 medium-3">
                Service
              </div>
              <div class="column small-12 medium-6 medium-text-right">
                Purchase
              </div>
            </li>
            <li ng-repeat="rate in selectedShipment.quote.rates">
              <div class="column small-12 medium-3">
                {{ rate.carrier }}
              </div>
              <div class="column small-12 medium-3">
                {{ rate.service }}
              </div>
              <div class="column small-12 medium-6 medium-text-right">
                <button class="alert tiny margin-zero-important" style="min-width: 9rem;" qv-confirm="buyShipment(selectedShipment, rate)" confirmations="['Purchase for {{ rate.rate }} {{ rate.currency }}?']" ng-disabled="!selectedShipment.quote || !rate">
                  {{ rate.rate }} {{ rate.currency }}
                </button>
              </div>

            </li>
          </ul>
          
        </div>  

        <div class="column small-12" ng-show="selectedShipment.quote.rates">
          <hr>
        </div>


        <div ng-show="selectedShipment.quote">
          <div class="column small-12 medium-3">
            <h5 class="font-flair">From Address</h5>
            <div ng-show="selectedShipment.quote.from_address.name">{{ selectedShipment.quote.from_address.name }}</div>
            <div ng-show="selectedShipment.quote.from_address.company">{{ selectedShipment.quote.from_address.company }}</div>
            <div ng-show="selectedShipment.quote.from_address.street1">{{ selectedShipment.quote.from_address.street1 }}</div>
            <div ng-show="selectedShipment.quote.from_address.street2">{{ selectedShipment.quote.from_address.street2 }}</div>
            <div ng-show="selectedShipment.quote.from_address.street3">{{ selectedShipment.quote.from_address.street3 }}</div>
            <div ng-show="selectedShipment.quote.from_address">
              {{ selectedShipment.quote.from_address.city }}, {{ selectedShipment.quote.from_address.state }} {{ selectedShipment.quote.from_address.zip }}
            </div>
            <div ng-show="selectedShipment.quote.from_address.country">{{ selectedShipment.quote.from_address.country }}</div>
            <div ng-show="selectedShipment.quote.from_address.email">{{ selectedShipment.quote.from_address.email }}</div>
            <div ng-show="selectedShipment.quote.from_address.phone">{{ selectedShipment.quote.from_address.phone }}</div>
            <!-- <div ng-show="selectedShipment.quote.from_address.created_at">Created: {{ selectedShipment.quote.from_address.created_at | moment:"MM/DD/YY" }}</div> -->
          </div>

          <div class="column small-12 medium-3">
            <h5 class="font-flair">To Address</h5>
            <div ng-show="selectedShipment.quote.to_address.name">{{ selectedShipment.quote.to_address.name }}</div>
            <div ng-show="selectedShipment.quote.to_address.company">{{ selectedShipment.quote.to_address.company }}</div>
            <div ng-show="selectedShipment.quote.to_address.street1">{{ selectedShipment.quote.to_address.street1 }}</div>
            <div ng-show="selectedShipment.quote.to_address.street2">{{ selectedShipment.quote.to_address.street2 }}</div>
            <div ng-show="selectedShipment.quote.to_address.street3">{{ selectedShipment.quote.to_address.street3 }}</div>
            <div ng-show="selectedShipment.quote.to_address">
              {{ selectedShipment.quote.to_address.city }}, {{ selectedShipment.quote.to_address.state }} {{ selectedShipment.quote.to_address.zip }}
            </div>
            <div ng-show="selectedShipment.quote.to_address.country">{{ selectedShipment.quote.to_address.country }}</div>
            <div ng-show="selectedShipment.quote.to_address.email">{{ selectedShipment.quote.to_address.email }}</div>
            <div ng-show="selectedShipment.quote.to_address.phone">{{ selectedShipment.quote.to_address.phone }}</div>
            <!-- <div ng-show="selectedShipment.quote.to_address.created_at">Created: {{ selectedShipment.quote.to_address.created_at | moment:"MM/DD/YY" }}</div> -->
          </div>

          <div class="column small-12 medium-6">
            <ul class="table-list padded hover">
              <li class="table-list-header">
                <div class="column small-12">
                  Parcel Details
                </div>
              </li>
              <li>
                <div class="column small-6">
                  <strong>Weight</strong>
                </div>
                <div class="column small-6">
                  {{ selectedShipment.quote.parcel.weight }}
                </div>
              </li>
              <li ng-show="selectedShipment.quote.parcel.predefined_package">
                <div class="column small-6">
                  <strong>Predefined Package</strong>
                </div>
                <div class="column small-6">
                  {{ selectedShipment.quote.parcel.predefined_package }}
                </div>
              </li>
              <li ng-hide="selectedShipment.quote.parcel.predefined_package">
                <div class="column small-6">
                  <strong>Length</strong>
                </div>
                <div class="column small-6">
                  {{ selectedShipment.quote.parcel.length }}
                </div>
              </li>
              <li ng-hide="selectedShipment.quote.parcel.predefined_package">
                <div class="column small-6">
                  <strong>Width</strong>
                </div>
                <div class="column small-6">
                  {{ selectedShipment.quote.parcel.width }}
                </div>
              </li>
              <li ng-hide="selectedShipment.quote.parcel.predefined_package">
                <div class="column small-6">
                  <strong>Height</strong>
                </div>
                <div class="column small-6">
                  {{ selectedShipment.quote.parcel.height }}
                </div>
              </li>

              
            </ul>

          </div>

          <div class="column small-12">
            <hr>
            <h5 class="font-flair">Customs Details</h5>
          </div>

          <div class="column small-12 medium-4">
            <ul class="table-list padded hover">
              <li class="table-list-header">
                <div class="column small-12">
                  Customs Details
                </div>
              </li>
              <li>
                <div class="column small-6">
                  <strong>Contents</strong>
                </div>
                <div class="column small-6">
                  {{ selectedShipment.quote.customs_info.contents_type }}
                </div>
              </li>
              <li>
                <div class="column small-6">
                  <strong>AES</strong>
                </div>
                <div class="column small-6">
                  {{ selectedShipment.quote.customs_info.eel_pfc }}
                </div>
              </li>
              <li>
                <div class="column small-6">
                  <strong>Non-Delivery</strong>
                </div>
                <div class="column small-6">
                  {{ selectedShipment.quote.customs_info.non_delivery_option }}
                </div>
              </li>
              <li>
                <div class="column small-6">
                  <strong>Restriction</strong>
                </div>
                <div class="column small-6">
                  {{ selectedShipment.quote.customs_info.restriction_type }}
                </div>
              </li>
              <li>
                <div class="column small-6">
                  <strong>Customs Certify</strong>
                </div>
                <div class="column small-6">
                  {{ selectedShipment.quote.customs_info.customs_certify }}
                </div>
              </li>

            </ul>
            
          </div>

          <div class="column small-12 medium-8">
            <ul class="table-list padded hover striped">
              <li class="table-list-header">
                <div class="column small-12 medium-2">
                  Description
                </div>
                <div class="column small-12 medium-2">
                  Quantity
                </div>
                <div class="column small-12 medium-2">
                  Value
                </div>
                <div class="column small-12 medium-2">
                  Weight
                </div>
                <div class="column small-12 medium-2">
                  Origin
                </div>
                <div class="column small-12 medium-2">
                  Tariff
                </div>
                
              </li>
              <li ng-repeat="item in selectedShipment.quote.customs_info.customs_items">
                <div class="column small-12 medium-2">
                  {{ item.description }}
                </div>
                <div class="column small-12 medium-2">
                  {{ item.quantity }}
                </div>
                <div class="column small-12 medium-2">
                  {{ item.value }}
                </div>
                <div class="column small-12 medium-2">
                  {{ item.weight }}
                </div>
                <div class="column small-12 medium-2">
                  {{ item.origin_country }}
                </div>
                <div class="column small-12 medium-2">
                  {{ item.hs_tariff_number }}
                </div>

            </ul>
          </div>

        </div>

      </fieldset>
      
      
    </div>

    <div class="column small-12">
      <hr>
    </div>

    <div class="column small-12 medium-4">
      <h5 class="font-flair inline">From</h5>
      <a ui-sref="authenticated.master.admin.commerce">&nbsp; edit</a>
      
      <div class="text-small">
        <div ng-show="$storage.shipment.fromAddress.name">{{ $storage.shipment.fromAddress.name }}</div>
        <div ng-show="$storage.shipment.fromAddress.company">{{ $storage.shipment.fromAddress.company }}</div>
        <div ng-show="$storage.shipment.fromAddress.street1">{{ $storage.shipment.fromAddress.street1 }}</div>
        <div ng-show="$storage.shipment.fromAddress.street2">{{ $storage.shipment.fromAddress.street2 }}</div>
        <div ng-show="$storage.shipment.fromAddress.street3">{{ $storage.shipment.fromAddress.street3 }}</div>
        <div ng-show="$storage.shipment.fromAddress.city">{{ $storage.shipment.fromAddress.city }}</div>
        <div ng-show="$storage.shipment.fromAddress.state">{{ $storage.shipment.fromAddress.state }}</div>
        <div ng-show="$storage.shipment.fromAddress.zip">{{ $storage.shipment.fromAddress.zip }}</div>
        <div ng-show="$storage.shipment.fromAddress.country">{{ $storage.shipment.fromAddress.country }}</div>
        <div ng-show="$storage.shipment.fromAddress.email">{{ $storage.shipment.fromAddress.email }}</div>
        <div ng-show="$storage.shipment.fromAddress.phone">{{ $storage.shipment.fromAddress.phone }}</div>
        
      </div>
    </div>
    <div class="column small-12 medium-4">
      <h5 class="font-flair inline">To</h5>
      <!-- <a ui-sref="#address-form">&nbsp; edit</a> -->

      <div class="text-small">
        <div ng-show="$storage.shipment.toAddress.name">    {{ $storage.shipment.toAddress.name }}    </div>
        <div ng-show="$storage.shipment.toAddress.company"> {{ $storage.shipment.toAddress.company }} </div>
        <div ng-show="$storage.shipment.toAddress.street1"> {{ $storage.shipment.toAddress.street1 }} </div>
        <div ng-show="$storage.shipment.toAddress.street2"> {{ $storage.shipment.toAddress.street2 }} </div>
        <div ng-show="$storage.shipment.toAddress.street3"> {{ $storage.shipment.toAddress.street3 }} </div>
        <div ng-show="$storage.shipment.toAddress.city">    {{ $storage.shipment.toAddress.city }}    </div>
        <div ng-show="$storage.shipment.toAddress.state">   {{ $storage.shipment.toAddress.state }}   </div>
        <div ng-show="$storage.shipment.toAddress.zip">     {{ $storage.shipment.toAddress.zip }}     </div>
        <div ng-show="$storage.shipment.toAddress.country"> {{ $storage.shipment.toAddress.country }} </div>
        <div ng-show="$storage.shipment.toAddress.email">   {{ $storage.shipment.toAddress.email }}   </div>
        <div ng-show="$storage.shipment.toAddress.phone">   {{ $storage.shipment.toAddress.phone }}   </div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <h5 class="font-flair">Parcel</h5>     

      <form name="parcelForm" >
        <div class="column small-12 medium-6 padding-horizontal-zero-important">
          <label>Type</label>
          <select ng-model="$storage.shipment.parcel.predefined_package" ng-options="package.key as package.value for package in env.easypost.predefinedPackages">
            <option value="">Custom</option>
          </select>

        </div>

        <div class="column small-12 medium-6">
          <label for="parcel-weight">Weight (oz)</label>
          <input id="parcel-weight" type="number" ng-model="$storage.shipment.parcel.weight" placeholder="Weight (oz)..." ng-change="$storage.shipment.parcel.weight = forcePrecision($storage.shipment.parcel.weight, 10)" ng-model-options="{debounce: {'default': 500}}">        
        </div>

        <div ng-show="!$storage.shipment.parcel.predefined_package">
          

          <div class="column small-12 medium-4 padding-horizontal-zero-important">
            <label for="parcel-length">Length (in)</label>
            <input id="parcel-length" type="number" ng-model="$storage.shipment.parcel.length" placeholder="Length (in)..." ng-change="$storage.shipment.parcel.length = forcePrecision($storage.shipment.parcel.length, 10)" ng-model-options="{debounce: {'default': 500}}">
          </div>
          
          <div class="column small-12 medium-4">
            <label for="parcel-width">Width (in)</label>
          <input id="parcel-width" type="number" ng-model="$storage.shipment.parcel.width" placeholder="Width (in)..." ng-change="$storage.shipment.parcel.width = forcePrecision($storage.shipment.parcel.width, 10)" ng-model-options="{debounce: {'default': 500}}">          
          </div>
          
          <div class="column small-12 medium-4">
            <label for="parcel-height">Height (in)</label>
            <input id="parcel-height" type="number" ng-model="$storage.shipment.parcel.height" placeholder="Height (in)..." ng-change="$storage.shipment.parcel.height = forcePrecision($storage.shipment.parcel.height, 10)" ng-model-options="{debounce: {'default': 500}}">          
          </div>
        </div>

      </form>

    </div>

    <div class="column small-12">
      <hr>
    </div>


    <div class="column small-12">
      <h5 class="font-flair">Customs Details</h5>

      <div class="column small-12 medium-4">
        <label for="customs-eel-pfc">AES Exemption or Proof of Filing Citation ITN</label>
        <input id="customs-eel-pfc" type="text" ng-model="$storage.shipment.customs.eel_pfc" placeholder="AES exemption or ITN (NOEEI 30.36AES X20080930987654..." required>
        <button class="tiny" ng-click="$storage.shipment.customs.eel_pfc = 'NOEEI 30.37(a)'">< 2500USD</button>  
        <button class="tiny" ng-click="$storage.shipment.customs.eel_pfc = 'NOEEI 30.36'">Canada</button>  
      </div>

      <div class="column small-12 medium-4">
        <label for="customs-type">Contents Type</label>
        <select id="customs-type" ng-model="$storage.shipment.customs.contents_type" required>
          <option value="">Choose...</option>
          <option value="merchandise">Merchandise</option>
          <option value="gift">Gift</option>
          <option value="documents">Documents</option>
          <option value="returned_goods">Returned Goods</option>
          <option value="sample">Sample</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="column small-12 medium-4">
        <label>&nbsp;</label>
        <input type="text" ng-model="$storage.shipment.customs.contents_explanation" placeholder="Contents explanation (required for 'other')...">
      </div>

      <div class="column small-12 medium-4">
        <label for="customs-restriction">Restriction Type</label>
        <select id="customs-restriction" ng-model="$storage.shipment.customs.restriction_type" required>
          <option value="">Choose...</option>
          <option value="none">None</option>
          <option value="quarantine">Quarantine</option>
          <option value="sanitary_phytosanitary_inspection">Sanitary/Phytosanitary Inspection</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="column small-12 medium-4">
        <label>&nbsp;</label>
        <input type="text" ng-model="$storage.shipment.customs.restriction_comments" placeholder="Restriction comments (required for 'other')...">      
      </div>

      <div class="column small-12 medium-4 medium-offset-4">
        <label for="customs-non-delivery">Non-delivery Option</label>
        <select id="customs-non-delivery" ng-model="$storage.shipment.customs.non_delivery_option" required>
          <option value="">Return</option>
          <option value="abandon">Abandon</option>
        </select>  
      </div>
      
      

      <div class="column small-12">
        <h5 class="font-flair">Customs Items</h5>
        <ul class="table-list padded">
          <li class="table-list-header clearfix">
            <div class="column small-12 medium-3">
              Description
            </div>
            <div class="column small-12 medium-1">
              Quantity
            </div>
            <div class="column small-12 medium-1">
              Weight
            </div>
            <div class="column small-12 medium-2">
              Value (USD)
            </div>
            <div class="column small-12 medium-2">
              HS Tariff Number
            </div>
            <div class="column small-12 medium-1">
              Origin
            </div>
            <div class="column small-12 medium-2 medium-text-right">
              Action
            </div>
          </li>
          <li ng-repeat="item in $storage.shipment.customs.customs_items">
            <div class="column small-12 medium-3">
              <input type="text" ng-model="item.description" placeholder="Description...">
            </div>
            <div class="column small-12 medium-1">
              <input type="number" ng-model="item.quantity" placeholder="Quantity...">
            </div>
            <div class="column small-12 medium-1">
              <input type="number" ng-model="item.weight" placeholder="Weight...">
            </div>
            <div class="column small-12 medium-2">
              <input type="number" ng-model="item.value" placeholder="Value (USD)...">
            </div>
            <div class="column small-12 medium-2">
              <input type="text" ng-model="item.hs_tariff_number" placeholder="HS Tariff Number...">
            </div>
            <div class="column small-12 medium-1">
              <input type="text" ng-model="item.origin_country" placeholder="Country of origin...">
            </div>
            <div class="column small-12 medium-2">
              <button class="tiny alert right" ng-click="removeCustomsItem($storage.shipment.customs.customs_items, $index)">Delete</button>
            </div>
          </li>
          <li class="no-stripe no-hover padding-small">
            <div class="column small-12">
              <button class="tiny" ng-click="addCustomsItem()">Add Item</button>
            </div>
            
          </li>
        </ul>
      </div>

    </div>
   
    <div class="column small-12">
      <hr>
    </div>

    <div class="column small-12">
      <h5 class="font-flair">Order Details</h5>

      <ul class="table-list padded hover striped">
        <li>
          <div class="column small-4">
            <strong>User</strong>
          </div>
          <div class="column small-8 text-error">
            <a ui-sref="authenticated.master.admin.user({key: transaction.userId})">
              <i class="fa fa-user"></i>
              <span ng-show="selectedShipment.transaction.user.public.name">{{ selectedShipment.transaction.user.public.name }}</span>
            </a>
            &nbsp;
            <a href="mailto:{{ selectedShipment.transaction.user.public.email || selectedShipment.transaction.user.email }}">
              {{ selectedShipment.transaction.user.public.name || selectedShipment.transaction.user.public.email || selectedShipment.transaction.user.email }}
            </a>
          </div>
        </li>
        <li>
          <div class="column small-4">
            <strong>Created</strong>
          </div>
          <div class="column small-8">
            {{ selectedShipment.created | moment:"MMM. DD, YYYY HH:mm:ss"}}
          </div>
        </li>
        <li>
          <div class="column small-4">
            <strong>Shipped</strong>
          </div>
          <div class="column small-8 text-error">
            <i class="fa fa-paper-plane cursor-pointer" ng-class="{'text-success': selectedShipment.shipped}" ng-click="toggleShipped(selectedShipment)"></i>
          </div>
        </li>
        <li>
          <div class="column small-4">
            <strong>Item</strong>
          </div>
          <div class="column small-8">
            {{ selectedShipment.item.title }}: {{ selectedShipment.item.priceAdjusted | currency }}
          </div>
        </li>
        <li>
          <div class="column small-4">
            <strong>Count</strong>
          </div>
          <div class="column small-8">
            <strong>{{ selectedShipment.totalCount }}</strong>
          </div>
        </li>
        <li>
          <div class="column small-4">
            <strong>Address</strong>
          </div>
          <div class="column small-8">
            <textarea class="text-medium" style="height: 10rem;" ng-bind="getAddress(selectedShipment)" qv-select-text></textarea>
          </div>
        </li>
        <li>
          <div class="column small-4">
            <strong>Comments</strong>
          </div>
          <div class="column small-8">
            <textarea class="text-medium" style="height: 10rem;" ng-model="shipment.comments" placeholder="Comments..." ng-blur="save(selectedShipment)" qv-enter="save(selectedShipment)"></textarea>
          </div>
        </li>
      </ul>
    </div>

    <form id="address-form" class="column small-12" name="addressForm">
      <h5 class="font-flair">Address Verification</h5>

      <fieldset>
        <div class="column small-12">
          <ul class="table-list padded striped">
            <li class="table-list-header">
              <div class="column small-12 medium-6">
                Address
              </div>
              <div class="column small-12 medium-6">
                Verified Address
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input class="margin-zero-important" type="text" ng-model="unverifiedAddress.name" placeholder="Name..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.toAddress.name }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input class="margin-zero-important" type="text" ng-model="unverifiedAddress.company" placeholder="Company...">
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.toAddress.company }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input class="margin-zero-important" type="text" ng-model="unverifiedAddress.street1" placeholder="Street 1..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.toAddress.street1 }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input class="margin-zero-important" type="text" ng-model="unverifiedAddress.street2" placeholder="Street 2...">
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.toAddress.street2 }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input class="margin-zero-important" type="text" ng-model="unverifiedAddress.street3" placeholder="Street 3...">
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.toAddress.street3 }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input class="margin-zero-important" type="text" ng-model="unverifiedAddress.city" placeholder="City..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.toAddress.city }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input class="margin-zero-important" type="text" ng-model="unverifiedAddress.state" placeholder="State..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.toAddress.state }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input class="margin-zero-important" type="text" ng-model="unverifiedAddress.zip" placeholder="Zip..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.toAddress.zip }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input class="margin-zero-important" type="text" ng-model="unverifiedAddress.country" placeholder="Country..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.toAddress.country }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input class="margin-zero-important" type="text" ng-model="unverifiedAddress.email" placeholder="Email...">
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.toAddress.email }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input class="margin-zero-important" type="text" ng-model="unverifiedAddress.phone" placeholder="Phone...">
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.toAddress.phone }}
              </div>
            </li>
            <li class="no-stripe no-hover padding-small">
              <div class="column small-12">
                <button ng-click="createAddress(unverifiedAddress)" ng-disabled="addressForm.$invalid">Verify</button>
              </div>
            </li>
          </ul>
        </div>

      </fieldset>
    </form>

  </div>
</div>
