<div class="column small-12">
    <div class="column small-12 medium-8 large-10 medium-offset-4 large-offset-2">
        <h3 class="font-flair" contenteditable="true" ng-model="word.title"></h3>
    </div>
    <hr>
</div>

<div class="column small-12 medium-4 large-2">
    <button class="text-x-small padding-small small-12 margin-vertical-xx-small" ng-click="saveDraft($storage.activeDraft)">Save As Draft</button>
    <button class="text-x-small padding-small small-12 margin-vertical-xx-small" ng-click="setPublishedDraft($storage.activeDraft)" ng-disabled="!$storage.activeDraft">Publish</button>
    <hr>
    <h5>Active Draft</h5>
    <div ng-show="$storage.activeDraft.edited" class="text-x-small">Edited: {{ $storage.activeDraft.edited | date:'MM/dd/yy HH:mm' }}</div>
    <div ng-show="$storage.activeDraft.created" class="text-x-small">Created: {{ $storage.activeDraft.created | date:'MM/dd/yy HH:mm' }}</div>

    <hr>

    <div ng-if="word.published">
        <h5>Published</h5>
        <ul class="side-nav">
            <li class="text-x-small-important">
                Edited: {{ word.published.edited |  date:'MM/dd/yy HH:mm' }}
            </li>
            <li class="text-x-small-important">
                Created: {{ word.published.created |  date:'MM/dd/yy HH:mm' }}
            </li>
            <li class="text-x-small-important" ng-class="{'active': $storage.activeDraft.edited == word.published.edited}">
                <button class="text-x-small padding-small small-12" ng-click="makeActiveDraft(word.published)" ng-disabled="$storage.activeDraft.edited == word.published.edited">Make Active Draft</button>
            </li>
            <li class="text-x-small-important">
                <button class="alert text-x-small padding-small small-12" qv-confirm="unpublish()" confirmations="['Click to Confirm']">Unpublish</button>
            </li>
        </ul>

        <hr/>
    </div>


    <div ng-show="drafts.length">
        <h5>Drafts</h5>
        <ul class="side-nav">
            <li class="text-x-small" ng-repeat="draft in drafts" ng-class="{'active': $storage.activeDraft.edited == draft.edited}">
                <a ng-if="$storage.activeDraft.edited != draft.edited" ng-click="makeActiveDraft(draft)">{{ draft.created | date:'MM/dd/yy HH:mm' }}</a>
                <a ng-if="$storage.activeDraft.edited == draft.edited" qv-confirm="removeDraft(draft)" confirmations="['Click to Delete', 'Confirm Deletion']">{{ draft.created | date:'MM/dd/yy HH:mm' }}</a>
            </li>
        </ul>

        <hr/>
    </div>

    <div ng-show="word.keyImage">
        <h5 class="left">Featured Image</h5>
        <a class="right" ng-click="clearKeyImage()">x</a>
        <img src="{{ word.keyImage.Versions.small.Key | s3Link:files.Name}}" alt="word.keyImage.Name"/>

        <hr>
    </div>

    <div>
        <h5>Location</h5>

        <div ng-show="word.location">
            <div class="text-small">
                <a href="https://www.google.com/maps/preview?q=loc:{{ word.location.key.lat }},{{ word.location.key.lng }}" target="_blank">{{ word.location.value }}</a>
            </div>


            <button class="tiny alert margin-vertical-small" ng-click="removeLocation()">Remove</button>
        </div>

        <div ng-hide="word.location">
            <input type="text" ng-model="locationSearch" ng-change="getLocations(locationSearch)" placeholder="Search addresses..."/>
            <ul class="side-nav">
                <li ng-repeat="location in locations" >
                    <a ng-click="addLocation(location)">{{ location.value }}</a>
                </li>
            </ul>
        </div>

    </div>

</div>
<div class="column small-12 medium-8 large-10">
    <div class="panel" ng-show="$storage.clipboard.length">
        <h5>Clipboard</h5>
        <hr>
        <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-8">
            <li class="relative" ng-repeat="file in $storage.clipboard">
                <div class="relative">
                    <div class="cursor-pointer" ng-click="addFromClipboard(file)" qv-media="https://s3.amazonaws.com/{{ files.Name }}/{{ file.Versions.small.Key }}" alt="{{ file.Key | filename }}" attributes="{embed: {width: '100px', height: '100px'}, img: {'style': 'min-width: 100%;'}, video: {'style': 'max-width: 100%;'}}" alt="Click to Add"></div>
                    <a class="delete-button text-small background-highlight1 link-white link-hover-secondary0" ng-click="removeFromClipboard(file)">x</a>
                    <div class="overlay bottom padding-xx-small text-center background-highlight1 text-xx-small link-white link-hover-secondary2" ng-hide="word.keyImage.Key == file.Key">
                        <a ng-click="makeKeyImage(file)">+ Featured</a>
                    </div>
                </div>

            </li>
        </ul>
    </div>

    <div class="exerpt panel">
        <h5 class="left">Excerpt</h5>
        <a class="right" ng-click="clearExcerpt()" ng-show="word.excerpt">Clear</a>
        <hr>
        <textarea class="small-12" ng-model="word.excerpt" placeholder="Once upon a time..."></textarea>
    </div>

    <div ng-if="showDraft" class="small-12 background-secondary4 padding-small" qv-full-page target="#body" delay="300" contenteditable="true" ng-model="$storage.activeDraft.markdown" markdown-editable ng-change="handleActiveDraftChange($storage.activeDraft)" extensions="video"></div>
</div>
