<div class="column small-12">
	<h3 class="font-flair margin-vertical-large left"><a ui-sref="authenticated.master.admin.user({key: transactiion.userId})">
		{{ transaction.userEmail }}</a>: {{ transaction.date | moment:"MM/DD/YY" }}
	</h3>
	<div class="margin-vertical-large">
		<a class="button right small secondary" href="/transaction/{{ transaction.$id }}/email/text" qv-to-static>View Email</a>
		<button class="right small" ng-click="sendEmail(transaction.$id, transaction)">Send Email</button>
		<button class="right small alert" ng-click="chargeCard(transaction.$id, transaction)">Charge Card</button>
	</div>
	
</div>

	
<hr>

<div class="column small-12">
	<ul class="table-list striped">
		<li class="text-small" ng-repeat="item in transaction.items">
			<div class="overflow-hidden background-secondary3 text-white link-white link-hover-secondary4">
        <a class="left padding-small" ui-sref="authenticated.master.admin.product({key: item.$id})">{{ item.title }} x {{ item.quantity }} @ {{ item.priceAdjusted || item.price | currency }}</a>
        <div class="right padding-small background-success text-center" style="min-width: 8rem;">{{ item.type }}</div>

      </div>
      <div class="padding-vertical-small padding-horizontal-x-small clearfix">
				<div class="column small-12 medium-4">
					<strong>{{ item.optionsMatrixSelected.name || '&nbsp;' }}</strong>
				</div>
				<div class="column small-12 medium-4">
					<ul class="text-small">
						<li ng-if="item.type == 'digital'"><strong><a href="{{ ::item.downloadUri }}">{{ ::item.downloadUri }}</a></strong></li>
						<li ng-if="item.type == 'gift'" ng-repeat="discount in item.discounts">Code: <strong>{{ ::discount.code }}</strong> for <strong>{{ ::discount.value | currency }}</strong></li>
						<li ng-if="item.type == 'subscription'">Subscription: <strong>{{ ::item.subscriptionType }}</strong> for <strong>{{ ::item.subscriptionDays }} days</strong></li>
					</ul>

				</div>
				<div class="column small-12 medium-4">
					<ul class="text-small">
						<li>Shipped: <strong ng-class="{'text-success': item.shipped}">{{ item.shipped || 'false' }}</strong></li>
						<li>Taxable: <strong ng-class="{'text-success': item.taxable}">{{ item.taxable || 'false' }}</strong></li>
					</ul>
					
				</div>
				
      </div>
			
			
		</li>
	</ul>

</div>
