<div class="column small-12">
    <h3 class="font-flair left">Settings</h3>
    <button class="tiny right" ng-click="clearCache()">Clear Cache</button>
    <hr>

    <form name="themeForm">
        <fieldset>
            <label for="theme">Pick a Theme</label>
            <select name="" id="theme">
                <option ng-model="theme.active" ng-repeat="option in theme.options">{{ option }}</option>
            </select>
        </fieldset>
    </form>
    <form name="settingsForm">

        <fieldset class="clearfix" style="clear: both;">
            <div class="column small-12 medium-4">
                <label for="site-title">Site Title</label>
                <input id="site-title" type="text" ng-model="settings.siteTitle" ng-model-options="{debounce: {'default': 500, 'blur': 0}}" placeholder="Site title..."/>
            </div>
            <div class="column small-12 medium-4">
                <label for="front-page-image">Front Page Image</label>
                <input id="front-page-image" type="text" ng-model="settings.frontPageImage" ng-model-options="{debounce: {'default': 500, 'blur': 0}}" placeholder="https://..."/>
            </div>
            <div class="column small-12 medium-4">
                <label for="secondary-page-image">Secondary Page Image</label>
                <input id="secondary-page-image" type="text" ng-model="settings.secondaryPageImage" ng-model-options="{debounce: {'default': 500, 'blur': 0}}" placeholder="https://..."/>
            </div>

            <div class="column small-12 medium-4">
                <label for="primary-post-count">Primary Post Count</label>
                <input id="primary-post-count" type="number" ng-model="settings.primaryPostCount"/>
            </div>
            <div class="column small-12 medium-4">
                <label for="secondary-post-count">Secondary Post Count</label>
                <input id="secondary-post-count" type="number" ng-model="settings.secondaryPostCount"/>
            </div>
            <div class="column small-12 medium-4">
                <label for="tertiary-post-count">Tertiary Post Count</label>
                <input id="tertiary-post-count" type="number" ng-model="settings.tertiaryPostCount"/>
            </div>

            <hr>

            <div class="column small-12 medium-4">
                <form>
                    <label for="nav1-link-text">Nav #1 Links</label>

                    <input ng-hide="settings.nav1Title" id="nav1-title" type="text" ng-model="nav1Title" placeholder="Nav 1 title..." ng-blur="settings.nav1Title = nav1Title || null; nav1Title = null;"/>
                    <span class="title-contenteditable" ng-show="settings.nav1Title" ng-model="settings.nav1Title" contenteditable="true">{{ settings.nav1Title }}</span>

                    <input id="nav1-link-text" type="text" ng-model="nav1New.text" placeholder="New link text..."/>
                    <input id="nav1-link-href" type="text" ng-model="nav1New.href" placeholder="New link href..."/>
                    <button class="right" ng-click="addNavLink('nav1', nav1New); nav1New = {};" qv-focus="#nav1-link-text" ng-disabled="!nav1New.text || !nav1New.href">Add</button>

                </form>

                <ul>
                    <li ng-repeat="link in settings.nav1">
                        <span class="cursor-pointer text-x-small" href="{{ link.href }}" qv-confirm="removeNavLink('nav1', $index)" confirmations="['Click to Delete']">{{ link.text }}: {{ link.href }}</span>
                    </li>
                </ul>

            </div>

            <div class="column small-12 medium-4">
                <form>
                    <label for="nav2-link-text">Nav #2 Links</label>

                    <input ng-hide="settings.nav2Title" id="nav2-title" type="text" ng-model="nav2Title" placeholder="Nav 2 title..." ng-blur="settings.nav2Title = nav2Title; nav2Title = null;"/>
                    <span class="title-contenteditable" ng-show="settings.nav2Title" ng-model="settings.nav2Title" contenteditable="true">{{ settings.nav2Title }}</span>

                    <input id="nav2-link-text" type="text" ng-model="nav2New.text" placeholder="New link text..."/>
                    <input id="nav2-link-href" type="text" ng-model="nav2New.href" placeholder="New link href..."/>
                    <button class="right" ng-click="addNavLink('nav2', nav2New); nav2New = {};" qv-focus="#nav2-link-text" ng-disabled="!nav2New.text || !nav2New.href">Add</button>
                </form>
                <ul>
                    <li ng-repeat="link in settings.nav2">
                        <span class="cursor-pointer text-x-small" href="{{ link.href }}" qv-confirm="removeNavLink('nav2', $index)" confirmations="['Click to Delete']">{{ link.text }}: {{ link.href }}</span>
                    </li>
                </ul>

            </div>

            <div class="column small-12 medium-4">
                <form>
                    <label for="nav3-link-text">Nav #3 Links</label>

                    <input ng-hide="settings.nav3Title" id="nav3-title" type="text" ng-model="nav3Title" placeholder="Nav 3 title..." ng-blur="settings.nav3Title = nav3Title; nav3Title = null;"/>
                    <span class="title-contenteditable" ng-show="settings.nav3Title" ng-model="settings.nav3Title" contenteditable="true">{{ settings.nav3Title }}</span>

                    <input id="nav3-link-text" type="text" ng-model="nav3New.text" placeholder="New link text..."/>
                    <input id="nav3-link-href" type="text" ng-model="nav3New.href" placeholder="New link href..."/>
                    <button class="right" ng-click="addNavLink('nav3', nav3New); nav3New = {};" qv-focus="#nav3-link-text" ng-disabled="!nav3New.text || !nav3New.href">Add</button>
                </form>
                <ul>
                    <li ng-repeat="link in settings.nav3">
                        <span class="cursor-pointer text-x-small" href="{{ link.href }}" qv-confirm="removeNavLink('nav3', $index)" confirmations="['Click to Delete']">{{ link.text }}: {{ link.href }}</span>
                    </li>
                </ul>

            </div>

        </fieldset>

    </form>
</div>



