<div class="column small-12">
    <h3 class="font-flair">Hashtags</h3>
    <form name="newHashtagForm">
        <input id="new-hashtag" type="text" ng-model="newHashtag" placeholder="New Hashtag..." required/>
        <button ng-click="createHashtag(newHashtag)" ng-disabled="newHashtagForm.$invalid" qv-focus="#new-hashtag">Create</button>
    </form>

    <hr>

    <input type="text" ng-model="hashtagFilter" ng-focus="hashtagFilter = ''" placeholder="Search..."/>

    <ul class="table-list padded hover striped">
        <li class="table-list-header">
            <div class="column small-12 medium-3">
                Tag
            </div>
            <div class="column small-12 medium-3">
                Slug
            </div>
            <div class="column small-12 medium-3">
                Creator
            </div>
            <div class="column small-12 medium-3 medium-text-right">
                Action
            </div>
        </li>
        <li ng-repeat="hashtag in hashtags | filter:hashtagFilter">
            <div class="column small-12 medium-3">
                #{{ hashtag.value }}
            </div>
            <div class="column small-12 medium-3">
                {{ hashtag.key }}
            </div>
            <div class="column small-12 medium-3">
                {{ hashtag.creator }}
            </div>
            <div class="column small-12 medium-3 medium-text-right">
                <button class="tiny alert margin-zero" qv-confirm="removeHashtag(hashtag)" confirmations="['Really???', 'Last chance!']" qv-confirm>Delete</button>
            </div>
        </li>
    </ul>

</div>
