<head>
    <style >
            #map-canvas{
                height: 70px;
                width: 70px;
                border: 2px solid red;
            }
    </style>
</head>

<div class="column small-12">
    <h3 class="font-flair">Words</h3>
    <form name="newWordForm">
        <input id="new-word-title" type="text" ng-model="newWordTitle" placeholder="New Title..." required/>
        <button ng-click="createWord(newWordTitle)" ng-disabled="newWordForm.$invalid" qv-focus="#new-word-title">Create</button>
    </form>

    <hr>

    <input type="text" ng-model="authorFilter" ng-focus="authorFilter = ''" placeholder="Search..."/>
    <table>
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Type</th>
                <th>Hashtags</th>
                <th></th>
                <th>Add a Location</th>
                <th></th>
                <th>Post Location</th>
                <th>Map</th>
                <th>Created</th>
                <th>Published</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="word in words | filter:authorFilter">
                <td>
                    <span class="cursor-pointer" contenteditable="true" ng-model="word.author.name" ng-change="word.edited = true;">{{ word.author.name }}</span>
                </td>
                <td>
                    <a ui-sref="authenticated.master.admin.word({key: word.$id})">{{ word.title }}</a>
                </td>
                <td>
                    <span class="cursor-pointer" contenteditable="true" ng-model="word.slug" ng-change="word.edited = true;">{{ word.slug }}</span>
                </td>
                <td>
                    <select class="margin-zero" ng-model="word.type" ng-change="word.edited = true">
                        <option value="">Select Type</option>
                        <option value="post">Post</option>
                        <option value="page">Page</option>
                    </select>
                </td>
                <td>
                    <input class="margin-zero-important" type="text" placeholder="Hashtag..." ng-model="newHashtag" qv-enter="addHashtag(word, newHashtag); newHashtag = null;" qv-type-ahead include="word.hashtags" prepopulate="true" top-offset="-1"/>
                </td>
                <td>
                    <ul class="inline-list margin-zero-important text-x-small">
                        <li class="cursor-pointer" ng-repeat="hashtag in word.hashtags" ng-click="removeHashtag(word, hashtag.key)">#{{ hashtag.value }}</li>
                    </ul>
                </td>
                <td>
<!--                     {{word.locations[0].value.location}}
                    <pre>Model: {{asyncSelected | json}}</pre> -->
                    <input type="text" ng-model="asyncSelected" 
                         typeahead="address as address.formatted_address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="margin-zero-important form-control">
                    <!-- <input type="text" ng-model="asyncSelected" placeholder="Enter location..." typeahead="address for address in getLocation($viewValue) | filter:$viewValue" class="margin-zero-important"> -->
                    
                </td>
                <td>
                    <button class="tiny margin-zero" ng-click="addLocation(word, asyncSelected); asyncSelected = null;" ng-disabled="word.locations[0].value">Add</button>
                </td>
                <td>
                    <span class="inline-list margin-zero-important text-x-small cursor-pointer" ng-repeat="location in word.locations" ng-click="removeLocation(word, location.key)">{{ location.value.formatted_address }}</span>
                    <!-- <a href="" class="text-x-small cursor-pointer" ng-click="showme=true"> See Map</a> -->
                    <!-- <a ng-show="word.locations[0].value" class="link-highlight0 link-hover-secondary0 margin-horizontal-xx-small" ng-click="removeLocation(word, location.key)">X</a> -->
                    <!-- <a editable-text="dan">{{word.locations[0].value || 'empty'}}</a> -->
                </td>
                <td><my-maps id="map-canvas"></my-maps></td>
                <td>{{ word.created | date }}</td>
                <td>
                    <span ng-show="word.published">
                        {{ word.published.published | date }}
                        <a class="link-highlight0 link-hover-secondary0 margin-horizontal-xx-small" ng-click="unpublishWord(word)">X</a>
                    </span>
                    <span ng-hide="word.published">
                        <a ui-sref="authenticated.master.admin.word({key: word.$id})">Publish</a>
                    </span>

                </td>
                <td>
                    <button class="tiny margin-zero" ng-show="word.edited" ng-click="saveWord(word)">Save</button>
                    <button class="tiny alert margin-zero" ng-hide="word.edited" qv-confirm="removeWord(word)" confirmations="['Really???', 'Last chance!']" qv-confirm>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
