<section>
    <h3 class="headline">{{ transaction.date | moment:"MM/DD/YY" }}</h3>
    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
        <a flex flex-sm="50" ui-sref="authenticated.master.admin.user({key: transaction.userId})">{{ transaction.userEmail }}</a>
        <span flex flex-sm="50" ng-if="transaction.updated">Updated: {{ transaction.updated | moment:"MM/DD/YY hh:mm:ss" }}</span>
        <md-button class="md-primary md-raised" ui-sref="authenticated.master.nav.transaction({userId: transaction.userId, key: transaction.keys.user })">User View</md-button>
        <md-button class="md-primary md-raised" ng-href="{{ env.firebase.endpoint }}/userObjects/transactions/{{ transaction.userId }}/{{ transaction.keys.user }}" target="_blank">Transaction Data</md-button>
        <md-button class="md-primary md-raised" ng-href="/transaction/{{ transaction.$id }}/email/html" qv-to-static target="_blank">View Email</md-button>
        <md-button class="md-primary md-raised" ng-click="sendTransactionEmail(transaction.$id, transaction)">Send Email</md-button>
        <md-button class="md-warn md-raised" ng-click="chargeCard(transaction)" ng-disabled="transaction.charge.success">Charge Card</md-button>
        <div class="text-right" flex="100" ng-if="transaction.total && !transaction.charge.success">
            <h5 class="text-error">
                <span>Transaction Not Charged!</span>
                <span>{{ transaction.charge.message }}</span>
            </h5>
        </div>
    </md-whiteframe>
</section>
<section>
    <h3 class="headline">Products</h3>
    <md-whiteframe class="md-whiteframe-z1 margin-vertical-medium" layout="row" layout-padding layout-wrap>
        <md-list flex layout="column">
            <md-item ng-repeat="item in transaction.items">
                <md-item-content class="extra-padding" layout="row" layout-align="space-between center" layout-padding layout-wrap style="padding-top: 2rem;">
                    <strong class="max-14" flex>{{ item.type }}</strong>
                    <div flex>
                        <a ui-sref="authenticated.master.admin.product({key: item.key})">{{ item.title }} x {{ item.quantity }} @ {{ item.priceAdjusted || item.price | currency }}</a>
                        <div>
                            <strong>{{ item.optionsMatrixSelected.name }}</strong>
                        </div>
                    </div>
                    <div flex>
                        <ul class="margin-zero">
                            <li ng-if="item.type == 'digital'"><strong><a href="{{ ::item.downloadUri }}">{{ ::item.downloadUri }}</a></strong></li>
                            <li ng-if="item.type == 'gift'" ng-repeat="discount in item.discounts">Code: <strong>{{ ::discount.code }}</strong> for <strong>{{ ::discount.value | currency }}</strong></li>
                            <li ng-if="item.type == 'subscription'">Subscription: <strong>{{ ::item.subscriptionType }}</strong> for <strong>{{ ::item.subscriptionDays }} days</strong></li>
                        </ul>
                    </div>
                    <div class="max-14" flex>
                        <ul class="margin-zero">
                            <li>Shipped: <strong ng-class="{'text-success': item.shipped}">{{ item.shipped || 'false' }}</strong></li>
                            <li>Taxable: <strong ng-class="{'text-success': item.taxable}">{{ item.taxable || 'false' }}</strong></li>
                        </ul>
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-whiteframe>
</section>
<section ng-if="transaction.affiliate">
    <h3 class="headline">Affiliate</h3>
    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding layout-wrap>
        <div flex ng-repeat="(key, value) in transaction.affiliate">
            <strong class="capitalize inline-block min-10">{{ key }}:</strong>
            <span>{{ value }}</span>
        </div>
    </md-whiteframe>
</section>