<section>
    <h3 class="headline">Subscription</h3>
    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="start start" layout-padding layout-wrap>
        <h3 class="headline" flex="100">{{ subscription.title }}</h3>
        <a class="bold" flex ui-sref="authenticated.master.admin.user({key: subscription.user.public.id})">{{ subscription.user.preferredEmail || subscription.user.email }}</a>
        <md-button class="md-warn md-raised md-icon-button" ng-click="confirmRemoveSubscription($event)" aria-label="Remove subscription">
            <i class="mdi-action-delete"></i>
        </md-button>
        <span class="padding-zero-important" flex="100"></span>
        <div flex="50" flex-sm="100" layout="row" layout-align="start start" layout-padding layout-wrap>
            <span flex="50">Date:</span>
            <span class="text-right" flex>{{ subscription.date | moment:"MM/DD/YYYY" }}</span>
            <span flex="50">Email</span>
            <div class="text-right" flex>
                <a href="mailto:{{ subscription.user.preferredEmail || subscription.user.email }}">{{ subscription.user.preferredEmail || subscription.user.email }}</a>
            </div>
            <span flex="50">Expiration</span>
            <div class="text-right" flex>
                <span ng-show="userSubscription.expiration">{{ userSubscription.expiration | moment:"MM/DD/YYYY" }}</span>
                <span ng-show="!userSubscription.expiration">Subscription Not Started</span>
            </div>
            <span flex="50">Original Expiration</span>
            <div class="text-right" flex>
                <span ng-show="userSubscription.originalExpiration">{{ userSubscription.originalExpiration | moment:"MM/DD/YYYY" }}</span>
                <span ng-show="!userSubscription.originalExpiration">Not edited...</span>
            </div>
            <span flex="50">Price</span>
            <span class="text-right" flex>{{ subscription.price | currency }}</span>
            <span flex="50">Days</span>
            <span class="text-right" flex>{{ subscription.subscriptionDays }}</span>
            <span flex="50">Slugs</span>
            <div class="text-right" flex>
                <ul class="padding-zero margin-zero">
                    <li ng-repeat="hashtag in subscription.hashtags">{{ hashtag.value }}</li>
                </ul>
            </div>
            <span flex="50"></span>
            <span class="text-right" flex></span>
            <span flex="50"></span>
            <span class="text-right" flex></span>
        </div>
        <form name="subscriptionForm" flex="50" flex-sm="100" layout="row" layout-align="start start" layout-padding layout-wrap>
            <md-input-container flex ng-if="userSubscription.expiration">
                <label for="extra-days">+/- Subscription Days</label>
                <input id="extra-days" type="number" ng-model="userSubscription.extraDays" required>
            </md-input-container>
            <md-button class="md-primary md-raised md-icon-button" flex ng-if="userSubscription.expiration" ng-click="addDays(userSubscription);" ng-disabled="subscriptionForm.$invalid" qv-focus="#extra-days" style="margin: 2rem -1px 0 2rem;" aria-label="Add or substract subscription days">
                <i class="mdi-content-add-box"></i>
            </md-button>
            <span flex="100"></span>
            <md-button class="md-primary md-raised adjust-line-height max-18" flex ng-click="confirmResetSubscription($event, userSubscription)" ng-if="userSubscription.expiration">
                Reset Subscription
            </md-button>
        </form>
    </md-whiteframe>
</section>