<div class="column small-12 medium-4">
    <label>Order By Type</label>
    <select ng-model="query.type" ng-change="query.slug = undefined; reset(getTypeQuery(query.type));">
        <option value="">All Types</option>
        <option value="post">Post</option>
        <option value="page">Page</option>
        <!-- <option value="post" default>Post</option> -->
        <option value="subscription">Subscription</option>
    </select>
</div>

<div class="column small-12 medium-4">
    <label>Order By Slug</label>
    <input type="text" ng-model="query.slug" qv-enter="query.type = ''; reset(getSlugQuery(query.slug));" placeholder="Slug (click ENTER to search)...">
</div>

<div class="column small-12 medium-4">
    <label>Filter Results</label>
    <input type="text" ng-show="items.length" ng-model="authorFilter" ng-focus="authorFilter = ''" placeholder="Search..."/>
</div>

<div class="column small-12">
  <ul class="table-list hover padded striped">
    <!-- <li class="table-list-header">
      <div class="column small-12 medium-1">
        Author
      </div>
      <div class="column small-12 medium-2">
        Title
      </div>
      <div class="column small-12 medium-1">
        Slug
      </div>
      <div class="column small-12 medium-1">
        Type
      </div>
      <div class="column small-12 medium-1">
        Priority
      </div>
      <div class="column small-12 medium-2">
        Hashtags
      </div>
      <div class="column small-12 medium-1">
        &nbsp
      </div>
      <div class="column small-12 medium-1">
        Created
      </div>
      <div class="column small-12 medium-1">
        Published
      </div>
      <div class="column small-12 medium-1 medium-text-right">
        Action
      </div>
    </li> -->
    <li ng-repeat="word in items | filter:authorFilter | orderBy:'-$priority'">
      <div class="small-12">
        <div class="column small-12 medium-3">
          <span>{{ word.author.name || word.author.email }}</span>
          <span class="cursor-pointer text-xx-small" ng-hide="isAuthor(word.author, user.public)" ng-click="makeAuthor(word, user)">claim</span>
        </div>
        <div class="column small-12 medium-6">
          <div>
            <strong><a ui-sref="authenticated.master.admin.word({key: word.$id})">{{ word.title }}</a></strong>
          </div>
          <div>
            <span class="cursor-pointer" contenteditable="true" ng-model="word.slug" ng-change="word.edited = true;">{{ word.slug }}</span>
          </div>
        </div>
        <div class="column small-12 medium-3 medium-text-right">
          <button class="tiny margin-zero" style="min-width: 7rem;" ng-show="word.edited" ng-click="saveWord(word)">Save</button>
          <button class="tiny alert margin-zero" style="min-width: 7rem;" ng-hide="word.edited" qv-confirm="removeWord(word)" confirmations="['Really???', 'Last chance!']" qv-confirm>Delete</button>  
        </div>
       
      </div>

      <div class="column small-12">
        <hr>
      </div>
      

      <div class="column small-12">
        <div class="column small-12 medium-2">
          <select class="margin-zero" style="min-width: 5rem;" ng-model="word.type" ng-change="word.edited = true">
              <option value="">Select Type</option>
              <option value="post">Post</option>
              <option value="page">Page</option>
              <option value="subscription">Subscription</option>
          </select>
        </div>
        <div class="column small-12 medium-2">
          <input class="margin-zero-important" type="text" placeholder="Hashtag..." ng-model="newHashtag" qv-enter="addHashtag(word, newHashtag); newHashtag = null;" qv-type-ahead include="hashtags" exclude="word.hashtags" prepopulate="true" top-offset="-1"/>
        </div>
        <div class="column small-12 medium-5">
          <ul class="inline-list margin-zero-important text-x-small">
              <li class="cursor-pointer" ng-repeat="hashtag in word.hashtags" ng-click="removeHashtag(word, hashtag.key)">#{{ hashtag.value }}</li>
          </ul>
          &nbsp;
        </div>
        <div class="column small-12 medium-2">
          <input class="margin-zero-important" ng-show="word.type == 'post' || word.type == 'subscription'" type="number" ng-model="word.$priority" ng-model-options="{debounce: {'default': 500}}" ng-change="word.edited = true; setPriority(word.$id, word.$priority)" placeholder="Priority"/>
          &nbsp;
        </div>
        <div class="column small-12 medium-3 medium-text-right">
          <div>
            <span class="text-x-small" ng-show="word.published">
                Published: {{ word.published.published | moment:"MM/DD/YY" }}
                <a class="link-highlight0 link-hover-secondary0 margin-horizontal-xx-small" ng-click="unpublishWord(word)">X</a>
            </span>
            <span ng-hide="word.published">
                <a ui-sref="authenticated.master.admin.word({key: word.$id})">Publish</a>
            </span>
          </div>
          <div>
            <span class="text-x-small">Created: {{ word.created | moment:"MM/DD/YY" }}</span>
          </div>
          
        </div>

      </div>  

    </li>
    <li class="no-stripe no-hover padding-small" ng-show="items.length || paginating">
        <div class="column small-4">
          <button class="secondary small-12 tiny" ng-click="loadNext(undefined, {limitToLast: limit, endAt: endAt(items)})" ng-disabled="false">Previous {{ limit }}</button>&nbsp;
        </div>
        <div class="column small-4">
          <button class="secondary small-12 tiny" ng-click="reset({orderByPriority: true, limitToLast: limit})" ng-disabled="!paginating">Reset</button>
        </div>
        <div class="column small-4">
          <button class="secondary small-12 tiny" ng-click="loadPrev(undefined, {limitToLast: limit, startAt: startAt(items)})" ng-disabled="false">Next {{ limit }}</button>
        </div>
    </li>
  </ul>
</div>
