<section>
    <h3 class="headline">Shipping Origin Address</h3>
    <form>
        <fieldset>
            <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
                <div flex="50" flex-sm="100" layout="row" layout-padding layout-wrap>
                    <strong flex="100">Address</strong>
                    <md-input-container flex="100">
                        <label for="unverified-name">Name</label>
                        <input id="unverified-name" type="text" ng-model="unverifiedAddress.name" required>
                    </md-input-container>
                    <md-input-container flex="100">
                        <label for="unverified-company">Company</label>
                        <input id="unverified-company" type="text" ng-model="unverifiedAddress.company">
                    </md-input-container>
                    <md-input-container flex="100">
                        <label for="unverified-street1">Street Line 1</label>
                        <input id="unverified-street1" type="text" ng-model="unverifiedAddress.street1" required>
                    </md-input-container>
                    <md-input-container flex="100">
                        <label for="unverified-street2">Street Line 2</label>
                        <input id="unverified-street2" type="text" ng-model="unverifiedAddress.street2" required>
                    </md-input-container>
                    <md-input-container flex="100">
                        <label for="unverified-street3">Street Line 3</label>
                        <input id="unverified-street3" type="text" ng-model="unverifiedAddress.street3" required>
                    </md-input-container>
                    <md-input-container flex="33" flex-sm="100">
                        <label for="unverified-city">City</label>
                        <input id="unverified-city" type="text" ng-model="unverifiedAddress.city" required>
                    </md-input-container>
                    <md-input-container flex="33" flex-sm="100">
                        <label for="unverified-state">State</label>
                        <input id="unverified-state" type="text" ng-model="unverifiedAddress.state" required>
                    </md-input-container>
                    <md-input-container flex="33" flex-sm="100">
                        <label for="unverified-zip">ZIP</label>
                        <input id="unverified-zip" type="text" ng-model="unverifiedAddress.zip" required>
                    </md-input-container>
                    <md-input-container flex="33" flex-sm="100">
                        <label for="unverified-country">Country</label>
                        <input id="unverified-country" type="text" ng-model="unverifiedAddress.country" required>
                    </md-input-container>
                    <md-input-container flex="100">
                        <label for="unverified-email">Email</label>
                        <input id="unverified-email" type="text" ng-model="unverifiedAddress.email" required>
                    </md-input-container>
                    <md-input-container flex="100">
                        <label for="unverified-phone">Phone</label>
                        <input id="unverified-phone" type="text" ng-model="unverifiedAddress.phone" required>
                    </md-input-container>
                    <md-button class="md-primary md-raised" ng-click="createAddress(unverifiedAddress)" ng-disabled="addressForm.$invalid || verifying">
                        Verify
                    </md-button>
                </div>
                <div flex="50" flex-sm="100">
                    <div>
                        <strong>Verified Address</strong>
                    </div>
                    <div>{{ $storage.shipment.fromAddress.name }}</div>
                    <div>{{ $storage.shipment.fromAddress.company }}</div>
                    <div>{{ $storage.shipment.fromAddress.street1 }}</div>
                    <div>{{ $storage.shipment.fromAddress.street2 }}</div>
                    <div>{{ $storage.shipment.fromAddress.street3 }}</div>
                    <div>{{ $storage.shipment.fromAddress.city }}, {{ $storage.shipment.fromAddress.state }} {{ $storage.shipment.fromAddress.zip }}</div>
                    <div>{{ $storage.shipment.fromAddress.country }}</div>
                    <div>{{ $storage.shipment.fromAddress.email }}</div>
                    <div>{{ $storage.shipment.fromAddress.phone }}</div>
                </div>
            </md-whiteframe>
        </fieldset>
    </form>
</section>
<section>
    <h3 class="headline">Shipping Rates</h3>
    <form name="shippingForm">
        <fieldset>
            <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
                <md-input-container flex>
                    <label for="shipping-base-rate">Domestic Base Rate USD</label>
                    <input type="number" min="0" ng-model="commerce.shipping.domesticBaseRate">
                </md-input-container>
                <md-input-container flex>
                    <label for="shipping-base-rate">International Base Rate USD</label>
                    <input type="number" min="0" ng-model="commerce.shipping.internationalBaseRate">
                </md-input-container>
                <md-input-container flex>
                    <label for="shipping-subtotal-free">Free Shipping Minimum Order USD</label>
                    <input type="number" min="0" ng-model="commerce.shipping.minOrder">
                </md-input-container>
            </md-whiteframe>
        </fieldset>
    </form>
</section>
<section>
    <h3 class="headline">Tax Rates</h3>
    <form name="commerceForm" layout="row">
        <div flex>
            <fieldset>
                <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
                    <md-button class="md-primary md-raised adjust-line-height" flex ng-click="checkAllStates()">
                        Check All
                    </md-button>
                    <md-button class="md-primary md-raised adjust-line-height" flex ng-click="uncheckAllStates()">
                        Uncheck All
                    </md-button>
                    <md-list flex="100">
                        <md-item ng-repeat="state in states">
                            <md-item-content layout="row" layout-align="space-between center" layout-padding layout-wrap ng-class="{disabled: !commerce.states[state.abbreviation].enabled}">
                                <md-checkbox ng-model="commerce.states[state.abbreviation].enabled">
                                    {{ state.name }}
                                </md-checkbox>
                                <md-input-container>
                                    <label for="tax-{{ state.abbreviation }}">{{ state.name }} Tax Rate</label>
                                    <input id="tax-{{ state.abbreviation }}" type="number" ng-model="commerce.states[state.abbreviation].tax" ng-disabled="!commerce.states[state.abbreviation].enabled">
                                </md-input-container>
                            </md-item-content>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-item>
                    </md-list>
                </md-whiteframe>
            </fieldset>
        </div>
        <div flex>
            <fieldset>
                <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
                    <md-button class="md-primary md-raised adjust-line-height" flex ng-click="checkAllCountries()">
                        Check All
                    </md-button>
                    <md-button class="md-primary md-raised adjust-line-height" flex ng-click="uncheckAllCountries()">
                        Uncheck All
                    </md-button>
                    <md-list flex="100">
                        <md-item ng-repeat="country in countries">
                            <md-item-content layout="row" layout-align="space-between center" layout-padding layout-wrap ng-class="{disabled: !commerce.countries[country['alpha-2']].enabled}">
                                <md-checkbox ng-model="commerce.countries[country['alpha-2']].enabled">
                                    {{ country.name }}
                                </md-checkbox>
                                <md-input-container>
                                    <label for="domestic-{{ country['alpha-2'] }}">{{ country.name }} Tax Rate</label>
                                    <input id="tax-{{ country['alpha-2'] }}" class="margin-zero-important" type="number" ng-model="commerce.countries[country['alpha-2']].tax" ng-disabled="!commerce.countries[country['alpha-2']].enabled">
                                </md-input-container>
                            </md-item-content>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-item>
                    </md-list>
                </md-whiteframe>
            </fieldset>
        </div>
    </form>
</section>