<section layout="row" layout-align="end center">
    <!-- <h3 class="headline" flex ng-class="{'disabled': $storage.hideDashboardReports}">Reports</h3> -->
    <span flex hide-sm></span>
    <div class="max-7" flex hide-sm>
        <md-progress-circular flex md-mode="indeterminate" qv-loading ng-class="{invisible: !runningReports}"></md-progress-circular>
    </div>
    <md-button class="md-warn md-raised max-10 truncate" flex ng-click="runReports()" ng-disabled="runningReports">
        Run Reports
    </md-button>
    <md-button class="md-primary md-raised md-icon-button" flex ng-click="$storage.hideDashboardReports = !$storage.hideDashboardReports" aria-label="Hide dashboard reports">
        <i ng-class="{'mdi-navigation-expand-less': $storage.hideDashboardReports, 'mdi-navigation-expand-more': !$storage.hideDashboardReports}"></i>
    </md-button>
</section>
<section ng-if="!$storage.hideDashboardReports && reports.discounts">
    <div layout="row" layout-align="start center">
        <h3 class="headline" flex ng-class="{'disabled': $storage.hideDiscountsReport}">Discounts</h3>
        <md-button class="md-primary md-raised md-icon-button" flex ng-click="$storage.hideDiscountsReport = !$storage.hideDiscountsReport" aria-label="Hide discounts report">
            <i ng-class="{'mdi-navigation-expand-less': $storage.hideDiscountsReport, 'mdi-navigation-expand-more': !$storage.hideDiscountsReport}"></i>
        </md-button>
    </div>
    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap ng-if="!$storage.hideDiscountsReport">
        <md-list flex>
            <md-item ng-repeat="(day, results) in reports.discounts.byDay">
                <md-item-content layout="column" layout-gt-sm="row" layout-align-sm="center center" layout-padding layout-wrap>
                    <span class="max-7" flex>{{ ::day }}</span>
                    <div flex>
                        <ul class="margin-zero padding-zero">
                            <li ng-repeat="use in results" layout="column" layout-gt-md="row">
                                <span class="truncate" flex>{{ ::use.code }}<md-tooltip>{{ ::use.code }}</md-tooltip></span>
                                <a class="truncate" flex ui-sref="authenticated.master.admin.users.list({search: use.userEmail})">{{ ::use.userEmail }}</a>
                                <span class="truncate" flex>Discount: {{ ::use.discount || use.value | currency }}</span>
                                <span class="truncate" flex>Uses: {{ ::use.useCount }}/{{ ::use.uses }}</span>
                            </li>
                        </ul>
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-whiteframe>
</section>
<section ng-if="!$storage.hideDashboardReports && reports.surveys">
    <div layout="row" layout-align="start center">
        <h3 class="headline" flex ng-class="{'disabled': $storage.hideSurveysReport}">Surveys</h3>
        <md-button class="md-primary md-raised md-icon-button" flex ng-click="$storage.hideSurveysReport = !$storage.hideSurveysReport" aria-label="Hide surveys report">
            <i ng-class="{'mdi-navigation-expand-less': $storage.hideSurveysReport, 'mdi-navigation-expand-more': !$storage.hideSurveysReport}"></i>
        </md-button>
    </div>
    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap ng-if="!$storage.hideSurveysReport">
        <md-list flex>
            <md-item ng-repeat="(key, survey) in reports.surveys.bySurvey">
                <md-item-content layout="row" layout-sm="column" layout-align="space-between center" layout-padding layout-wrap>
                    <span class="max-20" flex>{{ ::survey.question }}</span>
                    <span class="max-7" flex>{{ ::survey.answered || 0 }}/{{ ::survey.asked || 0 }}</span>
                    <ul flex>
                        <li ng-repeat="response in survey.responses" layout="row" layout-sm="column">
                            <span flex>{{ response.response }}</span>
                            <span class="max-7" flex>Count: {{ response.count }}</span>
                            <ul class="inline-list padding-zero-important" flex layout="column">
                                <li ng-repeat="responder in response.responders" layout="column" layout-gt-md="row">
                                    <a class="truncate" flex ui-sref="authenticated.master.admin.user({key: responder.userId})">{{ responder.userEmail }}<md-tooltip>{{ responder.userEmail }}</md-tooltip></a>
                                    <span class="max-7 text-right" flex>{{ responder.answered | moment:"MM/DD/YY" }}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-whiteframe>
</section>
<div class="padding-large"></div>
<section layout="row" layout-sm="column" layout-align="start center">
    <h3 class="headline" flex flex-order="1">Backups</h3>
    <div class="max-7" flex flex-order="1" flex-order-sm="2">
        <md-progress-circular flex md-mode="indeterminate" qv-loading ng-class="{invisible: !runningBackup && !updatingBackups}"></md-progress-circular>
    </div>
    <md-button class="md-warn md-raised max-10" flex flex-order="1" ng-click="runBackup()" ng-disabled="runningBackup">
        Run
    </md-button>
    <md-button class="md-warn md-raised max-10" flex flex-order="1" ng-click="updateBackups()" ng-disabled="updatingBackups">
        Update
    </md-button>
    <md-button class="md-primary md-raised md-icon-button" flex flex-order="1" ng-click="$storage.hideDashboardBackups = !$storage.hideDashboardBackups" aria-label="Hide dashboard backups">
        <i ng-class="{'mdi-navigation-expand-less': $storage.hideDashboardBackups, 'mdi-navigation-expand-more': !$storage.hideDashboardBackups}"></i>
    </md-button>
</section>
<section ng-if="!$storage.hideDashboardBackups && backups.length">
    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap ng-if="!$storage.hideSurveysReport">
        <md-list flex>
            <md-item ng-repeat="backup in backups | orderBy:'-$id'">
                <md-item-content layout="row" layout-sm="column" layout-align="space-between center" layout-padding layout-wrap>
                    <md-button class="md-primary md-raised md-icon-button adjust-mdi" flex ng-href="/api/admin/backup/download/{{ backup.Filename }}?email={{ user.email }}&uid={{ currentUser.uid }}&provider={{ currentUser.provider }}&authorization={{ currentUser.token }}" target="_blank" download aria-label="Download backup">
                        <i class="mdi-file-file-download"></i>
                    </md-button>
                    <span flex>{{ backup.Key }}</span>
                    <span class="text-right" flex>{{ backup.Size | filesize }}</span>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-whiteframe>
</section>
<section>
    <h3 class="headline">Generate Affiliate Links</h3>
    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding layout-wrap>
        <form>
            <div layout="row" layout-sm="column" layout-padding layout-wrap>
                <md-input-container flex="50" ng-if="products.length">
                    <md-select ng-model="affiliateLink.product" aria-label="affiliate product">
                        <md-option ng-value="">Pick a Product</md-option>
                        <md-option ng-value="product.slug" ng-repeat="product in products">{{ product.title }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="50" ng-if="getOptions(affiliateLink).length">
                    <md-select ng-model="affiliateLink.option" aria-label="affiliate product option">
                        <md-option ng-value="">Pick a Product Option</md-option>
                        <md-option ng-value="option.slug" ng-repeat="option in getOptions(affiliateLink)">{{ option.name }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="100">
                    <label for="affiliate-discount-code">Discount Code</label>
                    <input id="affiliate-discount-code" type="text" ng-model="affiliateLink.code">
                </md-input-container>
                <md-input-container flex>
                    <label for="affiliate-referral">Referral</label>
                    <input id="affiliate-referral" type="text" ng-model="affiliateLink.referral">
                </md-input-container>
                <md-input-container flex>
                    <label for="affiliate-creative">Creative</label>
                    <input id="affiliate-creative" type="text" ng-model="affiliateLink.creative">
                </md-input-container>
                <md-input-container flex>
                    <label for="affiliate-position">Position</label>
                    <input id="affiliate-position" type="text" ng-model="affiliateLink.position">
                </md-input-container>
                <div flex="100">
                    <a href="{{ getAffiliateLink(affiliateLink) }}">{{ getAffiliateLink(affiliateLink) }}</a>
                </div>
            </div>
        </form>
    </md-whiteframe>
</section>