<section>
    <h3 class="headline">Surveys</h3>
    <form name="newSurveyForm">
        <fieldset>
            <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="start center" layout-padding layout-wrap>
                <md-input-container flex="100">
                    <label for="survey-value">Name</label>
                    <input id="survey-value" type="text" ng-model="newSurvey.name" placeholder="Name..." required>
                </md-input-container>
                <md-input-container flex="50" flex-sm="100">
                    <label for="survey-question">Question</label>
                    <textarea id="survey-question" type="text" ng-model="newSurvey.question" placeholder="Question..." required></textarea>
                </md-input-container>
                <md-input-container flex="50" flex-sm="100">
                    <label for="survey-message">Message</label>
                    <textarea id="survey-message" ng-model="newSurvey.message" placeholder="Message..."></textarea>
                </md-input-container>
                <md-input-container flex>
                    <label for="survey-answer">New Answer</label>
                    <input id="survey-answer" type="text" ng-model="newAnswer">
                </md-input-container>
                <div class="max-10 text-right" flex>
                    <md-button class="md-primary md-raised adjust-line-height max-16" ng-click="addAnswer(newAnswer); newAnswer = '';" qv-focus="#survey-answer">
                        Add Answer
                    </md-button>
                </div>
                <md-list flex="100" ng-if="newSurvey.answers.length">
                    <md-item ng-repeat="answer in newSurvey.answers">
                        <md-item-content layout="row" layout-align="space-between center" layout-padding layout-wrap>
                            <span flex>{{ answer }}</span>
                            <md-button class="md-warn md-icon-button" flex ng-click="removeAnswer($index)" aria-label="Remove answer {{ answer }}">
                                <i class="mdi-action-delete"></i>
                            </md-button>
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-item>
                </md-list>
                <span class="padding-zero-important" flex="100"></span>
                <div class="text-right" flex>
                    <md-button class="md-primary md-raised adjust-line-height max-16" ng-click="addSurvey(newSurvey)" ng-disabled="newSurveyForm.$invalid" qv-focus="#survey-name">
                        Create Survey
                    </md-button>
                </div>
            </md-whiteframe>
        </fieldset>
    </form>
    <div ui-view></div>
</section>