<div class="column small-12">
    <h3 class="font-flair">Discounts</h3>
    <form name="newDiscountForm">
      <fieldset>

        <div class="column small-12 medium-4">
          <label for="discount-type">Type</label>
          <select id="discount-type" ng-model="newDiscount.type" ng-blur="validateNewDiscount()">
            <option value="percentage">Percentage</option>
            <option value="value">Value</option>
          </select>
        </div>

        <div class="column small-12 medium-4">
          <div ng-show="newDiscount.type === 'percentage'">
            <label for="discount-percentage">Percentage</label>
            <input id="discount-percentage" type="number" min="0" max="100" ng-model="newDiscount.percentage" ng-blur="validateNewDiscount()" placeholder="0-100...">
          </div>
          <div ng-show="newDiscount.type === 'value'">
            <label for="discount-value">Value</label>
            <input id="discount-value" type="number" ng-model="newDiscount.value" ng-blur="validateNewDiscount()" placeholder="USD...">
          </div>
        </div>

        <div class="column small-12 medium-4">
          <label for="discount-code">Code</label>
          <input id="discount-code" type="text" ng-model="newDiscount.code" placeholder="Code...">
        </div>

        <div class="column small-12 medium-4">
          <label for="discount-expiration">Expiration</label>
          <input id="discount-expiration" type="date" ng-model="newDiscount.expiration" ng-blur="validateNewDiscount()">
        </div>

        <div class="column small-12 medium-4">
          <label for="discount-uses">Uses</label>
          <input id="discount-uses" type="number" min="1" ng-model="newDiscount.uses" ng-blur="validateNewDiscount()">
        </div>

        <div class="column small-12 medium-4">
          <label for="discount-product-slug">Product Slug</label>
          <input id="discount-product-slug" type="text" ng-model="newDiscount.productSlug" ng-blur="validateNewDiscount()" placeholder="Product slug...">
        </div>

        <div class="column small-12 medium-4">
          <label for="discount-min-subtotal">Min Subtotal</label>
          <input id="discount-min-subtotal" type="number" min="0" ng-model="newDiscount.minSubtotal" ng-blur="validateNewDiscount()" placeholder="Min subtotal...">
        </div>

        <div class="column small-12 medium-4">
          <label for="discount-max-subtotal">Max Subtotal</label>
          <input id="discount-max-subtotal" type="number" min="0" ng-model="newDiscount.maxSubtotal" ng-blur="validateNewDiscount()" placeholder="Max subtotal...">
        </div>

        <div class="column small-12 medium-4 padding-vertical-x-medium">
          <label class="left" for="discount-free-shipping">Free Shipping</label>
          <input id="discount-free-shipping" class="margin-horizontal-small-important" type="checkbox" ng-model="newDiscount.freeShipping" ng-blur="validateNewDiscount()">
        </div>

        <div class="column small-12">
          <button ng-click="createDiscount(newDiscount)" ng-disabled="newDiscountForm.$invalid" qv-focus="#discount-type">Create</button>
        </div>


      </fieldset>

    </form>

    <hr ng-show="discounts.length">

    <input type="text" ng-show="searching || discounts.length" ng-model="discountFilter" ng-focus="discountFilter = ''" placeholder="Search: Click ENTER to search server..." qv-enter="search(discountFilter)"/>

    <ul class="small-12 table-list striped hover padded">
      <li class="table-list-header">
        <div class="column small-3 medium-1">Active</div>
        <div class="column small-3 medium-1">Type</div>
        <div class="column small-3 medium-1">Value</div>
        <div class="column small-3 medium-1">Code</div>
        <div class="column small-3 medium-1">Expiration</div>
        <div class="column small-3 medium-1">Uses/Used</div>
        <div class="column small-3 medium-1">Product</div>
        <div class="column small-3 medium-1">Min/Max</div>
        <div class="column small-3 medium-1">Shipping</div>
        <div class="column small-3 medium-1">Created</div>
        <div class="column small-6 medium-2 text-center">Action</div>
      </li>
      <li ng-repeat="discount in discounts | filter:discountFilter | orderBy:'created':'desc'" ng-class="{disabled: disabled}">
        <div class="column small-3 medium-1">
          <input class="margin-xx-small-important" type="checkbox" ng-model="discount.active" ng-change="saveDiscount(discount)"/>
        </div>
        <div class="column small-3 medium-1">
          {{ ::discount.type }}
        </div>
        <div class="column small-3 medium-1">
          <span ng-show="discount.type === 'percentage'">{{ ::discount.percentage }}%</span>
          <span ng-show="discount.type === 'value'">{{ ::discount.value | currency }}</span>
        </div>
        <div class="column small-3 medium-1">
          {{ ::discount.code }}
        </div>
        <div class="column small-3 medium-1">
          {{ ::discount.expiration | moment:"MM/DD/YY" }}
        </div>
        <div class="column small-3 medium-1">
          {{ ::discount.useCount || 0 }}/{{ ::discount.uses }}
        </div>
        <div class="column small-3 medium-1">
          {{ ::discount.productSlug  || 'All' }}
        </div>
        <div class="column small-3 medium-1">
          {{ ::discount.minSubtotal }}/{{ ::discount.maxSubtotal || 'none'}}
        </div>
        <div class="column small-3 medium-1">
          <span class="text-success"><i class="fa fa-truck" ng-class="{'text-error': !discount.freeShipping}"></i></span>
        </div>
        <div class="column small-3 medium-1">
          {{ ::discount.created | moment:"MM/DD/YY" }}
        </div>
        <div class="column small-6 medium-2">
          <button class="alert tiny centered-block" style="min-width: 8rem;" qv-confirm="disabled = true; removeDiscount(discount);" ng-disabled="disabled">Delete</button>
        </div>
      </li>
      <li class="no-hover no-pad">
        <button class="secondary small-12" ng-click="loadMore()" ng-hide="searching || discounts.length < limit">Load More +</button>
        <button class="secondary small-12" ng-click="reset()" ng-show="searching">Reset</button>
      </li>
    </ul>
    
</div>
