<div class="column small-12">
  <h3 class="font-flair">Products</h3>

  <form name="productForm">
      <fieldset>
        <div class="column small-12">
          <input id="new-product-title" type="text" name="product-title" ng-model="newProduct.title" placeholder="Product title..." required>
          <button name="button" ng-disabled="productForm.$invalid" ng-click="addProduct(newProduct)" qv-focus="#new-product-title">Create</button>
        </div>
      </fieldset>
  </form>

  <ul class="column small-12 table-list striped">
    <li ng-repeat="product in products">
      <div class="overflow-hidden background-secondary3 text-white link-white link-hover-secondary4">
        <a class="left padding-small" ui-sref="authenticated.master.admin.product({key: product.$id})">{{ product.title }}</a>
        <div class="right padding-small background-error cursor-pointer text-center" qv-confirm="removeProduct(product)" confirmations="['Are you sure?', 'Last Chance!']" style="min-width: 10rem;">Delete</div>
        <div class="right padding-small background-success" ng-show="product.active && product.isValid">Active</div>
        <div class="right padding-small background-warning" ng-show="!product.active || !product.isValid">Inactive</div>

      </div>

      <div>
        <div class="column small-12 medium-3 padding-zero-important">
          <a ui-sref="authenticated.master.admin.product({key: product.$id})">
            <img ng-if="product.featuredImage.Versions.small.Key" ng-src="{{ product.featuredImage.Versions.small.Key | s3Link:files.Name }}" />
          </a>
        </div>
        <div class="column small-12 medium-3">
          <table>
            <tbody>
              <tr>
                <td>Price:</td>
                <td>{{ product.price | currency }}</td>
              </tr>
              <tr>
                <td>Type:</td>
                <td>{{ product.type }}</td>
              </tr>
              <tr>
                <td>Slug:</td>
                <td>{{ product.slug }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column small-12 medium-3" ng-show="product.shipped">
          <table>
            <tbody>
              <tr>
                <td>Domestic:</td>
                <td>{{ product.shipping.domesticPrice }}</td>
              </tr>
              <tr>
                <td>International:</td>
                <td>{{ product.shipping.internationalPrice }}</td>
              </tr>
              <tr>
                <td>International Allowed:</td>
                <td>{{ product.shipping.internationalAllowed }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='column small-12 medium-3 padding-vertical-small'>
          <label><strong>Excerpt:</strong></label>
          <p>{{ product.description.excerpt }}</p>
        </div>

      </div>
    </li>
  </ul>

</div>
