<input class="small-12" type="text" ng-model="searchTerm" placeholder="Search: Click Enter to search server by email..." qv-enter="search({orderByChild: 'email', startAt: searchTerm, limit: 10})">

<ul class="table-list padded hover striped">
  <li class="table-list-header padding-small">
    <div class="column small-12 medium-5">
      Email
    </div>
    <div class="column small-12 medium-2">
      Created
    </div>
    <div class="column small-12 medium-2">
      Last Login
    </div>
    <div class="column small-12 medium-1">
      Admin
    </div>
    <div class="column small-12 medium-1">
      Moderator
    </div>
    <div class="column small-12 medium-1">
      Messageable
    </div>
  </li>
  <li class="text-x-medium" ng-repeat="user in items | orderBy:'$priority':'asc'">
      <div class="column small-12 medium-5 padding-small">
        <a ui-sref="authenticated.master.admin.user({key: user.$id})">{{ user.public.email || user.email }}</a>
      </div>
      <div class="column small-12 medium-2 padding-small">
        {{ user.created | moment:"MM/DD/YYYY" }}
      </div>
      <div class="column small-12 medium-2 padding-small">
        {{ user.lastLogin | moment:"MM/DD/YYYY hh:mm" }}
      </div>
      <div class="column small-12 medium-1">    
        <input id="user-admin-{{ user.$id }}" style="margin: 1.3rem auto 0;" type="checkbox" ng-model="user.private.isAdmin" ng-change="saveUserRoles(user)">
      </div>
      <div class="column small-12 medium-1">
        <input id="user-moderator-{{ user.$id }}" style="margin: 1.3rem auto 0;" type="checkbox" ng-model="user.private.isModerator" ng-change="saveUserRoles(user)">
      </div>
      <div class="column small-12 medium-1">
        <input id="user-message-enabled-{{ user.$id }}" style="margin: 1.3rem auto 0;" type="checkbox" ng-model="user.messageable" ng-change="saveUserMessageable(user)">
      </div>

    
  </li>
  <li class="no-stripe no-hover">
    <div ng-hide="searching">
      <div class="column small-3">
        <button class="secondary small-12" ng-click="loadNext()" ng-disabled="disablePrev">Previous</button>
      </div>
      <div class="column small-3">
        <button class="secondary small-12" ng-click="loadMore()" ng-disabled="disableMore">Load More +</button>
      </div>
      <div class="column small-3">
        <button class="secondary small-12" ng-click="reset()" ng-disabled="disableReset">Reset</button>
      </div>
      <div class="column small-3">
        <button class="secondary small-12" ng-click="loadPrev()" ng-disabled="disableNext">Next</button>&nbsp;
      </div>
    </div>
  </li>
</ul>