<section id="feedback-messages">
    <h3 class="headline">Words</h3>

    <form name="newWordForm">
      <fieldset>
        <div layout="row" layout-align="start center" layout-padding>
          <md-input-container flex>
            <label for="new-word-title">New Word Title</label>
            <input id="new-word-title" flex type="text" ng-model="newWordTitle" placeholder="New word title..." required/>
          </md-input-container>
          <div flex="10" flex-sm="20">
            <md-button class="md-raised md-primary" ng-click="createWord(newWordTitle)" ng-disabled="newWordForm.$invalid" qv-focus="#new-word-title">Create</md-button>
          </div>

          
        </div>
        
      </fieldset>
    </form>

    <div ui-view></div>

</section>