<div class="column small-12">
  <h3 class="font-flair">Messages</h3>
</div>

<div class="column small-12">
  <input type="text" ng-model="searchTerm" qv-enter="search(searchTerm)" placeholder="Click ENTER to search by email...">
  <ul class="table-list link-padded hover striped">
    <li ng-repeat="message in messages">
      <a class="clearfix block" ui-sref="authenticated.master.admin.feedback({userId: message.recipientId || message.userId, assignmentKey: message.assignmentKey })">
      <div class="column small-4">
        <span class="cursor-pointer" ng-click="setSearch(message.userEmail)">{{ message.userEmail }}</span>
      </div>
      
        <div class="column small-4">
          {{ message.text | truncate:30 }}
        </div>
        <div class="column small-4">
          {{ message.created | moment:"MMM DD, hh:mm" }}
        </div>
      </a>
    </li>
    <li class="no-stripe no-hover">
      <div ng-hide="searching">
        <div class="column small-4">
          <button class="secondary small-12" ng-click="loadPrev()" ng-hide="!messages.length">Previous {{ limit }}</button>&nbsp;
        </div>
        <div class="column small-4">
          <button class="secondary small-12" ng-click="loadMore()" ng-hide="messages.length !== limit">Load More +</button>
          <button class="secondary small-12" ng-click="reset()" ng-show="messages.length !== limit">Reset</button>
        </div>
        <div class="column small-4">
          <button class="secondary small-12" ng-click="loadNext()" ng-hide="0 < messages.length && messages.length < limit">Next {{ limit }}</button>
        </div>
      </div>
      <button class="secondary small-12" ng-click="reset()" ng-show="searching">Reset</button>
    </li>
  </ul>
</div>

<div class="column small-12" ui-view>

</div>
