<ul class="table-list hover padded striped">
  <li class="table-list-header padding-small">
    <div class="column small-12 medium-3">
      Name
    </div>
    <div class="column small-12 medium-3">
      Slug
    </div>
    <div class="column small-12 medium-3">
      Created
    </div>
    <div class="column small-12 medium-3 medium-text-right">
      Action
    </div>
  </li>
  <li ng-repeat="exercise in items" ng-class="{disabled: exercise.disabled}">
    <div class="column small-12 medium-3">
      <a ui-sref="authenticated.master.admin.exercise({exerciseKey: exercise.$id})">{{ exercise.title }}&nbsp;</a>
    </div>
    <div class="column small-12 medium-3">
      {{ exercise.slug }}
    </div>
    <div class="column small-12 medium-3">
      {{ exercise.created | moment:"MM/DD/YYYY" }}
    </div>
    <div class="column small-12 medium-3 medium-text-right">
      <button class="tiny alert margin-zero" style="min-width: 8rem;" qv-confirm="remove(exercise); exercise.disabled = true;" confirmations="['Are you sure?', 'This is permanent...', 'No.......']" ng-disabled="exercise.disabled">Delete</button>
    </div>
  </li>
  <li class="no-stripe no-hover" ng-show="items.length">
    <div ng-hide="searching">
      <div class="column small-3">
        <button class="secondary small-12" ng-click="loadNext()" ng-disabled="disablePrev">Previous</button>
      </div>
      <div class="column small-3">
        <button class="secondary small-12" ng-click="loadMore()" ng-disabled="disableMore">Load More +</button>
      </div>
      <div class="column small-3">
        <button class="secondary small-12" ng-click="reset()" ng-disabled="disableReset">Reset</button>
      </div>
      <div class="column small-3">
        <button class="secondary small-12" ng-click="loadPrev()" ng-disabled="disableNext">Next</button>&nbsp;
      </div>
    </div>
  </li>
  <li class="no-stripe no-hover" ng-show="!items.length">
      <h5 class="font-flair">The exercise list is empty!</h5>
  </li>
</ul>