<div class="column small-12">
    <h3 class="font-flair">Commerce</h3>

    <form name="addressForm">
      <fieldset>
        <div class="column small-12">
          <ul class="table-list padded striped">
            <li class="table-list-header">
              <div class="column small-12 medium-6">
                New Address
              </div>
              <div class="column small-12 medium-6">
                Verified Address
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input type="text" ng-model="unverifiedAddress.name" placeholder="Name..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.fromAddress.name }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input type="text" ng-model="unverifiedAddress.company" placeholder="Company...">
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.fromAddress.company }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input type="text" ng-model="unverifiedAddress.street1" placeholder="Street 1..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.fromAddress.street1 }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input type="text" ng-model="unverifiedAddress.street2" placeholder="Street 2...">
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.fromAddress.street2 }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input type="text" ng-model="unverifiedAddress.street3" placeholder="Street 3...">
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.fromAddress.street3 }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input type="text" ng-model="unverifiedAddress.city" placeholder="City..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.fromAddress.city }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input type="text" ng-model="unverifiedAddress.state" placeholder="State..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.fromAddress.state }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input type="text" ng-model="unverifiedAddress.zip" placeholder="Zip..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.fromAddress.zip }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input type="text" ng-model="unverifiedAddress.country" placeholder="Country..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.fromAddress.country }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input type="text" ng-model="unverifiedAddress.email" placeholder="Email..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.fromAddress.email }}
              </div>
            </li>
            <li>
              <div class="column small-12 medium-6">
                <input type="text" ng-model="unverifiedAddress.phone" placeholder="Phone..." required>
              </div>
              <div class="column small-12 medium-6 padding-vertical-x-small">
                {{ $storage.shipment.fromAddress.phone }}
              </div>
            </li>
            <li class="no-stripe no-hover padding-small">
              <div class="column small-12">
                <button ng-click="createAddress(unverifiedAddress)" ng-disabled="addressForm.$invalid">Verify</button>
              </div>
            </li>
          </ul>
        </div>

      </fieldset>
    </form>

    <form name="shippingForm">
      <fieldset>
        <div class="column small-12 medium-4">
          <label for="shipping-base-rate">Domestic Base Rate</label>
          <input type="number" min="0" ng-model="commerce.shipping.domesticBaseRate" placeholder="Domestic base rate USD...">
        </div>

        <div class="column small-12 medium-4">
          <label for="shipping-base-rate">International Base Rate</label>
          <input type="number" min="0" ng-model="commerce.shipping.internationalBaseRate" placeholder="International base rate USD...">
        </div>

        <div class="column small-12 medium-4">
          <label for="shipping-subtotal-free">Free Shipping Minimum Order</label>
          <input type="number" min="0" ng-model="commerce.shipping.minOrder" placeholder="Minimum order USD...">
        </div>
      </fieldset>


    </form>

    <form name="commerceForm">
        <fieldset>

          <div class="column small-12 medium-6">
            <div class="clearfix">
              <h5 class="left">Enable States</h5>
              <div class="right text-small" style="margin-top: 5px;">
                <a ng-click="checkAllStates()">Check</a>
                /
                <a ng-click="uncheckAllStates()">Uncheck</a>
                All
              </div>
            </div></label>

            <table class="small-12">
              <thead>
                <tr>
                  <th>Enabled</th><th>Incremental Tax Rate</th><th>State</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="state in states">
                  <td style="padding-right: 1rem;"><input id="checkbox-{{ state.abbreviation }}" class="margin-zero-important" type="checkbox" ng-model="commerce.states[state.abbreviation].enabled"></td>
                  <td style="padding-right: 1rem;" ng-class="{disabled: !commerce.states[state.abbreviation].enabled}"><input id="tax-{{ state.abbreviation }}" class="margin-zero-important" type="number" ng-model="commerce.states[state.abbreviation].tax" ng-disabled="!commerce.states[state.abbreviation].enabled"></td>
                  <td ng-class="{disabled: !commerce.states[state.abbreviation].enabled}">{{ state.name }}</td>
                </tr>
              </tbody>
            </table>


          </div>

          <div class="column small-12 medium-6">
            <div class="clearfix">
              <h5 class="left">Enable Countries</h5>
              <div class="right text-small" style="margin-top: 5px;">
                <a ng-click="checkAllCountries()">Check</a>
                /
                <a ng-click="uncheckAllCountries()">Uncheck</a>
                All
              </div>
            </div>


            <table class="small-12">
              <thead>
                <tr>
                  <th>Enabled</th><th>Domestic</th><th>Base Tax Rate</th><th>Country</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="country in countries">
                  <td><input id="enabled-{{ country['alpha-2'] }}" class="margin-zero-important" type="checkbox" ng-model="commerce.countries[country['alpha-2']].enabled"></td>
                  <td><input id="domestic-{{ country['alpha-2'] }}" class="margin-zero-important" type="checkbox" ng-model="commerce.countries[country['alpha-2']].domestic"></td>
                  <td style="padding-right: 1rem;" ng-class="{disabled: !commerce.countries[country['alpha-2']].enabled}"><input id="tax-{{ country['alpha-2'] }}" class="margin-zero-important" type="number" ng-model="commerce.countries[country['alpha-2']].tax" ng-disabled="!commerce.countries[country['alpha-2']].enabled"></td>
                  <td ng-class="{disabled: !commerce.countries[country['alpha-2']].enabled}">{{ country.name }}</td>
                </tr>
              </tbody>
            </table>

          </div>

        </fieldset>
    </form>
</div>
