<md-whiteframe class="md-whiteframe-z1 relative" layout="column" layout-fill flex>
  <div layout="row" layout-align="start center" layout-padding>
    <md-input-container flex="33">
      <label for="list-search">Search by email address</label>
      <input id="list-search" type="text" ng-model="searchTerm" qv-enter="search({orderByChild: 'userEmail', equalTo: searchTerm})">
    </md-input-container>

    <span flex></span>
    
    <md-button class="md-icon-button" flex ng-click="loadNext()" ng-disabled="disablePrev" aria-label="list back">
      <i class="mdi-navigation-arrow-back"></i>
    </md-button>
    
    <md-button class="md-icon-button" flex ng-click="loadPrev()" ng-disabled="disableNext" aria-label="list forward">
      <i class="mdi-navigation-arrow-forward"></i>
    </md-button>
    
    <md-button class="md-icon-button" flex ng-click="loadMore()" ng-disabled="disableMore" aria-label="list load more">
      <i class="mdi-navigation-expand-more"></i>
    </md-button>
    
    <md-button class="md-icon-button" flex ng-click="reset()" ng-disabled="disableReset" aria-label="list reload">
      <i class="mdi-navigation-refresh"></i>
    </md-button>

  </div>

  <md-content>
    <md-list layout="column" ng-if="!items">
      <md-item>
        <md-item-content class="text-center" layout="row" layout-align="center center" layout-padding layout-wrap>
          <h3 class="Headline">There are no more messages to display.</h3>
        </md-item-content>
      </md-item>
    </md-list>
        
    <section>
      <md-list layout="column">
        <md-item ng-repeat="message in items | orderBy:'$priority':'desc'">
          <md-item-content layout="row" layout-align="space-between center" layout-padding layout-wrap>
            <span class="bold" flex flex-order="1" style="max-width: 7rem;">{{ message.created | moment:"MMM DD, hh:mm" }}</span>

            <span class="truncate" flex flex-order="2">{{ message.userEmail }}</span>

            <span class="truncate" flex flex-order="2">{{ message.assignmentTitle }}</span>
            
            <a class="undecorated" flex="33" flex-sm="100" flex-order="3" flex-order-sm="9" ui-sref="authenticated.master.admin.feedback({userId: message.recipientId || message.userId, assignmentKey: message.assignmentKey })">{{ message.text | truncate:30 }}</a>            

            <md-button class="md-icon-button md-primary" flex flex-order="4" ng-click="setSearch(message.userEmail)" aria-label="Search by user: {{ message.userEmail }}">
              <i class="mdi-action-search"></i>
            </md-button>

            <md-button class="md-icon-button md-primary" flex flex-order="5" ui-sref="authenticated.master.admin.feedback({userId: message.recipientId || message.userId, assignmentKey: message.assignmentKey })" aria-label="Go to {{ message.userEmail }} assignment {{ message.assignmentTitle }}">
              <i class="mdi-navigation-arrow-forward"></i>
            </md-button>

          </md-item-content>
          <md-divider ng-if="!$last"></md-divider>
        </md-item>
      </md-list>
    </section>
  </md-content>
</md-whiteframe>