<nav class="top-bar stretchy">
  <div class="row">
    <ul class="title-area">
        <li class="name">
            <h1><a class="font-flair bold-important text-x-large" ui-sref="authenticated.master.admin" ng-show="settings">{{ settings.siteTitle || 'Quiver CMS' }} Admin</a></h1>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li qv-active>
                <a ui-sref="authenticated.master.admin.words">Words</a>
            </li>
            
            <li class="has-dropdown not-click" qv-active>
              <a>Content</a>
              
              <ul class="dropdown">

                <li qv-active>
                  <a ui-sref="authenticated.master.admin.assignments">Assignments</a>
                </li>
                <li qv-active>
                  <a ui-sref="authenticated.master.admin.files">Files</a>
                </li>
                <li qv-active>
                    <a ui-sref="authenticated.master.admin.products">Products</a>
                </li>
                <li qv-active>
                  <a ui-sref="authenticated.master.admin.social">Social Media</a>
                </li>
                <li qv-active>
                  <a ui-sref="authenticated.master.admin.hashtags">Hashtags</a>
                </li>
              </ul>

            </li>

            <li class="has-dropdown not-click" qv-active>
              <a>eCommerce</a>
              
              <ul class="dropdown">
                <li qv-active>
                  <a ui-sref="authenticated.master.admin.transactions">Transactions</a>
                </li>
                <li qv-active>
                  <a ui-sref="authenticated.master.admin.discounts">Discounts</a>
                </li>
                <li qv-active>
                  <a ui-sref="authenticated.master.admin.subscriptions">Subscriptions</a>
                </li>
                <li qv-active>
                  <a ui-sref="authenticated.master.admin.shipments">Shipments</a>
                </li>
                <li qv-active>
                  <a ui-sref="authenticated.master.admin.resources">Resources</a>
                </li>
              </ul>

            </li>


            <li class="has-dropdown not-click" qv-active>
              <a><i class="fa fa-bars"></i></a>
              
              <ul class="dropdown">
                <li qv-active>
                  <a ui-sref="authenticated.master.admin.settings">Settings</a>
                </li>
                <li qv-active>
                  <a ui-sref="authenticated.master.admin.users">Users</a>
                </li>
                <li qv-active>
                  <a ui-sref="authenticated.master.admin.commerce">Commerce</a>
                </li>
              </ul>

            </li>

        </ul>
    </section>
    <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown not-click" ng-show="currentUser" qv-active>
            <a ui-sref="authenticated.master.nav.account">
              <i class="fa fa-gears"></i>
              <img class="gravatar" ng-src="{{ gravatar }}" alt="Gravatar"/>
            </a>
            <ul class="dropdown">
              <li qv-active><a ui-sref="authenticated.master.nav.dashboard"><i class="fa fa-dashboard"></i> &nbsp;User Dashboard</a></li>
              <li qv-active><a ui-sref="authenticated.master.admin"><i class="fa fa-bar-chart"></i> &nbsp;Admin Dashboard</a></li>
              <li ng-show="currentUser"><a ng-click="logOut()" ui-sref="authenticated.master.nav.dashboard"><i class="fa fa-sign-out"></i> &nbsp;Log Out</a></li>
              <li>
                <a ng-click="clearCache()">Clear Cache</a>
              </li>
              <li><a href="{{ env.root }}" qv-to-static>{{ settings.siteTitle || 'Front Page' }}</a></li>

            </ul>
          </li>
        </ul>

    </section>
  </div>

</nav>
