<div id="product-wrapper" class="overflow-hidden">
  <div class="column small-12">
    <div class="column small-12">
      <h3 class="font-flair left" ng-model="product.title" contenteditable="true">{{ product.title }}</h3>
      <div class="right text-white">
        <button class="tiny margin-vertical-xx-small secondary" ng-show="product.active && product.isValid" ng-click="product.active = false">Active</button>
        <button class="tiny margin-vertical-xx-small alert" ng-show="product.active && !product.isValid" ng-click="product.active = false">Product Invalid!</button>
        <button class="tiny margin-vertical-xx-small warning" ng-show="!product.active && product.isValid" ng-click="product.active = true">Activate?</button>
        <button class="tiny margin-vertical-xx-small alert" ng-show="!product.active && !product.isValid">Inactive</button>
      </div>
    </div>
    <hr>
  </div>


  <div id="product-left" class="column small-12 medium-6 large-4">
    <fieldset class="margin-zero-important">
        <select id="product-type" name="product-type" ng-model="product.type" ng-change="checkValidity()">
            <option value="">Product Type...</option>
            <option value="physical">Good</option>
            <option value="digital">Digital Download</option>
            <option value="subscription">Subscription</option>
            <option value="gift">Gift</option>
        </select>

        <div>
          <label for="product-hashtag">Hashtags</label>
          <input class="margin-zero-important" type="text" placeholder="Add hashtag..." ng-model="newHashtag" qv-enter="addHashtag(product, newHashtag); newHashtag = null;" qv-type-ahead include="hashtags" exclude="product.hashtags" prepopulate="true" top-offset="-1"/>
          <ul class="inline-list text-small margin-vertical-small-important">
            <li class="cursor-pointer" ng-repeat="hashtag in product.hashtags" ng-click="removeHashtag(product, hashtag.key)">#{{ hashtag.value }}</li>
          </ul>
        </div>


        <label for="product-slug">Slug</label>
        <input id="product-slug" type="text" name="product-slug" ng-model='product.slug' placeholder="Slug..." ng-change="slugify(); checkValidity()">

        <label for="product-price">Price</label>
        <input id="product-price" type="number" name="product-price" ng-model="product.price" placeholder="Price in USD..." ng-change="checkValidity()">

        <hr>

        <div>
          <label>Inventory</label>
          <input type="number" placeholder="Total inventory..." ng-model="product.inventory">
        </div>

        <hr>

        <div>
          <div class="clearfix">
            <label class="left" for="product-shipped">Shipped?</label>
            <input id="product-shipped" class="left margin-xx-small-important" type="checkbox" name="product-shipped" ng-model="product.shipped" ng-change="checkValidity()">
          </div>

          <div class="clearfix margin-vertical-small" ng-show="product.shipped">
            <label>Domestic Shipping Price</label>
            <input type="number" name="product-shipping-domestic" placeholder="Domestic USD..." ng-model="product.shipping.domesticPrice" ng-change="checkValidity()">
            <label>International Shipping Price</label>
            <input type="number" name="product-shipping-international" placeholder="International USD..." ng-model="product.shipping.internationalPrice" ng-change="checkValidity()">
            <div>
              <label class="left" for="product-allow-international">Ship Internationally?</label>
              <input class="left margin-xx-small-important" type="checkbox" name="product-allow-international" ng-model="product.shipping.internationalAllowed">
            </div>

          </div>

        </div>

        <hr ng-show="product.type && product.type !== 'physical'">

        <div ng-show="product.type === 'digital'">
          <label for="product-uri">Download URI</label>
          <input id="product-uri" type="text" name="product-uri" ng-model="product.downloadUri" placeholder="Download link..." ng-change="checkValidity()">
        </div>

        <div ng-show="product.type === 'subscription'">
          <label for="product-subscription-days">Subscription Days</label>
          <input id="product-subscription-days" type="number" name="product-subscription-days" ng-model="product.subscriptionDays" placeholder="Subscription days..." ng-change="checkValidity()">
        </div>

        <div ng-show="product.type === 'gift'">
          <label for="product-discount">Gift Value</label>
          <input id="product-discount" type="number" name="product-discount" ng-model="product.discount" placeholder="Discount in USD..." ng-change="checkValidity()">
        </div>

        <hr>

        <div class="margin-vertical-small">
          <div class="clearfix">
            <label class="left">Options</label>
            <a class="text-small right" ng-click="addOptionGroup()">+ option group</a>
          </div>

          <div ng-repeat="group in productOptionGroups">
            <ul>
              <li><a class="text-small" ng-click="removeOptionGroup(group)">- remove group</a></li>
              <li><input type="text" placeholder="Option #{{ $index }} name..." ng-model="group.name"></li>
              <li><input type="text" placeholder="New option..." ng-model="newOptionName" qv-enter="addOption(group, newOptionName); newOptionName = undefined;"></li>
            </ul>
            <ul class="table-list striped">
              <li class="clearfix padding-x-small" ng-repeat="option in group.options">
                <div class="cursor-pointer left margin-vertical-x-small text-small" qv-confirm="removeOption(group, option)" confirmations="['Click to Delete']">{{ option.name }}</div>
                <div class="right">
                  <input class="left margin-vertical-zero-important" style="max-width: 4rem; margin-left: -1px;" type="number" placeholder="$..." ng-model="option.priceDifference" ng-model-options="{'debounce': {'default': 300}}" title="Option Price Difference">
                </div>
                <div class="right margin-vertical-x-small margin-horizontal-x-small text-small">
                  <span ng-show="product.inventory !== 0 && !product.inventory">
                    <span> + {{ ::option.priceDifference || 0 | currency }}</span>
                  </span>

                </div>


              </li>
            </ul>

            <div class="clearfix" ng-show="group.options.length && (product.inventory !== 0 && !product.inventory)"><button class="tiny right" ng-click="saveOption(group, option)">Save</button></div>

          </div>
        </div>

        <hr>

        <div ng-if="files.Name">
            <label for="product-featured-image">
                <span ng-hide="product.featuredImage">No Featured Image</span>
                <span ng-show="product.featuredImage">Featured Image</span>
            </label>
            <img class="margin-vertical-small" ng-src="{{ product.featuredImage.Versions.small.Key | s3Link:files.Name }}" alt="{{ product.title }}" />
        </div>

        <ul class="margin-zero-important" ng-if="files.Name && productImages.length">
          <li>
            <hr>
            <label>Gallery Images</label>
          </li>
          <li class="margin-vertical-small" ng-repeat="image in productImages">
            <img class="cursor-pointer" ng-click="removeImage(image)" ng-src="{{ image.Versions.small.Key | s3Link:files.Name }}" alt="{{ image.Name | deSlug }}" />
          </li>
        </ul>



    </fieldset>
  </div>


  <div id="product-right" class="column small-12 medium-6 large-8">
    <div class="panel" ng-show="$storage.clipboard.length">
      <h5>Clipboard</h5>
      <hr>
      <ul ng-if="files.Name" class="small-block-grid-2 medium-block-grid-4 large-block-grid-8">
          <li class="relative" ng-repeat="file in $storage.clipboard">
              <div class="relative">
                  <div class="cursor-pointer" ng-click="addImage(file)" qv-media="https://s3.amazonaws.com/{{ files.Name }}/{{ file.Versions.small.Key || file.Key }}" alt="{{ file.Key | filename }}" attributes="{embed: {width: '100px', height: '100px'}, img: {'style': 'min-width: 100%;'}, video: {'style': 'max-width: 100%;'}}" alt="Click to Add"></div>
                  <a class="delete-button text-small background-highlight1 link-white link-hover-secondary0" ng-click="removeFromClipboard(file)">x</a>
                  <div class="overlay bottom padding-xx-small text-center background-highlight1 text-xx-small link-white link-hover-secondary2" ng-hide="word.keyImage.Key == file.Key">
                      <a ng-click="makeFeaturedImage(file)">+ Featured</a>
                  </div>
              </div>

          </li>
      </ul>
    </div>
    <fieldset>

      <div class="column small-12">
        <h5 class="left">Description <span class="text-xx-small">(<a href="http://commonmark.org/" target="_blank">CommonMark compatible</a>)</span></h5>
        <button class="right tiny margin-vertical-zero-important" ng-click="textMode = !textMode">
          <span ng-show="textMode">Preview Mode</span>
          <span ng-hide="textMode">Text Mode</span>
        </button>

      </div>

      <div class="column small-12">
        <textarea class="margin-vertical-medium" style="min-height: 5rem;" ng-model="product.description.excerpt" placeholder="Product excerpt..."></textarea>
        <div ng-if="!textMode" class="small-12 background-secondary4 padding-small" style="min-height: 40rem;" delay="300" contenteditable="true" ng-model="product.description.markdown" markdown-editable extensions="video"></div>
        <textarea ng-if="textMode" class="small-12 background-secondary4 padding-small" style="min-height: 40rem;" delay="300" ng-model="product.description.markdown"></textarea>
      </div>

    </fieldset>

    <fieldset ng-show="usingMatrix()">
      <div class="column small-12">
        <h5>Inventory Matrix</h5>

        <ul class="table-list striped">
          <li class="text-small padding-small" ng-repeat="item in productOptionsMatrix">
            <div class="left margin-vertical-x-small">{{ item.name }}</div>
            <div class="right" ng-show="product.inventory !== 0 && !product.inventory">
              <input class="margin-zero-important" type="number" style="max-width: 4rem;" ng-model="item.inventory" placeholder="#...">

            </div>
            <div class="right margin-vertical-x-small margin-horizontal-x-small">
              <span ng-hide="item.inventory === 0">{{ item.inventory || '∞' }}</span>
              <span ng-show="item.inventory === 0">0</span>
              <span> @ {{ product.price + item.priceDifference || 0 | currency }}</span>
            </div>

          </li>
        </ul>
      </div>
    </fieldset>

  </div>

</div>
