<div class="small-12">
  <h5 class="font-flair">{{ assignment.title }}</h5>
</div>



<div class="small-12">
  <div markdown-editable class="markdown" ng-model="assignment.description" extensions="video"></div>
</div>

<div class="small-12" ng-show="assignment.supportsUpload">
  <h5 class="font-flair">Uploads</h5>

  <form name="filesForm" flow-init="{target: uploadTarget}" flow-file-added="handleFileAdded($event, $flow, $file)" flow-name="flow" ng-hide="isExpired(subscription)">
    <fieldset>
      <div class="column small-12 medium-6">
        <label class="button small-12" for="upload-file">Select Files</label>
        <input id="upload-file" class="hidden" type="file" flow-btn/>

        <label class="button small-12" for="upload-directory">Select Directory</label>
        <input id="upload-directory" class="hidden" type="file" flow-btn flow-directory/>
      </div>

      <!-- <div class="column small-12 medium-6">
        <label class="button small-12" for="upload-directory">Select Directory</label>
        <input id="upload-directory" class="hidden" type="file" flow-btn flow-directory/>
      </div> -->

      <div class="column small-12 medium-6">
        <div class="panel callout text-center margin-zero-important" style="padding: 2.8rem;" flow-drop ng-class="{'drag-over': dragOver}" flow-drag-enter="dragOver = true;" flow-drag-leave="dragOver = false;">
          <strong class="text-x-large" style="color: inherit;">File Drop</strong>
        </div>      
      </div>

      <div class="column small-12">
        <ul class="table-list striped hover link-padded" ng-if="$flow.files.length">
          <li ng-repeat="file in $flow.files">
            <a class="qv-progress success clearfix block" qv-confirm="deleteFlowFile($flow, file)" confirmations="['Click to Delete']">
              <span class="meter-text">{{ file.name }} {{ file.size / 1000 | number:0 }}kb</span>
              <span class="meter" qv-meter="file.percentComplete"></span>
            </a>

          </li>
        </ul>

        <button id="upload-button" class="left" ng-click="upload($flow)" ng-hide="!$flow.files.length" ng-disabled="uploading">
          <span>Upload Files</span>
          <span class="hidden backdrop background-highlight9" qv-loading loaded="!uploading" target="#upload-button"><img src="/images/ajax-loader.gif" style="margin-top: 1rem;"></span>
        </button>
        <!-- <button class="left" ng-click="fakeUpload($flow)" ng-hide="!$flow.files.length" ng-disabled="uploading">Fake</button> -->
      </div>

    </fieldset>

  </form>

  <div class="small-12">
    <ul class="table-list striped padded">
      <li class="table-list-header" ng-show="uploads.length">
        <div class="column small-12 medium-4">
          Image
        </div>
        <div class="column small-12 medium-4">
          Details
        </div>
        <div class="column small-12 medium-4">
          Action
        </div>
      </li>
      <li ng-repeat="(key, image) in uploads" ng-class="{'disabled': image.disabled}">
        <div class="column small-12 medium-4">
          <a href="{{ image.url }}" target="_blank">
            <img ng-src="{{ image.url }}" alt="{{ image.name }}">
          </a>
        </div>
        <div class="column small-12 medium-4">
          {{ image.Name }} ({{ image.Size / 1000 | number:0 }}kb)
        </div>
        <div class="column small-12 medium-4">
          <button class="alert small small-12 margin-zero" qv-confirm="remove(image); image.disabled = true;" confirmations="['Are you sure?']" ng-disabled="image.disabled">Remove</button>
        </div>

      </li>
      <li class="no-stripe" ng-show="!uploads.length">
        <h5 class="font-flair">No uploads found.</h5>
      </li>
    </ul>
  </div>

</div>

<div class="small-12">
  <h5 class="font-flair">Messages</h5>
  <ul class="table-list striped padded">
    <li ng-repeat="message in messages">
      <div class="column small-4 medium-3"><strong>{{ message.userName }}</strong></div>
      <div class="column small-8 medium-9">
        <div class="markdown" markdown-editable ng-model="message.text"></div>
      </div>
    </li>
    <li class="no-stripe" ng-show="!messages.length">
        <h5 class="font-flair">No messages found.</h5>
    </li>
    <li class="no-stripe">
      <span ng-if="!isExpired(subscription)">
        <textarea id="new-message" ng-model="text" placeholder="Message..."></textarea>
        <button ng-click="sendMessage(text); text = undefined;" qv-focus="#new-message" ng-disabled="!text || !text.length|| !loaded">Send</button>
      </span>      
    </li>
  </ul>
</div>
