<h3 class="headline">Assignment: {{ assignment.title }}</h5>

<md-whiteframe class="md-whiteframe-z1" layout layout-padding>
  <div markdown-editable class="markdown padding-vertical-medium" ng-model="assignment.description" extensions="video"></div>
</md-whiteframe>


<section class="padding-vertical-medium" ng-show="assignment.supportsUpload">
  <h3 class="headline">Upload images</h5>

  <form name="filesForm" flow-init="{target: uploadTarget}" flow-file-added="handleFileAdded($event, $flow, $file)" flow-name="flow" ng-hide="isExpired(subscription)">
    <fieldset>
      <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="center center" layout-fill layout-margin layout-padding layout-wrap>

        <md-whiteframe class="md-whiteframe-z3 background-highlight4 text-white0 text-center" flex="100" layout="row" layout-align="center center" style="padding: 2.8rem;" flow-drop ng-class="{'drag-over': dragOver}" flow-drag-enter="dragOver = true;" flow-drag-leave="dragOver = false;">
          <strong class="headline uppercase text-x-large text-center" flex style="color: inherit;">File Drop</strong>
        </md-whiteframe>

        <label class="md-button md-default-theme md-primary md-raised" flex="40" for="upload-file">
          Select Files
        </label>
        <input id="upload-file" class="hidden" type="file" flow-btn/>  

        <span flex></span>

        <label class="md-button md-default-theme md-primary md-raised" flex="40" for="upload-directory">
          Select Directory
        </label>
        <input id="upload-directory" class="hidden" type="file" flow-btn flow-directory/>

        <md-divider flex="100" ng-if="$flow.files.length"></md-divider>

        <div flex="100" ng-if="$flow.files.length">
          <div flex layout="row" layout-align="center center" layout-padding layout-wrap ng-repeat="file in $flow.files">
            <span class="meter-text" flex>{{ file.name }} &nbsp; — &nbsp; {{ file.size / 1000 | number:0 }}kb</span>
            <span class="max-10" flex>{{ file.percentComplete || 0 }}% Complete</span>
            <md-button class="md-icon-button md-warn min-2 max-2" flex ng-click="deleteFlowFile($flow, file)">
              <i class="mdi-action-delete"></i>
            </md-button>
            <md-progress-linear flex="100" md-mode="determinate" value="{{ file.percentComplete }}"></md-progress-linear>
          </div>
        </div>

        <div flex layout="row" layout-align="center center" ng-if="$flow.files.length">
            <md-progress-circular class="invisible"  md-mode="indeterminate" qv-loading loaded="!uploading" target=".upload-button"></md-progress-circular>
        </div>

        <md-button class="upload-button md-accent md-raised max-10" flex flex-sm="40" ng-click="upload($flow)" ng-if="$flow.files.length" ng-disabled="uploading">Upload Files</md-button>
        <!-- <md-button class="upload-button max-10" flex flex-sm="40" ng-click="fakeUpload($flow)" ng-if="$flow.files.length" ng-disabled="uploading">Fake Upload</md-button> -->
        
      </md-whiteframe>

    </fieldset>

  </form>
</section>

<section class="padding-vertical-medium" ng-show="uploads">
  <h3 class="headline">Uploads</h5>

  <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="space-between center" layout-align-sm="center center" layout-padding layout-wrap>
    <div class="relative undecorated" flex="30" flex-sm="95" ng-repeat="(key, image) in uploads" ng-class="{'disabled': image.disabled}">
      <a ng-href="{{ image.url }}" target="_blank">
        <img ng-src="{{ image.url }}" alt="{{ image.name }}">
      </a>
      
      <div class="absolute bottom background-highlight4 text-white0 text-center margin-horizontal-x-small margin-vertical-x-small" layout="row" layout-align="space-between center" layout-padding>
        <span>{{ image.Name }} ({{ image.Size / 1000 | number:0 }}kb)</span>

        <md-button class="md-icon-button md-warn md-raised min-2 max-2" ng-click="remove(image); image.disabled = true;" ng-disabled="image.disabled">
          <i class="mdi-action-delete"></i>
        </md-button>

      </div>

    </div>

    <span flex></span>
    
  </md-whiteframe>

</section>

<!-- START Messages -->
<section class="padding-vertical-medium" ng-if="messages">
    <h3 class="headline">Assignment Feedback</h3>

    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-fill flex>
        <md-content style="max-height: 500px;">
            <md-list class="hover" layout="column" ng-if="!messages">
                <md-item>
                    <md-item-content class="text-center" layout="row" layout-align="center center" layout-padding layout-wrap>
                        <h3 class="Headline">No messages quite yet...</h3>
                    </md-item-content>
                </md-item>
            </md-list>
                
            <section>
                <md-list layout="column">
                    <md-item ng-repeat="message in messages">
                        <md-item-content layout="row" layout-align="start start" layout-padding layout-wrap>
                            <h4 flex="100" flex-gt-sm="30">{{ message.userName }}</h4>
                            <div flex>{{ message.text }}</div>
                            
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-item>
                </md-list>
            </section>
        </md-content>    
    </md-whiteframe>

</section>
<!-- END Messages -->

<section class="padding-vertical-medium">
  <h3 class="headline">Send a message</h3>

  <form>
    <fieldset>
      <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="space-between center" layout-padding layout-wrap>
        <md-input-container flex>
          <label for="new-message">Message...</label>
          <textarea id="new-message" ng-model="text" placeholder="Message..."></textarea>  
        </md-input-container>
        <md-button flex class="md-raised md-primary max-10" ng-click="sendMessage(text); text = undefined;" qv-focus="#new-message" ng-disabled="!text || !text.length|| !loaded">
          Send
        </md-button>
      </md-whiteframe>
      
    </fieldset>
  </form>

</section>