<div class="column small-12" ng-show="$storage.cart.items.length">
  <h3 class="font-flair padding-large" style="padding-bottom: 0;">Items For Checkout</h3>

</div>

<div class="column small-12">

  <form name="cartForm">
    <fieldset class="border-zero margin-vertical-zero padding-vertical-zero">
      <ul class="table-list">
        <li ng-hide="$storage.cart.items.length">
          <h3 class="font-flair left">Your cart is empty. <span class="text-medium">Add some <a href="/products" qv-to-static>products</a> to check out.</span></h3>

        </li>
        <li class="clearfix" ng-repeat="product in $storage.cart.items | orderBy:'title'">

          <div class="column small-12 padding-zero-important">
            <hr class="margin-zero">
          </div>

          <div class="column small-12">

            <div class="column small-12 medium-4">
              <h5 class="font-flair margin-zero clearfix">
                <a class="left padding-vertical-small link-secondary0" style="padding-bottom: 0;" href="/product/{{ product.slug }}" j>{{ product.title }}</a>
              </h5>
              <ul ng-if="product.optionsMatrixSelected" class="text-small inline-list dots left strong margin-vertical-xx-small-important">
                <li>{{ product.optionsMatrixSelected.name }}</li>
                <!-- <li ng-show="product.optionsMatrixSelected.priceDifference">
                  Price Difference: {{ product.optionsMatrixSelected.priceDifference | currency }}
                </li> -->
                <li ng-if="product.optionsMatrixSelected.inventory">{{ product.optionsMatrixSelected.inventory }} Available</li>
              </ul>
            </div>

            <div class="column small-12 medium-8">
              <ul class="right inline-list">
                <li>
                  <div class="padding-vertical-small right" style="min-width: 4rem;">{{ product.priceAdjusted || product.price | currency }}</div>
                </li>
                <li>
                  <input id="product-{{$index}}" class="margin-vertical-zero-important text-small-important" style="height: 2.1rem; width: 3rem; position: relative; top: 7px;" type="number" ng-model="product.quantity" min="1" max="{{ product.maxQuantity }}" ng-blur="updateCart()" qv-select-text="#product-{{$index}}" placeholder="#">
                </li>
                <li>
                  <div class="right padding-vertical-small"><strong>{{ (product.priceAdjusted || product.price) * product.quantity | currency }}</strong></div>
                </li>
                <li>
                  <div class="padding-vertical-small">
                    <a class="text-small" ng-click="removeFromCart(product)">Remove</a>
                  </div>
                </li>

              </ul>
              

            </div>

          </div>

        </li>
      </ul>

    </fieldset>

  </form>

  <div ng-show="$storage.cart.items.length">

    <fieldset>


      <!-- Shipping Address -->
      <form name="addressForm" class="column small-12 medium-4" ng-if="!$storage.cart.address || editingAddress" ng-class="{'medium-offset-4': !$storage.cart.total}">
        <div>
          <h5 class="font-flair text-secondary0">Shipping Address</h5>
        </div>

        <div>
          <label for="address-recipient">
            <span>Recipient Name</span>
            <strong class="text-small text-error margin-horizontal-small">{{ errorMessages.recipient }}</strong>
          </label>
          <input type="text" ng-model="$storage.address.recipient" ng-blur="validateAddress($storage.address)" placeholder="First and last name..." required>

          <label for="address-line-one">
            <span>Street</span>
            <strong class="text-small text-error margin-horizontal-small">{{ errorMessages.street }}</strong>
          </label>
          <input type="text" ng-model="$storage.address.street1" ng-blur="validateAddress($storage.address)" placeholder="Line 1 (required)..." required>
          <input type="text" ng-model="$storage.address.street2" placeholder="Line 2...">
          <input type="text" ng-model="$storage.address.street3" placeholder="Line 3...">

          <label for="address-city">
            <span>City</span>
            <strong class="text-small text-error margin-horizontal-small">{{ errorMessages.city }}</strong>
          </label>
          <input id="address-city" type="text" ng-model="$storage.address.city" ng-blur="validateAddress($storage.address)" placeholder="City (required)..." required>

          <div ng-show="$storage.address.country === 'US'">
            <label for="address-state">
              <span>State</span>
              <strong class="text-small text-error margin-horizontal-small">{{ errorMessages.territory }}</strong>
            </label>
            <select id="address-state" ng-model="$storage.address.state" ng-blur="validateAddress($storage.address)" ng-options="state.abbreviation as state.name for state in states" ng-change="updateAddress()">
              <option value="">Select State</option>
            </select>
          </div>

          <div ng-hide="$storage.address.country === 'US'">
            <label for="address-state">
              <span>Territory</span>
              <strong class="text-small text-error margin-horizontal-small">{{ errorMessages.territory }}</strong>
            </label>
            <input type="text" ng-model="$storage.address.territory" ng-blur="validateAddress($storage.address)" placeholder="Territory...">
          </div>

          <label for="address-postal-code">
            <span>Postal Code</span>
            <strong class="text-small text-error margin-horizontal-small">{{ errorMessages.postalCode }}</strong>
          </label>
          <input type="text" ng-model="$storage.address.postalCode" ng-blur="validateAddress($storage.address)" placeholder="Postal code (required)..." required>

          <label for="address-country">
            <span>Country</span>
            <strong class="text-small text-error margin-horizontal-small">{{ errorMessages.country }}</strong>
          </label>
          <select id="address-country" ng-model="$storage.address.country"  ng-blur="validateAddress($storage.address)" ng-options="country['alpha-2'] as country.name for country in countries" required>
            <option value="">Select Country</option>
          </select>

          <label for="address-instructions">Shipping Instructions</label>
          <textarea ng-model="$storage.address.instructions" placeholder="Shipping instructions..."></textarea>

          <button class="small-12 text-x-medium-important" ng-click="saveAddress($storage.address)">Save Address</button>

        </div>

      </form>


      <div class="column small-12 medium-4" ng-if="$storage.cart.address && !editingAddress" ng-class="{'medium-offset-4': !$storage.cart.total}">
        <h5 class="font-flair text-secondary0">
          <span>Shipping Address</span>
        </h5>

        <div>
          <ul class="text-small">
            <li>{{ $storage.cart.address.recipient }}</li>
            <li>{{ $storage.cart.address.street1 }}</li>
            <li>{{ $storage.cart.address.street2 }}</li>
            <li>{{ $storage.cart.address.street3 }}</li>
            <li>{{ $storage.cart.address.city }}, {{ $storage.cart.address.territory }} {{ $storage.cart.address.postalCode }}</li>
            <li>{{ $storage.cart.address.countryName }}</li>
            <li ng-show="$storage.cart.address.instructions" class="margin-vertical-small">
              <strong>Shipping Instructions:</strong>
              <p class="text-small padding-horizontal-x-small">
                {{ $storage.cart.address.instructions }}
              </p>

            </li>
            <li>
              <a ng-click="editAddress()">Edit </a>
              /
              <a ng-click="removeAddress()">Delete</a>
            </li>
          </ul>

        </div>


      </div>
      <!-- END Shipping Address -->


      <!-- Braintree Drop-In Form -->
      <div ng-if="$storage.cart.total" class="column small-12 medium-4">
        <h5 class="font-flair text-secondary0">Add Payment Method</h5>

        <div braintree-drop-in token="clientToken">
          <form id="checkout" name="cardForm">
            <div id="dropin"></div>
            <button class="small small-12 text-x-medium-important margin-zero-important" ng-disabled="!user">Add Payment Method</button>
          </form>

        </div>

      </div>
      <!-- END Braintree Drop-In Form -->


      <!-- Cart Totals Box -->
      <div class="column small-12 medium-4">
        <h5 class="font-flair text-secondary0 left">
          <span>Checkout</span>
        </h5>       

        <div class="panel small-12 right background-secondary4" style="border: 0;">
          <ul class="table-list text-small text-right clearfix">
            <li class="clearfix" ng-show="$storage.cart.codes.length">
              <ul class="margin-zero-important">
                <li class="text-x-small" ng-repeat="code in $storage.cart.codes">
                  <div class="column small-6">{{ code.code }}</div>
                  <div class="column small-6">
                    <span ng-show="code.type === 'value'">{{ code.value | currency }}</span>
                    <span ng-show="code.type === 'percentage'">{{ code.percentage }}%</span>
                  </div>
                </li>

              </ul>

              
            </li>
            <li class="clearfix" ng-show="$storage.cart.codes.length">
              <div class="column small-6">Discount</div>
              <div class="column small-6">{{ -1 * $storage.cart.discount | currency }}</div>
            </li>
            <li>
              <div class="column small-6">Subtotal</div>
              <div class="column small-6">{{ $storage.cart.subtotal | currency }}</div>
            </li>
            <li>
              <div class="column small-6">
                <span ng-show="$storage.cart.shipping">Shipping</span>
                <span class="text-secondary0" ng-hide="$storage.cart.shipping">Free Shipping</span>
              </div>
              <div class="column small-6">
                <span ng-show="$storage.address.domestic || $storage.address.international">{{ $storage.cart.shipping | currency }}</span>
                <a class="text-x-small" qv-focus="#address-country" ng-hide="$storage.address.domestic || $storage.address.international">+ Address</a>
              </div>
            </li>
            <li>
              <div class="column small-6">Tax</div>
              <div class="column small-6">
                <span ng-show="$storage.address.tax !== false">{{ $storage.cart.tax | currency }}</span>
                <a class="text-x-small" qv-focus="#address-country" ng-show="$storage.address.tax === false">+ Address</a>
              </div>
            </li>
            <li>
              <hr class="margin-vertical-small">
            </li>
            <li class="text-x-medium">
              <div class="column small-6"><strong>Total</strong></div>
              <div class="column small-6"><strong>{{ $storage.cart.total | currency }}</strong></div>
            </li>
            <li class="clearfix">
              <div class="column small-12">
                <a class="text-x-small" ui-sref="master.nav.cart">Back to Cart</a>
              </div>
              
            </li>

          </ul>

          <div>          
            <ul class="text-x-small">
              <li ng-repeat="card in user.private.customer.creditCards" ng-class="{disabled: card.disabled}">
                <input type="radio" ng-model="$storage.cart.paymentToken" ng-value="card.token">
                <img class="margin-horizontal-xx-small" style="max-width: 2rem;" ng-src="{{ card.imageUrl }}" alt="{{ card.cardType }}" /> 
                <span>****{{ card.last4 }}</span>
                <a class="right" ng-click="card.disabled = true; removePaymentMethod(card.token);">delete</a>
                
              </li>
              <li ng-repeat="account in user.private.customer.paypalAccounts">
                <input type="radio" ng-model="$storage.cart.paymentToken" ng-value="account.token">
                <img class="margin-horizontal-xx-small" style="max-width: 2rem;" ng-src="{{ account.imageUrl }}" alt="PayPal" /> 
                <span>{{ account.email }}</span>
                <a class="right" ng-click="removePaymentMethod(account.token)">delete</a>
                
              </li>
              <li ng-show="$storage.cart.total && !$storage.cart.paymentToken">
                <span class="text-small text-secondary0" ng-show="!user.private.customer.paypalAccounts.length && !user.private.customer.creditCards.length">Add a payment method to check out</span>
                <span class="text-small text-secondary0" ng-show="user.private.customer.paypalAccounts.length || user.private.customer.creditCards.length">Select a payment method</span>
              </li>
              <li ng-show="$storage.cart.shipped && !$storage.cart.address">
                <span class="text-small text-secondary0">Add an address to check out</span>
              </li>
            
            </ul>
          </div>

          <div class="margin-vertical-x-medium">
            <button class="small success small-12 text-x-medium-important margin-zero-important" ng-show="$storage.cart.total" ng-click="checkout($storage.cart)" ng-disabled="!user || !$storage.cart.paymentToken || ($storage.cart.shipped && !$storage.cart.address)">Complete Purchase</button>
            <button class="small success small-12 text-x-medium-important margin-zero-important" ng-hide="$storage.cart.total" ng-click="checkout($storage.cart)" ng-disabled="!user || ($storage.cart.shipped && !$storage.cart.address)">Free Checkout</button>
          </div>

        </div>

      </div>
      <!-- END Cart Totals Box -->




    </fieldset>

  </div>



</div>

<div class="column small-12">

</div>
