<div class="column small-12 medium-3">
    <ul class="side-nav padding-vertical-zero-important background-white0" style="z-index: 1;" qv-pinned>
        <li><a href="#messages" qv-highlight="text-secondary0" selector="#messages .transition-color">Messages</a></li>
        <li ng-show="subscriptions.length"><a href="#subscriptions" qv-highlight="text-secondary0" selector="#subscriptions .transition-color">Subscriptions</a></li>
        <li ng-show="shipments.length"><a href="#shipping" qv-highlight="text-secondary0" selector="#shipping .transition-color">Shipping</a></li>
        <li ng-show="gifts.length"><a href="#gifts" qv-highlight="text-secondary0" selector="#gifts .transition-color">Gifts</a></li>
        <li ng-show="downloads.length"><a href="#downloads" qv-highlight="text-secondary0" selector="#downloads .transition-color">Downloads</a></li>
        <li ng-show="transactions.length"><a href="#transactions" qv-highlight="text-secondary0" selector="#transactions .transition-color">Transactions</a></li>
    </ul>
    
</div>

<div class="column small-12 medium-9">
    <div id="messages" class="small-12">
        <div>
            <h3 class="font-flair transition-color">Assignment Feedback</h3>
        </div>

        <ul class="table-list striped hover link-padded text-x-medium" style="max-height: 500px; overflow: auto;">
            <li class="table-list-header padding-small" ng-show="messages.length">
                <div class="column small-2">
                    Assignment
                </div>
                <div class="column small-3">
                    User
                </div>
                <div class="column small-5">
                    Text
                </div>
                <div class="column small-2 medium-text-right">
                    Date
                </div>
            </li>
            <li ng-repeat="message in messages.length">
                <a class="clearfix block" ui-sref="authenticated.master.nav.subscription.assignment({subscriptionKey: message.subscriptionKey, assignmentKey: message.assignmentKey })">
                    <div class="column small-12 medium-2 truncate">
                        {{ message.assignmentTitle }}&nbsp;
                    </div>
                    <div class="column small-12 medium-3 truncate">
                        {{ message.userName }}&nbsp;
                    </div>
                    <div class="column small-12 medium-5 truncate">
                        {{ message.text }}&nbsp;
                    </div>
                    <div class="column small-12 medium-2 medium-text-right truncate">
                        <span>{{ message.created | moment:"MM/DD/YYYY" }}</span>&nbsp;

                    </div>
                </a>
            </li>
            <!-- <li class="no-stripe no-hover padding-small" ng-show="messages.length || paginating">
                <div class="column small-4">
                  <button class="secondary small-12 tiny" ng-click="loadNext()" ng-disabled="disableNext">Previous {{ limit }}</button>&nbsp;
                </div>
                <div class="column small-4">
                  <button class="secondary small-12 tiny" ng-click="reset()" ng-disabled="!paginating">Reset</button>
                </div>
                <div class="column small-4">
                  <button class="secondary small-12 tiny" ng-click="loadPrev()" ng-disabled="disablePrev">Next {{ limit }}</button>
                </div>
            </li> -->
            <li class="padding-small" ng-hide="messages.length">
                <h5 class="font-flair">No user assigment feedback found.</h5>
            </li>
        </ul>

    </div>

    <div id="subscriptions" class="small-12" ng-if="subscriptions.length">
        <div>
            <h3 class="font-flair transition-color">Subscriptions</h3>
        </div>

        <ul class="table-list striped hover link-padded text-x-medium">
            <li ng-repeat="(key, subscription) in subscriptions | orderBy:'expiration'" ng-disabled="subscription.subscriptionType == 'content' && expired(subscription)" ng-class="{disabled: subscription.subscriptionType == 'content' && isExpired(subscription)}">
                <a ui-sref="authenticated.master.nav.subscription.page({subscriptionKey: key, pageNumber: $storage['bookmark-' + key] || 0})">
                    <div class="column small-12 medium-3">{{ subscription.title }}</div>
                    <div class="column small-12 medium-3">{{ subscription.subscriptionDays }} Days</div>
                    <div class="column small-12 medium-6 medium-text-right">
                        <span ng-show="subscription.subscriptionType === 'interaction'">
                            <span ng-show="isExpired(subscription)">
                                <strong>Assignments Expired</strong>: {{ subscription.expiration | moment:"MM/DD/YYYY" }}
                            </span>
                            <span ng-hide="isExpired(subscription)">
                                <span ng-show="subscription.expiration">Assignments Expiration: {{ subscription.expiration | moment:"MM/DD/YYYY" }}</span>
                                <span ng-hide="subscription.expiration">Assignments not started</span>
                            </span>
                        </span>
                        <span ng-show="subscription.subscriptionType === 'content'">
                            <span ng-show="isExpired(subscription)">
                                <strong>Expired</strong>: {{ subscription.expiration | moment:"MM/DD/YYYY" }}
                            </span>
                            <span ng-hide="isExpired(subscription)">
                                <span ng-show="subscription.expiration">Expiration: {{ subscription.expiration | moment:"MM/DD/YYYY" }}</span>
                                <strong ng-hide="subscription.expiration">Click to start subscription</strong>
                            </span>
                            
                        </span>
                        
                    </div>
                    
                    
                </a>
            </li>
        </ul>

    </div>

    <div id="shipping" class="small-12" ng-if="shipments.length">
        <div>
            <h3 class="font-flair transition-color">Shipping</h3>
        </div>

        <ul class="table-list striped hover padded text-x-medium">
            <li ng-repeat="shipment in shipments">
                <div class="column small-12 medium-3">{{ shipment.item.title }}</div>
                <div class="column small-12 medium-3">{{ shipment.item.adjusted || shipment.item.price | currency }} x {{ shipment.item.quantity }}</div>
                <div class="column small-12 medium-3">
                    <a ng-show="shipment.tracking" href="{{ shipment.tracking.href }}">{{ shipment.tracking.number }}</a>
                </div>
                <div class="column small-12 medium-3 text-right">{{ shipment.created | moment:"MM/DD/YYYY" }}</div>
            </li>
        </ul>

    </div>

    <div id="gifts" class="small-12" ng-if="gifts.length">
        <div>
            <h3 class="font-flair transition-color">Gift Codes</h3>
        </div>

        <ul class="table-list striped hover padded text-x-medium">
            <li ng-repeat="gift in gifts" ng-class="{disabled: gift.useCount == gift.uses}">
                <div class="column small-12 medium-6">Code: <strong>{{ gift.code }}</strong></div>
                <div class="column small-12 medium-6 medium-text-right">Value: {{ gift.value | currency }}</div>
            </li>
        </ul>

    </div>

    <div id="downloads" class="small-12" ng-if="downloads.length">
        <div>
            <h3 class="font-flair transition-color">Downloads</h3>
        </div>

        <ul class="table-list striped hover link-padded text-x-medium">
            <li ng-repeat="download in downloads">
                <a href="/resource/{{ download.resource.keys.resource }}" target="_blank">
                    <div class="column small-12 medium-6">{{ download.title }}</div>
                    <div class="column small-12 medium-6 medium-text-right">{{ env.root }}/resource/{{ download.resource.key }}</div>
                </a>
            </li>
        </ul>

    </div>

    <div id="transactions" class="small-12" ng-if="transactions.length">
        <div>
            <h3 class="font-flair transition-color">Transactions</h3>
        </div>

        <ul class="table-list striped hover link-padded">
            <li class="text-x-medium" ng-repeat="transaction in transactions">
                <a ui-sref="authenticated.master.nav.transaction({userId: transaction.userId, key: transaction.keys.user })">
                    <div class="column small-12 medium-8">
                        <span>Items</span>
                        <hr>
                        <ul class="inline-list commas text-small">                        
                            <li ng-repeat="item in transaction.items">{{ item.title }}</li>
                        </ul>
                    </div>
                    <div class="column small-12 medium-2 medium-text-right">
                        {{ transaction.date | moment:"MM/DD/YYYY" }}
                    </div>
                    <div class="column small-12 medium-2 medium-text-right">
                        <strong ng-class="{'text-error': transaction.total && !transaction.charge.success}">{{ transaction.total | currency }}</strong>
                        <div class="text-error text-xx-small" ng-show="transaction.total && !transaction.charge.success">{{ transaction.charge.message }}</div>
                    </div>
                    
                </a>
            </li>
        </ul>

    </div>


</div>


