<!-- START Messages -->
<section id="messages" class="padding-vertical-medium" ng-if="groupedMessages">
    <h3 class="headline transition-color">Assignment Feedback</h3>

    <md-whiteframe class="md-whiteframe-z1 relative" layout="column" layout-fill flex>
        <md-content style="max-height: 500px;">
            <md-list class="hover" layout="column" ng-if="!groupedMessages">
                <md-item>
                    <md-item-content class="text-center" layout="row" layout-align="center center" layout-padding layout-wrap>
                        <h3 class="Headline">No feedback quite yet!</h3>
                    </md-item-content>
                </md-item>
            </md-list>
                
            <section ng-repeat="(dateAndAssignment, messages) in groupedMessages">
                <md-subheader>
                    {{ dateAndAssignment }}
                </md-subheader>
                <md-list class="hover" layout="column">
                    <md-item ng-repeat="message in messages">
                        <md-item-content layout="row">
                            <a class="undecorated" flex layout="row" layout-align="start start" layout-padding layout-wrap ui-sref="authenticated.master.subscription.assignment({subscriptionKey: message.subscriptionKey, assignmentKey: message.assignmentKey })">
                                <h4 flex="100" flex-gt-sm="30">{{ message.userName }}</h4>
                                <div flex>{{ message.text }}</div>
                            </a>
                            
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-item>
                </md-list>
            </section>
        </md-content>    
    </md-whiteframe>
</section>
<!-- END Messages -->

<!-- START subscriptions -->
<section id="subscription" class="padding-vertical-medium" ng-if="subscriptions.length">
    <h3 class="headline transition-color">Subscriptions</h3>

    <md-whiteframe class="md-whiteframe-z1 relative" layout="column" layout-fill flex>
        <md-content>
            <md-list layout="column">
                <md-item ng-if="!subscriptions.length">
                    <md-item-content class="text-center" layout="row" layout-align="center center" layout-padding layout-wrap>
                        <h3 class="Headline">You haven't signed up for any subscriptions.</h3>
                    </md-item-content>
                </md-item>
                <md-item ng-repeat="subscription in subscriptions | orderBy:'expiration'" ng-disabled="subscription.subscriptionType == 'content' && expired(subscription)" ng-class="{disabled: subscription.subscriptionType == 'content' && isExpired(subscription)}">
                    <md-item-content layout="row" layout-padding layout-wrap>
                        <h4 flex="100" flex-gt-sm="30">{{ subscription.title }}</h4>
                        <h4 flex="100" flex-gt-sm="30">{{ subscription.subscriptionDays }} Days</h4>
                        <md-button class="md-primary md-raised" flex ui-sref="authenticated.master.subscription.page({subscriptionKey: subscription.$id, pageNumber: $storage['bookmark-' + subscription.$id] || 0})" aria-label="Subscription {{ subscription.title }}">
                            
                            <span layout="row" layout-align="space-between" ng-if="subscription.subscriptionType === 'interaction' && isExpired(subscription)">
                                <span class="text-left" flex>Assignments expired</span>
                                <span class="text-right" flex>{{ subscription.expiration | moment:"MM/DD/YYYY" }}</span>
                            </span>
                            
                            <span layout="row" layout-align="space-between" ng-if="subscription.subscriptionType === 'interaction' && !isExpired(subscription) && subscription.expiration">
                                <span class="text-left" flex>Assignments expiration</span>
                                <span class="text-right" flex>{{ subscription.expiration | moment:"MM/DD/YYYY" }}</span>
                            </span>
                            
                            <span layout="row" layout-align="space-between" ng-if="subscription.subscriptionType === 'interaction' && !isExpired(subscription) && !subscription.expiration">
                                <span flex>Assignment not started</span>
                            </span>

                            <span layout="row" layout-align="space-between" ng-if="subscription.subscriptionType === 'content' && isExpired(subscription)">
                                <span class="text-left" flex>Expired</span>
                                <span class="text-right" flex>{{ subscription.expiration | moment:"MM/DD/YYYY" }}</span>
                            </span>

                            <span layout="row" layout-align="space-between" ng-if="subscription.subscriptionType === 'content' && !isExpired(subscription) && subscription.expiration">
                                <span class="text-left" flex>Expiration</span>
                                <span class="text-right" flex>{{ subscription.expiration | moment:"MM/DD/YYYY" }}</span>
                            </span>

                            <span layout="row" layout-align="space-between" ng-if="subscription.subscriptionType === 'content' && !isExpired(subscription) && !subscription.expiration">
                                <span flex>Click to start subscription</span>
                            </span>
                            
                        </md-button>
                        
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>

                </md-item>

            </md-list>

        </md-content>    

    </md-whiteframe>
</section>
<!-- END Subscriptions -->

<!-- START Shipping -->
<section id="shipping" class="padding-vertical-medium" ng-if="shipments.length">
    <h3 class="headline transition-color">Shipping</h3>

    <md-whiteframe class="md-whiteframe-z1 relative" layout="column" layout-fill flex>
        <md-content>
            <md-list layout="column">
                <md-item ng-if="!shipments.length">
                    <md-item-content class="text-center" layout="row" layout-align="center center" layout-padding layout-wrap>
                        <h3 class="Headline">You don't have any shipments.</h3>
                    </md-item-content>
                </md-item>
                <md-item ng-repeat="shipment in shipments">
                    <md-item-content layout="row" layout-padding layout-wrap>
                        <div flex="100" flex-gt-sm="30">{{ shipment.item.title }}</div>
                        <div flex="100" flex-gt-sm="20">{{ shipment.item.adjusted || shipment.item.price | currency }} x {{ shipment.item.quantity }}</div>
                        <div flex="100" flex-gt-sm="20" flex>{{ shipment.created | moment:"MM/DD/YYYY" }}</div>
                        <md-button flex ng-href="{{ shipment.tracking.href }}">
                            <span ng-show="shipment.tracking">{{ shipment.tracking.number }}</span>
                            <span ng-show="!shipment.tracking">Not yet shipped</span>
                        </md-button>
                        
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>

                </md-item>

            </md-list>

        </md-content>    

    </md-whiteframe>
</section>
<!-- END Shipping -->

<!-- START Gift codes -->
<section id="gifts" class="padding-vertical-medium" ng-if="gifts.length">
    <h3 class="headline transition-color">Gift Codes</h3>

    <md-whiteframe class="md-whiteframe-z1 relative" layout="column" layout-fill flex>
        <md-content>
            <md-list layout="column">
                <md-item ng-if="!gifts.length">
                    <md-item-content class="text-center" layout="row" layout-align="center center" layout-padding layout-wrap>
                        <h3 class="Headline">You don't have any gift codes quite yet.</h3>
                    </md-item-content>
                </md-item>
                <md-item ng-repeat="gift in gifts" ng-class="{disabled: gift.useCount == gift.uses}">
                    <md-item-content layout="row" layout-padding layout-wrap>
                        <div flex flex-sm="100">{{ gift.code }}</div>
                        <div flex style="max-width: 8rem;">Value: {{ gift.value | currency }}</div>
                        
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>

                </md-item>

            </md-list>

        </md-content>    

    </md-whiteframe>
</section>
<!-- END Gift codes -->

<!-- START Downloads -->
<section id="downloads" class="padding-vertical-medium" ng-if="downloads.length">
    <h3 class="headline transition-color">Downloads</h3>

    <md-whiteframe class="md-whiteframe-z1 relative" layout="column" layout-fill flex>
        <md-content>
            <md-list class="hover" layout="column">
                <md-item ng-if="!downloads.length">
                    <md-item-content class="text-center" layout="row" layout-align="center center" layout-padding layout-wrap>
                        <h3 class="Headline">You have nothing to download.</h3>
                    </md-item-content>
                </md-item>
                <md-item ng-repeat="download in downloads">
                    <md-item-content layout="row" layout-wrap>
                        <a class="undecorated" flex layout="row" layout-padding ng-href="/resource/{{ download.resource.keys.resource }}" target="_blank">
                            <div flex="100" flex-gt-sm="30">{{ download.title }}</div>
                            <div flex>{{ env.root }}/resource/{{ download.resource.key }}</div>
                        </a>
                        
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>

                </md-item>

            </md-list>

        </md-content>    

    </md-whiteframe>
</section>
<!-- END Downloads -->

<!-- START Transactions -->
<section id="transactions" class="padding-vertical-medium" ng-if="transactions.length">
    <h3 class="headline transition-color">Transactions</h3>

    <md-whiteframe class="md-whiteframe-z1 relative" layout="column" layout-fill flex>
        <md-content>
            <md-list class="hover" layout="column">
                <md-item ng-if="!transactions.length">
                    <md-item-content class="text-center" layout="row" layout-align="center center" layout-padding layout-wrap>
                        <h3 class="Headline">No transactions!</h3>
                    </md-item-content>
                </md-item>
                <md-item ng-repeat="transaction in transactions">
                    <md-item-content layout="row" layout-wrap>
                        <a class="undecorated" flex layout="row" layout-padding layout-wrap ui-sref="authenticated.master.nav.transaction({userId: transaction.userId, key: transaction.keys.user })">
                            <div flex="30" flex-sm="100">
                                #{{ transaction.transactionCount }}: {{ transaction.date | moment:"MM/DD/YYYY" }}        
                            </div>
                            <div flex flex-sm="100">
                                <ul class="inline-list">
                                    <li ng-repeat="item in transaction.items">{{ item.title }}</li>
                                </ul>        
                            </div>
                            <div flex style="max-width: 8rem;">
                                <strong ng-class="{'text-error': transaction.total && !transaction.charge.success}">{{ transaction.total | currency }}</strong>
                                <div class="text-error" ng-show="transaction.total && !transaction.charge.success">{{ transaction.charge.message }}</div>        
                            </div>

                        </a>
                        
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>

                </md-item>

            </md-list>

        </md-content>    

    </md-whiteframe>
</section>
<!-- END Transactions -->