<div class="column small-12">
  <h3 class="font-flair">Fit.io fitSettings</h3>
</div>

<div class="column small-12">
  <form name="movementForm">
    <fieldset>
      <h5 class="font-flair">Movements</h5>

      <div class="column small-12">
        <input id="movement" type="text" ng-model="newMovement" qv-enter="addMovement(newMovement); newMovement = '';" placeholder="New movement..." required>
        <button ng-click="addMovement(newMovement); newMovement = '';" qv-focus="#movement" ng-disabled="movementForm.$invalid">Add Movement</button>

        <ul class="table-list hover padded striped">
          <li class="table-list-header">
            <div class="column small-12 medium-4">
              Movement
            </div>
            <div class="column small-12 medium-4">
              Slug
            </div>
            <div class="column small-12 medium-4 medium-text-right">
              Action
            </div>

          </li>
          <li ng-repeat="movement in movements" ng-class="{disabled: movement.disabled}">
            <div class="column small-12 medium-4">
              {{ movement.name }}
            </div>
            <div class="column small-12 medium-4">
              {{ movement.slug }}
            </div>
            <div class="column small-12 medium-4 medium-text-right">
              <button class="tiny alert margin-zero" qv-confirm="removeMovement(movement); movement.disabled = true;" style="min-width: 7rem;" ng-disabled="movement.disabled">Delete</button>
            </div>
          </li>
        </ul>
      </div>

      
    </fieldset>

  </form>
  
</div>

<div class="column small-12">
  <form name="bodyFocusForm">
    <fieldset>
      <h5 class="font-flair">Body Focuses</h5>

      <div class="column small-12">
        <input id="body-focus" type="text" ng-model="newFocus" qv-enter="addBodyFocus(newFocus); newFocus = '';" placeholder="New body focus..." required>
        <button ng-click="addBodyFocus(newFocus); newFocus = '';" qv-focus="#body-focus" ng-disabled="bodyFocusForm.$invalid">Add Focus</button>

        <ul class="table-list hover padded striped">
          <li class="table-list-header">
            <div class="column small-12 medium-4">
              Body Focus
            </div>
            <div class="column small-12 medium-4">
              Slug
            </div>
            <div class="column small-12 medium-4 medium-text-right">
              Action
            </div>

          </li>
          <li ng-repeat="focus in bodyFocuses" ng-class="{disabled: focus.disabled}">
            <div class="column small-12 medium-4">
              {{ focus.name }}
            </div>
            <div class="column small-12 medium-4">
              {{ focus.slug }}
            </div>
            <div class="column small-12 medium-4 medium-text-right">
              <button class="tiny alert margin-zero" qv-confirm="removeBodyFocus(focus); focus.disabled = true;" style="min-width: 7rem;" ng-disabled="focus.disabled">Delete</button>
            </div>
          </li>
        </ul>
      </div>

      
    </fieldset>

  </form>
  
</div>

<div class="column small-12">
  <form name="equipmentForm">
    <fieldset>
      <h5 class="font-flair">Equipment</h5>

      <div class="column small-12">
        <input id="equipment" type="text" ng-model="newEquipment" qv-enter="addEquipment(newEquipment); newEquipment = '';" placeholder="New equipment..." required>
        <button ng-click="addEquipment(newEquipment); newEquipment = '';" qv-focus="#equipment" ng-disabled="equipmentForm.$invalid">Add Equipment</button>

        <ul class="table-list hover padded striped">
          <li class="table-list-header">
            <div class="column small-12 medium-4">
              Name
            </div>
            <div class="column small-12 medium-4">
              Slug
            </div>
            <div class="column small-12 medium-4 medium-text-right">
              Action
            </div>

          </li>
          <li ng-repeat="item in equipment" ng-class="{disabled: item.disabled}">
            <div class="column small-12 medium-4">
              {{ item.name }}
            </div>
            <div class="column small-12 medium-4">
              {{ item.slug }}
            </div>
            <div class="column small-12 medium-4 medium-text-right">
              <button class="tiny alert margin-zero" qv-confirm="removeEquipment(item); item.disabled = true;" style="min-width: 7rem;" ng-disabled="item.disabled">Delete</button>
            </div>
          </li>
        </ul>
      </div>

      
    </fieldset>

  </form>
  
</div>

<div class="column small-12">
  <h3 class="font-flair">Strength</h3>
</div>

<div class="column small-12">
  <form name="strengthForm">
    <fieldset ng-repeat="level in levels">
      <h5 class="font-flair">Strength {{ level.description }}</h5>

      <div class="column small-12">
        <label for="strength-{{ level.name }}-sets-min">Min Sets/Exercise</label>
        <input id="strength-{{ level.name }}-sets-min" type="number" ng-model="fitSettings.strength[level.name].sets.min" placeholder="Min sets per exercise...">
      </div>
      <div class="column small-12">
        <label for="strength-{{ level.name }}-sets-max">Max Sets/Exercise</label>
        <input id="strength-{{ level.name }}-sets-max" type="number" ng-model="fitSettings.strength[level.name].sets.max" placeholder="Max sets per exercise...">
      </div>
      <div class="column small-12">
        <label>Set Types</label>
        <ul class="table-list label-padded hover striped">
          <li>
            <label for="strength-{{ level.name }}-types-ab" style="padding-left: 4rem;">AB</label>
            <input id="strength-{{ level.name }}-types-ab" class="margin-xx-small-important" type="checkbox" ng-model="fitSettings.strength[level.name].sets.types.ab">
          </li>
          <li>
            <label for="strength-{{ level.name }}-types-abc" style="padding-left: 4rem;">ABC</label>
            <input id="strength-{{ level.name }}-types-abc" class="margin-xx-small-important" type="checkbox" ng-model="fitSettings.strength[level.name].sets.types.abc">
          </li>
          <li>
            <label for="strength-{{ level.name }}-types-abcd" style="padding-left: 4rem;">ABCD</label>
            <input id="strength-{{ level.name }}-types-abcd" class="margin-xx-small-important" type="checkbox" ng-model="fitSettings.strength[level.name].sets.types.abcd">
          </li>
        </ul>
      </div>
      <div class="column small-12">
        <label for="strength-{{ level.name }}-rest-min">Min Inter-Set Rest</label>
        <input id="strength-{{ level }}-rest-min" type="number" ng-model="fitSettings.strength[level.name].rest.min" placeholder="Min rest between sets (seconds)...">
      </div>
      <div class="column small-12">
        <label for="strength-{{ level.name }}-rest-max">Max Inter-Set Rest</label>
        <input id="strength-{{ level.name }}-rest-max" type="number" ng-model="fitSettings.strength[level.name].rest.max" placeholder="Max rest between sets (seconds)...">
      </div>
      <div class="column small-12">
        <label for="strength-{{ level.name }}-rest-exercise">Inter-Exercise Rest</label>
        <input id="strength-{{ level.name }}-rest-exercise" type="number" ng-model="fitSettings.strength[level.name].rest.exercise" placeholder="Rest between exercises (seconds)...">
      </div>
      
    </fieldset>

  </form>
  
</div>

<div class="column small-12">
  <h3 class="font-flair">HIIT</h3>
</div>

<div class="column small-12">
  <form name="hiitForm">
    <fieldset ng-repeat="level in levels">
      <h5 class="font-flair">HIIT {{ level.description }}</h5>

      <div class="column small-12">
        <label for="hiit-{{ level.name }}-interval-work">Work Interval</label>
        <input id="hiit-{{ level.name }}-interval-work" type="number" ng-model="fitSettings.hiit[level.name].interval.work" placeholder="Work interval (seconds)...">
      </div>
      <div class="column small-12">
        <label for="hiit-{{ level.name }}-interval-rest">Rest Interval</label>
        <input id="hiit-{{ level.name }}-interval-rest" type="number" ng-model="fitSettings.hiit[level.name].interval.rest" placeholder="Rest interval (seconds)...">
      </div>
      <div class="column small-12">
        <label for="hiit-{{ level.name }}-rest">Circuit Rest</label>
        <input id="hiit-{{ level.name }}-rest" type="number" ng-model="fitSettings.hiit[level.name].rest" placeholder="Rest between circuits (seconds)...">
      </div>
      <div class="column small-12">
        <label>Set Types</label>
        <ul class="table-list label-padded hover striped">
          <li>
            <label for="hiit-{{ level.name }}-types-ab" style="padding-left: 4rem;">AB</label>
            <input id="hiit-{{ level.name }}-types-ab" class="margin-xx-small-important" type="checkbox" ng-model="fitSettings.hiit[level.name].sets.types.ab">
          </li>
          <li>
            <label for="hiit-{{ level.name }}-types-abc" style="padding-left: 4rem;">ABC</label>
            <input id="hiit-{{ level.name }}-types-abc" class="margin-xx-small-important" type="checkbox" ng-model="fitSettings.hiit[level.name].sets.types.abc">
          </li>
          <li>
            <label for="hiit-{{ level.name }}-types-abcd" style="padding-left: 4rem;">ABCD</label>
            <input id="hiit-{{ level.name }}-types-abcd" class="margin-xx-small-important" type="checkbox" ng-model="fitSettings.hiit[level.name].sets.types.abcd">
          </li>
        </ul>
      </div>
      
    </fieldset>

  </form>
  
</div>

<div class="column small-12">
  <h3 class="font-flair">Cardio</h3>
</div>

<div class="column small-12">
  <form name="cardioForm">
    <fieldset ng-repeat="level in levels">
      <h5 class="font-flair">Cardio {{ level.description }}</h5>

      <div class="column small-12">
        <label for="cardio-{{ level.name }}-interval-work">Work Interval</label>
        <input id="cardio-{{ level.name }}-interval-work" type="number" ng-model="fitSettings.cardio[level.name].interval.work" placeholder="Work interval (seconds)...">
      </div>
      <div class="column small-12">
        <label for="cardio-{{ level.name }}-interval-rest">Rest Interval</label>
        <input id="cardio-{{ level.name }}-interval-rest" type="number" ng-model="fitSettings.cardio[level.name].interval.rest" placeholder="Rest interval (seconds)...">
      </div>
      <div class="column small-12">
        <label for="cardio-{{ level.name }}-rest">Circuit Rest</label>
        <input id="cardio-{{ level.name }}-rest" type="number" ng-model="fitSettings.cardio[level.name].rest" placeholder="Rest between circuits (seconds)...">
      </div>
      <div class="column small-12">
        <label>Set Types</label>
        <ul class="table-list label-padded hover striped">
          <li>
            <label for="cardio-{{ level.name }}-types-ab" style="padding-left: 4rem;">AB</label>
            <input id="cardio-{{ level.name }}-types-ab" class="margin-xx-small-important" type="checkbox" ng-model="fitSettings.cardio[level.name].sets.types.ab">
          </li>
          <li>
            <label for="cardio-{{ level.name }}-types-abc" style="padding-left: 4rem;">ABC</label>
            <input id="cardio-{{ level.name }}-types-abc" class="margin-xx-small-important" type="checkbox" ng-model="fitSettings.cardio[level.name].sets.types.abc">
          </li>
          <li>
            <label for="cardio-{{ level.name }}-types-abcd" style="padding-left: 4rem;">ABCD</label>
            <input id="cardio-{{ level.name }}-types-abcd" class="margin-xx-small-important" type="checkbox" ng-model="fitSettings.cardio[level.name].sets.types.abcd">
          </li>
        </ul>
      </div>
      <div class="column small-12">
        <label>Pace</label>
        <ul class="table-list label-padded hover striped">
          <li>
            <label for="cardio-{{ level.name }}-types-ab" style="padding-left: 4rem;">Slow</label>
            <input id="cardio-{{ level.name }}-types-ab" class="margin-xx-small-important" type="checkbox" ng-model="fitSettings.cardio[level.name].pace.slow">
          </li>
          <li>
            <label for="cardio-{{ level.name }}-types-abc" style="padding-left: 4rem;">Fast</label>
            <input id="cardio-{{ level.name }}-types-abc" class="margin-xx-small-important" type="checkbox" ng-model="fitSettings.cardio[level.name].pace.fast">
          </li>
        </ul>
      </div>
    </fieldset>

  </form>
  
</div>