<div class="column small-12">
  <h3 class="font-flair">Exercises</h3>
</div>

<div class="column small-12 medium-8">
  <form name="newExerciseForm">
    <input id="new-exercise-title" type="text" ng-model="newExerciseTitle" placeholder="New Title..." required/>
    <button ng-click="create(newExerciseTitle); newExerciseTitle = '';" ng-disabled="newExerciseForm.$invalid" qv-focus="#new-exercise-title">Create</button>
  </form>

</div>

<div class="column small-12 medium-4">
  <ul class="table-list striped link-padded hover" ng-show="added.length">
    <li class="table-list-header">
      Recently Added
    </li>
    <li ng-repeat="exercise in added">
      <a ui-sref="authenticated.master.admin.fit.exercise({exerciseKey: exercise.$id})">{{ exercise.title }}</a>
    </li>
  </ul>
</div>

<div class="column small-12" ui-view></div>