<div class="flex align-items-center">
    <form name="loginForm" class="column small-12 medium-10 medium-centered top-offset" ng-class="{'dark-form': settings.loginImage}">
      <div class="dark-wrapper">
        <fieldset>
            <div class="column small-12 medium-6 margin-vertical-medium">
                <div class="text-white0 padding-medium text-medium text-center cursor-pointer background-google" ng-click="google()">
                    <i class="fa fa-google-plus"></i> &nbsp; Sign in with Google
                </div>
            </div>
            <div class="column small-12 medium-6 margin-vertical-medium">
                <div class="text-white0 padding-medium text-medium text-center cursor-pointer background-facebook" ng-click="facebook()">
                    <i class="fa fa-facebook"></i> &nbsp; Sign in with Facebook
                </div>
            </div>

            <div class="column small-12">
                <h3 class="title padding-horizontal-zero-important">Sign in with email</h3>
            </div>

            <div class="column small-12 medium-6">
                <input type="email" ng-model="email" placeholder="Email..." required/>
            </div>
            <div class="column small-12 medium-6">
                <input type="password" ng-model="password" placeholder="Password..." required/>
            </div>
            
            <div class="column small-12">
                <ul class="inline-list">
                    <li>
                        <button id="login-button" ng-click="logIn(email, password)" ng-disabled="loginForm.$invalid">
                        <span>Sign in</span>
                        <span class="hidden backdrop background-highlight9" qv-loading target="#login-button"><img src="/images/ajax-loader.gif" style="margin-top: 1rem;"></span>
                    </button>
                    </li>
                    <li>
                        <a ui-sref="master.nav.register">Register</a>
                    </li>
                    <li>
                        <a ui-sref="master.nav.reset">Reset Password</a>
                    </li>
                </ul>
            </div>
            

            
        </fieldset>
      </div>
    </form>

</div>