<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ui-view="sidenavLeft"></md-sidenav>
    <div id="content" layout="column" flex layout-align="start center" layout-fill>
        <md-toolbar class="top-toolbar md-hue-3 border-primary0" layout="row" layout-align="start center" style="border-width: 0 0 2px 0; max-height: 62px;">
            <md-button class="min-3 text-large" ng-click="toggleSidenav('left')" hide-gt-md tabindex="0" aria-label="toggle left nav" style="margin: 0 -.5rem 0 0;">
                <i class="mdi-action-subject"></i>
            </md-button>
            <div class="md-toolbar-tools">
                <div layout="row" flex class="fill-height">
                    <a class="logo relative block" ng-href="{{ env.root }}" qv-to-static style="{{ settings.logoStyle }}" ng-if="settings.logo">
                        <img src="{{ settings.logo }}">
                    </a>
                    <h2 class="headline">
                        <a class="undecorated tight" ng-href="{{ env.root }}" qv-to-static ng-if="!settings.logo">{{ settings.siteTitle || 'Quiver CMS' }}</a>
                    </h2>
                    <span flex></span>
                    <div class="md-toolbar-item" ng-if="$storage.cart.productCount" qv-active>
                        <md-button class="md-fab md-mini md-primary md-raised" ui-sref="master.nav.cart" aria-label="shopping cart">
                            <span class="headline relative" ng-bind="$storage.cart.productCount" style="top: -1px; left: 1px;"></span>
                            <i class="mdi-action-shopping-cart"></i>
                        </md-button>
                    </div>
                    <div class="md-toolbar-item" ng-show="!currentUser" layout="row" layout-align="center center">
                        <md-button class="margin-horizontal-small" href="/app/login" aria-label="Log in">
                            <span hide-sm><i class="mdi-action-input"></i> &nbsp;</span>Login
                        </md-button>
                        <md-button href="/app/register" aria-label="Register" hide-sm>
                            Register
                        </md-button>
                    </div>
                    <div class="md-toolbar-item" ng-if="showTOC()">
                        <md-button flex ng-click="toggleSidenav('right')" tabindex="0" aria-label="Toggle right nav">
                            <i class="mdi-action-book"></i>
                            <span hide-sm>Table of Contents</span>
                            <span hide-gt-sm>TOC</span>
                        </md-button>
                    </div>
                    <div class="md-toolbar-item" ng-if="isAdminView()">
                        <md-button class="md-fab md-mini md-primary" ng-click="toggleSidenav('right')" tabindex="0" aria-label="Toggle right nav">
                            <i class="mdi-image-camera-alt"></i>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <md-content class="md-padding viewport-minus-header" flex layout-fill qv-background-image="settings.loginImage" states="['master.nav.login', 'master.nav.register', 'master.nav.reset']">
            <div flex layout="column" layout-align="center center" layout-fill ui-view="body" autoscroll="false"></div>
            <span qv-autoscroll scroll-on="scrollToBottom"></span>
        </md-content>
    </div>
    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" ui-view="sidenavRight"></md-sidenav>
</div>