<nav class="top-bar stretchy">
    <div class="row">
        <ul class="title-area">
            <li class="name">
                <h1><a class="font-flair bold-important text-x-large" href="{{ env.root }}" qv-to-static ng-show="settings">{{ settings.siteTitle || 'Quiver CMS' }}</a></h1>
            </li>
        </ul>

        <section class="top-bar-section" ng-show="currentUser">
            <ul class="left">
                <li qv-active>
                    <a ui-sref="authenticated.master.nav.dashboard"><i class="fa fa-dashboard"></i> &nbsp;Dashboard</a>
                </li>
                <li qv-active>
                    <a ui-sref="authenticated.master.nav.messages"><i class="fa fa-envelope"></i> &nbsp;Messages</a>
                </li>
                <li class="has-dropdown not-click" ng-if="user.private.commerce.subscriptions">
                    <a href="#"><i class="fa fa-university"></i> &nbsp;Subscriptions</a>
                    <ul class="dropdown">
                        <li ng-repeat="(key, subscription) in user.private.commerce.subscriptions">
                            <a ui-sref="authenticated.master.nav.subscription.page({subscriptionKey: key, pageNumber: $storage['bookmark-' + key] || 0})">{{ subscription.title }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>

        <section class="top-bar-section">
            <ul class="left">
                <li ng-if="settings.app1Title" class="has-dropdown not-click">
                    <a href="#">{{ settings.app1Title }}</a>
                    <ul class="dropdown">
                        <li ng-repeat="link in settings.app1">
                            <a href="{{ link.href }}" qv-to-static>{{ link.text }}</a>
                        </li>
                    </ul>

                </li>
                <li ng-if="!settings.app1Title" ng-repeat="link in settings.app1">
                    <a href="{{ link.href }}" qv-to-static>{{ link.text }}</a>
                </li>
            </ul>
        </section>

        <section class="top-bar-section">
            <ul class="left">
                <li ng-if="settings.app2Title" class="has-dropdown not-click">
                    <a href="#">{{ settings.app2Title }}</a>
                    <ul class="dropdown">
                        <li ng-repeat="link in settings.app2">
                            <<a href="{{ link.href }}" qv-to-static>{{ link.text }}</a>
                        </li>
                    </ul>

                </li>
                <li ng-if="!settings.app2Title" ng-repeat="link in settings.app2">
                    <a href="{{ link.href }}" qv-to-static>{{ link.text }}</a>
                </li>
            </ul>
        </section>

        <section class="top-bar-section">
            <ul class="left">
                <li ng-if="settings.app3Title" class="has-dropdown not-click">
                    <a href="#">{{ settings.app3Title }}</a>
                    <ul class="dropdown">
                        <li ng-repeat="link in settings.app3">
                            <a href="{{ link.href }}" qv-to-static>{{ link.text }}</a>
                        </li>
                    </ul>

                </li>
                <li ng-if="!settings.app3Title" ng-repeat="link in settings.app3">
                    <a href="{{ link.href }}" qv-to-static>{{ link.text }}</a>
                </li>
            </ul>
        </section>

        <section class="top-bar-section">
            <ul class="right">

                <li ng-show="$storage.cart.productCount" qv-active>
                  <a ui-sref="master.nav.cart">
                    <span ng-bind="$storage.cart.productCount"></span>
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                </li>

                <li ng-hide="currentUser" qv-active><a ui-sref="master.nav.login"><i class="fa fa-sign-in"></i> &nbsp;Login</a></li>

                <li ng-hide="currentUser" qv-active><a ui-sref="master.nav.register"><i class="fa fa-pencil"></i> &nbsp;Register</a></li>

                <li class="has-dropdown not-click" ng-show="currentUser" qv-active>
                    <a ui-sref="authenticated.master.nav.account">
                        <i class="fa fa-gears"></i>
                        <img class="gravatar" ng-src="{{ gravatar }}" alt="Gravatar"/>
                    </a>
                    <ul class="dropdown">
                        <li ng-show="user.private.isAdmin">
                            <li qv-active><a ui-sref="authenticated.master.admin"><i class="fa fa-bar-chart"></i> &nbsp;Admin Dashboard</a></li>
                        </li>
                        <li ng-show="currentUser">
                            <a ng-click="logOut()" ui-sref="authenticated.master.nav.dashboard"><i class="fa fa-sign-out"></i> &nbsp;Log Out</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </section>

    </div>
    

</nav>
