<section>
    <h3 class="headline">{{ word.title }}</h3>
    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap style="padding: 24px;">
        <div ng-if="!word.published.html">
            <div markdown-editable class="markdown" ng-model="word.published.markdown" extensions="video, iframe"></div>
        </div>
        <div ng-if="word.published.html">
            <div class="markdown" ng-bind-html="word.published.html"></div>
        </div>
    </md-whiteframe>
</section>
<section class="padding-vertical-medium">
    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-sm="column" layout-align="space-between center" layout-padding layout-wrap>
        <div class="text-center" flex>
            <strong class="margin-x-small">Previous</strong>
            <br>
            <md-button class="md-primary md-raised min-20 max-20 truncate" ui-sref="authenticated.master.subscription.page({subscriptionKey: subscriptionKey, pageNumber: prevPageNumber})">
                {{ prev.title }}
            </md-button>
        </div>
        <div class="text-center" flex>
            <strong class="margin-x-small">Next</strong>
            <br>
            <md-button class="md-primary md-raised min-20 max-20 truncate" ui-sref="authenticated.master.subscription.page({subscriptionKey: subscriptionKey, pageNumber: nextPageNumber})">
                {{ next.title }}
            </md-button>
        </div>
    </md-whiteframe>
    <!--     <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="space-between start" layout-padding layout-wrap>
        <div class="min-20 max-20 text-center" flex layout-fill ng-repeat="page in pages">
            <md-button class="md-primary md-raised min-16 max-16 truncate" ui-sref="authenticated.master.subscription.page({subscriptionKey: subscriptionKey, pageNumber: $index})" ng-disabled="$index == pageNumber">
                {{ page.title }}
            </md-button>
        </div>
        <span flex></span>
    </md-whiteframe> -->
</section>