<md-dialog class="padding-medium" layout="row" layout-padding layout-wrap style="max-width: 40rem;">
    <md-button class="md-icon-button md-warn md-raised absolute" ng-click="cancel()" style="top: .5rem; right: .5rem;" aria-label="Close payment method dialog">
        <i class="mdi-content-clear"></i>
    </md-button>
    <h3 class="headline" flex="100">New Payment Method</h3>
    <style>
    #dropin {
        min-height: 196px;
    }
    </style>
    <div braintree-drop-in token="clientToken" on-save="onSave();" flex></div>
</md-dialog>