<div class="flex align-items-center">
    <form name="resetForm" class="column small-12 medium-10 large-6 medium-centered top-offset" ng-class="{'dark-form': settings.loginImage}">
      <div class="dark-wrapper">
        <h3 class="title">Reset Password</h3>

        <fieldset>
            <input type="email" ng-model="email" placeholder="Email..." required/>

            <ul class="inline-list">
                <li>
                    <button ng-click="resetPassword(email)" ng-disabled="resetForm.$invalid">Send Reset Email</button>
                </li>
                <li>
                    <a ui-sref="master.nav.login">Log In</a>
                </li>
                <li>
                    <a ui-sref="master.nav.register">Register</a>
                </li>
            </ul>
        </fieldset>
      </div>
    </form>
</div>