<md-content role="navigation">
    <section ng-show="currentUser">
        <md-toolbar>
            <h5 class="md-toolbar-tools">
        {{ user.name || user.preferredEmail || user.email }}
      </h5>
        </md-toolbar>
        <div layout="column" layout-padding>
            <span layout="row" flex qv-active ng-show="user.isAdmin">
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.dashboard">
          <i class="mdi-action-settings-applications"></i> Admin Dashboard
        </md-button>
      </span>
            <span layout="row" flex>
        <md-button class="text-left" flex ui-sref="authenticated.master.nav.dashboard">
          <i class="mdi-action-dashboard"></i> User Dashboard
        </md-button>
      </span>
            <span layout="row" flex>
        <md-button class="text-left" flex ui-sref="authenticated.master.nav.messages.list">
          <i class="mdi-communication-message"></i> Messages
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.nav.account">
          <i class="mdi-action-account-box"></i> Account
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ng-click="clearCache()">
          <i class="mdi-action-cached"></i> Clear Cache
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ng-click="logOut()" ui-sref="authenticated.master.nav.dashboard">
          <i class="mdi-action-exit-to-app"></i> Log Out
        </md-button>
      </span>
        </div>
    </section>
    <section>
        <md-toolbar>
            <h5 class="md-toolbar-tools">
        Feedback
      </h5>
        </md-toolbar>
        <div layout="column" layout-padding>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.messages.list">
          Messages
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.uploads.list">
          Uploads
        </md-button>
      </span>
        </div>
    </section>
    <section>
        <md-toolbar layout="row">
            <h5 class="md-toolbar-tools">
        Content
      </h5>
        </md-toolbar>
        <div layout="column" layout-padding>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.words.list">
          Words
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.assignments.list">
          Assignments
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.files.list">
          Files
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.products">
          Products
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.hashtags">
          Hashtags
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.social">
          Social Media
        </md-button>
      </span>
        </div>
    </section>
    <section>
        <md-toolbar>
            <h5 class="md-toolbar-tools">
        eCommerce
      </h5>
        </md-toolbar>
        <div layout="column" layout-padding>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.transactions.list">
          Transactions
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.discounts.list">
          Discounts
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.subscriptions.list">
          Subscriptions
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.shipments.list">
          Shipments
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.resources.list">
          Resources
        </md-button>
      </span>
        </div>
    </section>
    <section>
        <md-toolbar>
            <h5 class="md-toolbar-tools">
        Settings
      </h5>
        </md-toolbar>
        <div layout="column" layout-padding>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.settings">
          Settings
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.email.list">
          Email
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.users.list">
          Users
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.commerce">
          Commerce
        </md-button>
      </span>
            <span layout="row" flex qv-active>
        <md-button class="text-left" flex layout-fill ui-sref="authenticated.master.admin.surveys.list">
          Surveys
        </md-button>
      </span>
        </div>
    </section>
</md-content>